[2018-08-09 21:43] ststimac commented on #392
Those two are pretty different content & design-wise. The Travis one seems to just be summaries with links and the github one links out to individual update pages with summaries and links.

[2018-08-09 21:49] molant commented on #392
The general idea is that instead of grouping by version we group by date and put all the updates of all the packages at that time.

Structure wise, something like the following:

![image](https://user-images.githubusercontent.com/606594/43927758-642c78c4-9be3-11e8-866b-b566184e0510.png)

[2018-08-09 21:50] ststimac commented on #392
Got it. Ok.

[2018-08-09 22:08] #483 closed

[2018-08-13 18:02] molant opened #486 "Update deployment script"
This is what I'm thinking on doing with travis. @alrra let me know if something seems out of place

| Step | Task |
|------|------|
| before_install | N/A |
| install | `npm build` |
| before_script | N/A |
| script | `npm test` (lint + `hint` local) |
| after_success | N/A |
| before_deploy | N/A |
| deploy | deploy to Azure staging |
| after_deploy | `hint` staging |
| after_script | swap into p

[2018-08-13 18:04] molant commented on #486
I'm trying to see if I can deploy an specific folder but if not we will have to reinstall dependencies again for the last 2 tasks (`hint` and Azure CLI)

[2018-08-13 23:33] #51 closed

[2018-08-14 11:13] GuillaumeRossolini commented on #469
The red bird does appear for a second, and then it disappears.

Example with Chrome Canary with /static/images/favicon_failed-13305bf6b9.ico:
https://webhint.io/scanner/e3e5cfb3-8b1c-4018-98db-4684e288d904

[2018-08-14 14:02] molant commented on #469
I think we are still executing the JS of the scanner results even though the test is finished.
IIRC https://github.com/webhintio/webhint.io/pull/474 should fix that particular issue where the icon changes even though the results are finished. @sarvaje is that true?

Re updating the icon while the tests are running I still need to figure out how to do that.

[2018-08-14 17:37] ststimac opened #489 "Investigate font weight discrepancies between browsers & OS"
MacOS:

![screen shot 2018-08-14 at 10 35 08 am](https://user-images.githubusercontent.com/18073131/44107932-c4ed53e0-9fad-11e8-9655-3af9c75a6fd0.png)

Mac is displaying font weights much more realistically while on Windows font weights seem to be barely distinguishable. I want to find out if there's anything we can do so fonts display more true to their assigned weights on Windows.

to do: I will

[2018-08-20 22:01] ststimac commented on #392
Are the changes for each package going to be grouped into bug fixes/improvements and new features still?

[2018-08-20 22:59] molant commented on #392
The changelog comes with that information. I think it will be useful to have it but it could have a different visual. Up to you!

[2018-08-21 18:57] alrra opened #491 "Make it more obvious the project is open source and the code is available on GitHub"
We don't seem to be converting website visitors to GitHub repository visitors.

---

I think one of the first things we can look into is make the GitHub icons more obvious (right now there are small and kinda hidden).

[2018-08-21 19:07] ststimac commented on #491
I think we could also modify the intro text a bit to say that webhint is an open-source linting tool and link out from there as well.

[2018-08-21 21:55] ststimac commented on #392
Here are a couple different variations for an updated layout:

![changelog_08-2018-01](https://user-images.githubusercontent.com/18073131/44431170-e3591400-a551-11e8-9882-60a2e97acee2.png)
__

![changelog_08-2018_changelog-update-2](https://user-images.githubusercontent.com/18073131/44431175-e94ef500-a551-11e8-9e8c-22e679ce1f82.png)

--

![changelog_08-2018_changelog-update-3](https://user-images.

[2018-08-22 13:10] Calinou opened #492 "empty.webhint.io contains invalid HTML"
This probably has no real consequences, but [empty.webhint.io](https://empty.webhint.io) contains invalid HTML since its first line is `<DOCTYPE html>` instead of `<!DOCTYPE html>`.

For reference, this is the page's HTML source:

[code]

[2018-08-22 13:30] alrra commented on #492
@Calinou Good catch, and thanks for opening this issue!

---

@sarvaje, @molant We should change the page to:

[code]

[2018-08-22 18:39] molant commented on #492
Fixed!

[2018-08-22 18:39] #492 closed

[2018-08-22 18:52] molant commented on #392
I think I like the first option best. @webhintio/core what do you think?

[2018-08-22 19:13] alrra commented on #392
No. 3 for me.

[2018-08-22 19:18] antross commented on #392
I like the first one best, but all are good.

[2018-08-22 20:34] ststimac commented on #392
I prefer option 2.

[2018-08-22 20:45] sarvaje commented on #392
+1 to option 1

[2018-08-22 20:47] molant commented on #392
| Option | Votes |
| --------|-------|
| 1 |  3 (@sarvaje, @antross, @molant) |
| 2 |  1 (@ststimac) |
| 3 |  1 (@alrra) |

Do we have a winner?

[2018-08-22 20:49] molant opened #493 "Deploy gets triggered (and fails) on PRs"
Check the log of any recent PR, it will try to log into Azure. Need to find a way to prevent this.

[2018-08-22 21:02] alrra commented on #493
You can use the [`TRAVIS_PULL_REQUEST` environment variable](https://docs.travis-ci.com/user/pull-requests/#pull-requests-and-security-restrictions), or [Travis Ci conditions](https://docs.travis-ci.com/user/conditions-v1).

[2018-08-22 23:12] #493 closed

[2018-08-22 23:48] molant commented on #392
@ststimac we've merged a big PR in the site that changes the templating system from handlebars to ejs. You might want to branch again from master if you've started working on this to avoid messy conflicts and headaches.

[2018-08-22 23:49] ststimac commented on #392
Nope! Haven't started with the code yet so that's fine :)

[2018-08-23 13:49] #434 closed

[2018-08-24 14:43] zlypher opened #496 ""perform another scan" link broken on scanner page"
The "perform another scan" link at the bottom of the scanner page is broken. It has a HREF of "scanner/" and leads to https://webhint.io/scanner/scanner/ which results in a 500 page.

![image](https://user-images.githubusercontent.com/820423/44590922-8e6d0600-a7bc-11e8-9dee-856ce5a587a0.png)

Steps:
1. Open any scanner report page
2. Scroll to the bottom of the page
3. Check "perform another scan"

[2018-08-24 14:53] molant opened #497 ""Perform another scan" URL points to "/scanner/scanner""
![image](https://user-images.githubusercontent.com/606594/44591505-bfc0e400-a772-11e8-86eb-189743161688.png)

Reported by @getify in https://github.com/webhintio/hint/issues/1256

[2018-08-24 14:57] molant commented on #497
Closing in favor of #496

[2018-08-24 14:57] #497 closed

[2018-08-24 15:08] molant commented on #496
@zlypher good catch!

I've opened https://github.com/webhintio/hint/issues/1266 because it comes from else where but will keep this open because probably we will have to do some work in the site as well.

[2018-08-27 19:18] sarvaje commented on #496
I don't know if the change is deployed, but I it is fixed. @alrra @molant can we close this issue?

[2018-08-28 13:01] molant opened #498 "`js-yaml` is missing as a direct dependency"
This is causing the node part of the website to fail.
Original report by @utrenkner in https://github.com/webhintio/online-service/issues/143

![image](https://user-images.githubusercontent.com/606594/44724495-b5129180-aa87-11e8-965e-275d3f2b1168.png)

[2018-08-28 13:08] molant commented on #498
Living this open until the change or a fix is in production.

[2018-08-28 13:13] molant commented on #498
I've manually installed the dependency in production and https://github.com/webhintio/webhint.io/commit/ce07b580a862c80cf799c2e57a0ddcb73bc26a96 has the fix that is currently going through the deployment process. Closing this.

[2018-08-28 13:13] #498 closed

[2018-09-04 19:43] molant opened #500 "Results from old scans are not accurate"
[This link](https://webhint.io/scanner/9512a7e5-be58-4fce-9a1d-8f151b302e55) passes all the tests even though is `http`.

We are probably messing something between hints and rules. @sarvaje can you please take a look at this when you finish what you are doing at the moment?

[2018-09-04 23:13] #500 closed

[2018-09-05 17:14] ststimac opened #503 "Update 404 page to be more user friendly"
Currently there is only an illustration with some text saying you're lost/there's nothing here. An additional link should be added in the page to take the user back home, at the least.

[2018-09-07 16:24] molant opened #505 ""View all" Links don't point anywhere"
Go to https://webhint.io/docs/user-guide/hints/ and click on any "View all" link. They don't have any `href`.

Also it will be nice to make the number of hints a link as well.

[2018-09-07 17:17] ststimac commented on #489
I've looked into this. Not a whole lot we can do. Windows renders fonts much thinner unfortunately.

[2018-09-07 17:17] #489 closed

[2018-09-07 19:17] #505 closed

[2018-09-07 23:48] #481 closed

[2018-09-09 15:08] Malvoz opened #509 "Refined search"
Initially I was wondering if `Expect-CT` should apply to all responses (if served over HTTPS) and not only `text/html` responses (I should open an issue on this, in [webhintio/rfcs](https://github.com/webhintio/rfcs) I assume), so I used the search bar and found nothing.

Then to try out the search capabilities I searched for `x-frame-options` and that entire list shows links about `x-content-type

[2018-09-09 15:50] Malvoz opened #510 "[hint] Additional HTTP headers"
- [`Cross-Origin-Resource-Policy`](https://fetch.spec.whatwg.org/#cross-origin-resource-policy-header) - enables authors to prevent other domains from loading resources by restricting any kind of cross-origin load to protect themselves against Spectre attacks. This header was originally named `From-Origin`.  [Available in Safari 12](https://webkit.org/blog/8332/release-notes-for-safari-technology-

[2018-09-10 17:12] molant commented on #509
Thanks for your feedback @Malvoz!

You are right, we should do better in this area. We are using [algolia](https://www.algolia.com/) and basically use the defaults of the service for indexing and showing results. We should look into the documentation to see what can be done.

[2018-09-10 17:18] molant commented on #510
@Malvoz can you please open a single issue in RFCs called "Security headers" with all of these?
We can then decide if it makes sense to split them or just have one rule that checks for all of these.

We were also thinking about [CORB](https://github.com/webhintio/hint/issues/767)

Thanks!

[2018-09-10 19:01] Malvoz commented on #510
Closing this per https://github.com/webhintio/rfcs/issues/38.

[2018-09-10 19:01] #510 closed

[2018-09-12 06:03] greenkeeper[bot] opened #512 "An in-range update of hint is breaking the build 🚨"
## Version **3.4.0** of **hint** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/webhintio/webhint.io/compare/master...webhintio:greenkeeper%2Fhint-3.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/webhintio/hint>hint</a>

[2018-09-12 06:04] greenkeeper[bot] opened #513 "An in-range update of @hint/formatter-html is breaking the build 🚨"
## Version **1.0.4** of **@hint/formatter-html** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/webhintio/webhint.io/compare/master...webhintio:greenkeeper%2F%40hint%2Fformatter-html-1.0.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https:

[2018-09-12 23:03] greenkeeper[bot] opened #514 "An in-range update of lodash is breaking the build 🚨"
## The dependency [lodash](https://github.com/lodash/lodash) was updated from `4.17.10` to `4.17.11`.

🚨 [View failing branch](https://github.com/webhintio/webhint.io/compare/master...webhintio:greenkeeper%2Flodash-4.17.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lodash is a direct dependency of this project, and

[2018-09-13 03:02] molant commented on #514
Fixed via 066aea7b8649faf76248fe076b9e09732de1f754

[2018-09-13 03:02] #514 closed

[2018-09-13 03:03] molant commented on #513
Fixed via 066aea7b8649faf76248fe076b9e09732de1f754

[2018-09-13 03:03] #513 closed

[2018-09-13 14:57] Malvoz opened #515 "Site search not working"
[Currently](https://webhint.io/search/?q=searchterm), OpenSearch-searches return a status 500 response code.

Also, as a side note; the [opensearch spec says](https://github.com/dewitt/opensearch/blob/master/opensearch-1-1-draft-6.md#mime-type-applicationopensearchdescriptionxml) to serve the file with
`Content-Type: application/opensearchdescription+xml`.
However this _may_ change in the future a

[2018-09-13 15:19] Malvoz commented on #443
Wrap the license in an "important comment" `/*! ... */`? I'm assuming the minifier that is used will respect those.

[2018-09-13 16:27] molant commented on #443
It could be but I want to remember that there was something else. I think the problem was that we could end up registering multiple service workers if we minify them and change the names (`sw.js` --> `sw.1234.js`, `sw.5678.js`) and that would be a big problem. In any case, we've removed the service worker until we are sure to have the right strategy in place (I think we were discussing a network f

[2018-09-13 16:27] #443 closed

[2018-09-13 16:41] Malvoz commented on #362
Here's a couple of pointers, I hope they'll be of help if/when you decide to reintroduce service workers again:

For `webhint-worker.js`,
- Should live in the root folder, enables full scope of the site.<br><br>
- Don't set a hash in the url, it may cause issues (sw always updated if the file is modified anyways):
→ https://developers.google.com/web/fundamentals/primers/service-workers/lifecycle#a

[2018-09-13 21:48] Malvoz opened #516 "Improvements to the Open Graph Protocol impl."
I [ran a check for webhint.io](https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fwebhint.io%2F) on the facebook-developers sharing debugger which concluded the `og:image` property is invalid because the image source is relative, but an absolute url is required.

![webhint io](https://user-images.githubusercontent.com/26493779/45515429-6f083e00-b7a8-11e8-91f0-2eb7b9370bfa.png)

I

[2018-09-14 16:29] Malvoz commented on #453
@ststimac
The MS platform status page has a &lt;details&gt;/&lt;summary&gt; polyfill implemented, that is why the tabbing works when you interact with the element using Edge.

This is because what @molant said, the feature is still a work in progress for Edge: https://developer.microsoft.com/en-us/microsoft-edge/platform/status/detailssummary/

What Edge does when:

**Details is open**
[code]
// A

[2018-09-17 16:52] ststimac commented on #316
@molant is there a preference between the two of these? And once we pick, do you want me to just email the image to you?

![toast-notification-01](https://user-images.githubusercontent.com/18073131/45637408-3e056300-ba5f-11e8-93b6-6c1415ea36d5.png)

![toast-notification-02](https://user-images.githubusercontent.com/18073131/45637409-3e056300-ba5f-11e8-9d22-110b6aa05c68.png)

[2018-09-17 16:58] molant commented on #316
If these images have the right resolution already no need to do anything else. We'll pick one once we do the work and test in different browsers.

Thanks!

[2018-09-17 17:01] ststimac commented on #316
Saved out at 192x192 and 72dpi (screen res). Should be all good.

[2018-09-17 17:12] alrra opened #518 "Use illustrations from `artwork` repository"
Let's not duplicate things and use the illustrations from https://github.com/webhintio/artwork (published as [`@hint/artwork`](https://www.npmjs.com/package/@hint/artwork) on `npm`).

[2018-09-18 21:27] molant commented on #453
@sarvaje is taking care of this with the new results page.

[2018-09-18 21:28] molant commented on #469
@sarvaje is taking care of this with the new results page.

[2018-09-18 22:07] Malvoz commented on #515
@molant
Unfortunately the issue persist.

[2018-09-18 23:09] alrra commented on #515
Confirmed.

[2018-09-19 23:00] molant opened #520 "Top level sections are not accessible and don't have content when accessed directly"
The content of `development flow integration` is:

![image](https://user-images.githubusercontent.com/606594/45786304-b9644180-bc24-11e8-89bb-9c00a3d7cdf0.png)

But the [`index.md` has content](https://github.com/webhintio/hint/blob/master/packages/hint/docs/user-guide/development-flow-integration/index.md).

Also because of how navigation works the user needs to manually type the url, there's no

[2018-09-24 22:22] luntrus opened #522 "the scan will not perform"
Trying to use the website scanner I got an error message:
Scan failed to start [code] <script src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js" integrity="sha384-bpcisN7hXHzDmg5JLgtPet7fpev9Wwwqgw8zlXpOh7AkvJ+wYjwrMzHH8fVvq1Dq" crossorigin="anonymous"></script>[/code]
[quote]
Probable issue: content-tss.js loaded:  https://webhint.io/scanner/
VM47:5 hosted page injected
content-ads.js

[2018-09-24 22:49] molant commented on #522
Hi @luntrus,
it looks like the certificate hasn't been auto-renewed. We are currently working on it.

Thanks!

[2018-09-24 22:54] molant commented on #522
This should be working now.

[2018-09-24 22:54] #522 closed

[2018-09-25 21:09] molant opened #523 "Links to other parts of the documentation are sometimes broken"
The process doesn't seem to update the `.md` links to the website valid ones.

E.g.:

* https://webhint.io/docs/contributor-guide/getting-started/architecture/ --> There's a link pointing to https://webhint.io/docs/contributor-guide/getting-started/how-to/connector.md instead of https://webhint.io/docs/contributor-guide/how-to/connector/

* https://webhint.io/docs/contributor-guide/how-to/connecto

[2018-09-25 21:58] molant commented on #523
After a bit of digging, it looks like in some places we are linking to `.md` and others not.
We should normalize this.

[2018-09-28 05:13] greenkeeper[bot] opened #524 "An in-range update of hint is breaking the build 🚨"
## The dependency [hint](https://github.com/webhintio/hint) was updated from `3.4.4` to `3.4.5`.

🚨 [View failing branch](https://github.com/webhintio/webhint.io/compare/master...webhintio:greenkeeper%2Fhint-3.4.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

hint is a direct dependency of this project, and **it is ver

[2018-10-02 09:37] Pamplemousse opened #525 "The content-type 'application/javascript' should not raise an error"
I get an error in the Interoperability section during the scan of a website, stating:

[code]

Hinting that the `text/javascript` should be used in place of the `application/javascript`.

However, this is the exact opposite of what the [RFC 4329](https://www.rfc-editor.org/rfc/rfc4329.txt) states:
[code]

[2018-10-02 14:29] alrra commented on #525
@Pamplemousse See https://github.com/webhintio/hint/issues/568#issuecomment-339945844. Thanks!

[2018-10-02 14:29] #525 closed

[2018-10-03 03:04] Nexuist commented on #471
I can take this! I'll include a generic policy that enables crawlers unless there is anything you guys want to specifically block out.

[2018-10-03 04:11] molant commented on #471
@Nexuist that sounds perfect, thanks a lot!

[2018-10-04 02:30] molant commented on #471
Hi @Nexuist,

Just in case, you are looking into adding the `robots.txt` file into `https://github.com/webhintio/webhint.io/tree/master/src/webhint-theme/source/static`.

`npm run build` should compress that file and add it into the `dist` folder, but you might want to double check that.

Thanks!

[2018-10-04 19:59] RoryDuncan commented on #518
I can take a look at this one. 😃

[2018-10-04 20:29] molant commented on #518
Perfect!
There are different ways of doing this. I was thinking of a post install task that copies the files in the right place but if you have a different idea let us know.
The current illustrations are under the webhint- theme folder.

Let us know if you run into any issue or have any question and thanks!

P

[2018-10-04 21:03] RoryDuncan commented on #518
Yeah, I was thinking the same thing—based off my little bit of perusing.
I will certainly reach out if needed!

[2018-10-05 15:00] nhoizey opened #529 "Make the URL in the result page a real link instead if a button disguised as a link"
I tried the online reporter and tried to copy the URL of "Your scan result link", but couldn't do it.

I inspected the element and discovered this "LINK" looks indeed like a link, but is actually a button. 🤔

Clicking on it doesn’t do anything in my browser, there is no error in the console, I can’t right click it to open in a new tab, and I can’t select the URL to copy it…

![nhoizey_2018-oct -05

[2018-10-05 15:38] molant commented on #529
There seems to be a couple issues in here:

* [ ] **Your scan result link** should be a link and have also a copy button at the end instead of being just one button
* [ ] Can't access previous scan results

@sarvaje can you please take a look at these starting with the previous scan results?

Thanks @nhoizey for reporting this!

[2018-10-05 16:57] molant commented on #529
RE the white line on the top left, it looks like it's the element for the clipboard:

![image](https://user-images.githubusercontent.com/606594/46548827-02eb9800-c885-11e8-996c-a41e4a4a7811.png)

[2018-10-05 18:49] #518 closed

[2018-10-05 19:16] sarvaje commented on #529
The link issue and the white line are fixed in: https://github.com/webhintio/hint/pull/1376

[2018-10-05 20:29] alrra commented on #524
This was fixed.

[2018-10-05 20:29] #524 closed

[2018-10-05 20:31] greenkeeper[bot] opened #531 "An in-range update of @hint/formatter-html is breaking the build 🚨"
## The dependency [@hint/formatter-html](https://github.com/webhintio/hint) was updated from `1.0.5` to `1.0.6`.

🚨 [View failing branch](https://github.com/webhintio/webhint.io/compare/master...webhintio:greenkeeper%2F%40hint%2Fformatter-html-1.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@hint/formatter-html is

[2018-10-05 20:31] alrra commented on #531
Already fixed in https://github.com/webhintio/webhint.io/commit/3250862860e409b55181139ee9fe962eb06607c0.

[2018-10-05 20:31] #531 closed

[2018-10-05 21:30] alrra commented on #529
[Changes are now live](https://webhint.io/scanner/73b6ee6e-a779-4b02-8bd0-9ac7ad12d972).

[2018-10-06 09:43] nhoizey commented on #529
Awesome, thanks!

[2018-10-06 09:47] nhoizey commented on #529
Well… the result hides when the scan is finished… :-/

[2018-10-06 15:58] alrra commented on #529
Sorry if I missed something, can you provide more details? Thanks!

[2018-10-08 17:08] #471 closed

[2018-10-08 17:49] frvge opened #533 "Fix grammer on Scanner page"
Fix grammar of "Her and her team" on the Scanner page ( https://webhint.io/scanner/ ).

https://www.reddit.com/r/grammar/comments/6gn1na/her_and_her_team_vs_she_and_her_team/

[2018-10-08 19:53] sarvaje commented on #529
@nhoizey when the analysis status is "error" (there was an error running sonarwhal in the server) we hide the results (on purpose)  and an error message should appear.

Is there an error message when the results is hidden?

[2018-10-08 21:34] nhoizey commented on #529
@sarvaje there was indeed an error, it looks like the Axe test for accessibility didn't work at all.

Why do you hide other results?

[2018-10-08 22:41] molant commented on #529
@nhoizey we only hide the results if there's been a general error. E.g.: analyzing a URL that doesn't exist.
Do you have the permalink to that scan or the url so we can investigate more? You can also send it via DM to @webhintio if you prefer not to share it publicly.

[2018-10-09 13:56] Malvoz opened #536 "Allow to filter out third-party resource errors"
Naturally, most actionable improvements for developers will be that of 1st party content. I suggest in the future there could be a toggle to filter out errors applying to the content of third-party resources.

For example, if I load a static `<script>` cross-origin without SRI, I'd still like to know that I should include the `integrity` attribute, however I may potentially want to filter out the

[2018-10-09 14:04] Malvoz commented on #516
I don't have much time at the moment. If someone else would like to open a PR on this, by all means do! :)

[2018-10-09 15:48] molant commented on #536
I consider this part of #233 so closing it.

We are exploring how to integrate webhint into an extension and part of the exercise is how to allow the users to easily configure it. Hopefully that solution will port over to the website but I don't know when that will happen. We are pretty busy with other things but if someone from outside the core team wants to tackle this we will make sure to help

[2018-10-09 15:48] #536 closed

[2018-10-09 15:59] greenkeeper[bot] opened #537 "An in-range update of hint is breaking the build 🚨"
## The dependency [hint](https://github.com/webhintio/hint) was updated from `3.4.8` to `3.4.9`.

🚨 [View failing branch](https://github.com/webhintio/webhint.io/compare/master...webhintio:greenkeeper%2Fhint-3.4.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

hint is a direct dependency of this project, and **it is ver

[2018-10-09 16:03] greenkeeper[bot] opened #538 "An in-range update of @hint/formatter-html is breaking the build 🚨"
## The dependency [@hint/formatter-html](https://github.com/webhintio/hint) was updated from `1.0.6` to `1.0.7`.

🚨 [View failing branch](https://github.com/webhintio/webhint.io/compare/master...webhintio:greenkeeper%2F%40hint%2Fformatter-html-1.0.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@hint/formatter-html is

[2018-10-09 17:00] Malvoz commented on #536
@molant ya just let me know, I'll gladly to provide feedback anywhere I can.

[2018-10-16 22:02] greenkeeper[bot] opened #540 "An in-range update of applicationinsights is breaking the build 🚨"
## The dependency [applicationinsights](https://github.com/Microsoft/ApplicationInsights-node.js) was updated from `1.0.5` to `1.0.6`.

🚨 [View failing branch](https://github.com/webhintio/webhint.io/compare/master...webhintio:greenkeeper%2Fapplicationinsights-1.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

applica

[2018-10-18 16:18] molant commented on #469
@sarvaje is this fixed with the new results page?

[2018-10-18 16:18] molant commented on #453
@sarvaje I think this is fixed, right?

[2018-10-18 17:00] sarvaje commented on #469
@molant I need to take a look at this.

[2018-10-18 17:05] sarvaje commented on #453
2 is already done.

1 is still happening, and it happens in all browsers.

I will work on this today.

[2018-10-18 17:11] sarvaje commented on #386
@molant @alrra This issue apply with the new scanner design?

[2018-10-18 17:49] molant commented on #210
Closing this issue as it's fixed in the latest stable version of Edge.

[2018-10-18 17:49] #210 closed

[2018-10-18 18:06] molant commented on #386
We took care during the redesign. Closing it.

[2018-10-18 18:17] sarvaje commented on #386
Reopening, we didn't take care of making the relative protocol a link :(

[2018-10-18 18:30] sarvaje commented on #469
It was fix, but I have create a new PR to update the icon as soon as we get some result. https://github.com/webhintio/webhint.io/pull/542

[2018-10-18 20:00] #469 closed

[2018-10-18 20:05] #453 closed

[2018-10-18 23:42] digitarald opened #544 "Missing Service Worker sonarwhal-worker.js causes broken docs"
STR:
- Have the old service worker `sonarwhal-worker.js` installed
- Open https://webhint.io/docs/user-guide/ (Firefox Nightly)

Install code does a broken page:

![image](https://user-images.githubusercontent.com/8599/47190027-678b0600-d30d-11e8-9e97-5adcad445b6e.png)

The source really has no install code in the HTML:

<img width="466" alt="image" src="https://user-images.githubusercontent.com/8

[2018-10-19 02:52] molant commented on #544
🤦‍♂️

If we add a `sonarwhal-worker.js` that unregisters the service worker will it fix it?

[2018-10-19 16:18] sarvaje opened #545 "Hide results only when all the workers fail analyzing the url."

[2018-10-19 16:23] sarvaje opened #546 "Show the result directly if the url is being scanned or if the result is still valid."
Steps to reproduce:

1. Scan an URL.
2. While it is still scanning, try to scan the same URL.

Expected:
You see the scan screen.

Current:
You see the "waiting" screen.

[2018-10-19 17:11] sarvaje commented on #546
ref: https://github.com/webhintio/online-service/issues/166

[2018-10-19 18:57] #546 closed

[2018-10-19 19:32] #545 closed

[2018-10-19 19:50] molant commented on #448
Doesn't look like the package is going to be updated any time soon. I see a couple of alternatives:
- See if [node-zopfli-es](https://www.npmjs.com/package/node-zopfli-es) compiles on node 10 and can be a replacement
- Fork, use the code from https://github.com/chinhnguyen/node-zopfli (got from [this comment](https://github.com/pierreinglebert/node-zopfli/issues/98#issuecomment-430528249), automat

[2018-10-19 23:40] sarvaje commented on #413
closing in favor of https://github.com/webhintio/hint/issues/1429

[2018-10-19 23:40] #413 closed

[2018-10-20 00:07] #538 closed

[2018-10-22 07:59] #537 closed

[2018-10-22 08:00] #540 closed

[2018-10-23 02:09] molant commented on #520
Changing the name of the file from `index.md` to `summary.md` outputs the following:

![image](https://user-images.githubusercontent.com/606594/47330657-e2b22c00-d62d-11e8-805b-c01ccf697433.png)

Few issues/concerns:

* It should always be the first item
* Are we ok with the current names? Do we want to update them to summary?

[2018-10-24 17:53] #520 closed

[2018-10-24 22:42] molant opened #550 "Hexo 3.8.0 adds meta generator before meta charset"
`<!doctype html><html lang="en"><head><meta name="generator" content="Hexo 3.8.0"><meta charset="utf-8">`

This fails the deploy process. Need to find out how to disable this built-in.

[2018-10-24 22:43] alrra commented on #550
Good catch `webhint`! 👏🏻

[2018-10-24 23:02] #550 closed

[2018-10-25 17:03] alrra commented on #544
Note: The [`Clear-Site-Data`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Clear-Site-Data) header is now supported in some browsers including Firefox.

[2018-10-25 21:51] digitarald commented on #544
Probably the best way to get rid of the stale worker.

[2018-10-26 16:14] sarvaje opened #551 "URLs are cached in Google Search"
There is people that found a link to the documentation in webhint, but those links are old and it looks like the are cached in google.
e.g.
https://webhint.io/docs/user-guide/further-configuration/website-authentication/#page-heading
https://webhint.io/docs/contributor-guide/connectors/

We need to find out if there is a way to notify these changes to the search engines to update the cache.

[2018-10-26 19:33] molant commented on #551
That's the idea. We already have an account and also in Bing. We have to investigate if we can trigger a new scan, update sitemap, etc. each time there's a deployment and there's none pending.

________________________________
From: Cătălin Mariș <notifications@github.com>
Sent: Friday, October 26, 2018 09:30
To: webhintio/webhint.io
Cc: Subscribed
Subject: Re: [webhintio/webhint.io] Urls are cach

[2018-10-29 11:03] gakhrejah opened #552 "Not able to install webhint cli"
Hi Team,

We are trying to use webhint cli in a docker container . But after scanning a url ( hint <some url>) , we are getting the below error. The error says configuration file in invalid

ERROR LOG

added 186 packages from 163 contributors in 19.077s
Error: Connector "jsdom" not found
    at new Engine (/usr/lib/node_modules/hint/dist/src/lib/engine.js:30:19)
    at exports.default (/usr/lib/no

[2018-10-29 16:44] molant commented on #552
Hi @gakhrejah,

If you are going to use the default configuration you don't need to run `npm create hintrc`, webhint will use the built-in default one.

Couple things:
* Are you running node x86 or x64?
* Can you please run `hint https://www.google.com --debug` and paste the output in a comment?

Thanks!

[2018-10-29 16:47] molant commented on #552
@gakhrejah I've created this issue in the right repo. Do you mind continuing the conversation there?

https://github.com/webhintio/hint/issues/1460

Thanks!

[2018-10-29 16:47] #552 closed

[2018-10-29 21:31] molant opened #553 "Create sitemap.xml automatically"
We should publish a sitemap.xml automatically to help search engines update our content faster.

There's an [extension for hexo](https://github.com/hexojs/hexo-generator-sitemap) that does that. We probably want to add the scanner and other non static pages in there as well if they aren't pulled automatically.

[2018-10-29 22:41] molant commented on #553
Some tasks:
* [ ] Generate sitemap
* [ ] Add missing entries to sitemap
* [ ] Exclude sitemap from caching strategy as it will always have the same value
* [ ] Profit

[2018-10-30 03:46] molant commented on #553
Fixed via eef0ad8f71acc82ff7fa99ae47cab7fafb1d0e5b

[2018-10-30 03:46] #553 closed

[2018-10-31 15:16] Malvoz commented on #544
As a quick fix, I'm pretty sure serving an empty `sonarwhal-worker.js` could fix this. The SW will be updated (and do nothing, which is currently the intention) for users that have the old worker cached.

[2018-10-31 15:20] Malvoz commented on #515
I don't want to open a new issue for this, @molant; **search queries that have no results** returns a 500 response code aswell. Try https://webhint.io/search/?q=noresultsforthisquery

[2018-10-31 15:39] Malvoz commented on #491
The icons at the top on the right-hand side computes to `15x15`px, could probably double their size?

IMO, a link to GitHub in the menu would be nice. Even if only at smaller breakpoints such as when the menu is collapsed on mobile devices:

![webhint](https://user-images.githubusercontent.com/26493779/47799648-fe52bc00-dd2a-11e8-98a7-596fff315415.png)

[2018-10-31 16:08] Malvoz commented on #479
Now the image src is resolved as `/static/static/images/manifest-icon-a3d1c16640.png`

[2018-10-31 17:43] molant commented on #491
Good ideas @Malvoz
Do you want to implement them?

[2018-10-31 21:30] molant commented on #515
Thanks @Malvoz

[2018-10-31 21:45] molant commented on #544
Thanks everyone

We want to add back again a service worker so I think we should be sending `Clear-Site-Data: "*"` when a user access sonarwhal.com to avoid having to send multiple service worker files (even if empty) or use one with a name that's not meaningful anymore.
I'm going to try to see if I can send it conditionally in IIS but if not we might have to create a new website for sonarwhal and

[2018-10-31 21:48] #551 closed

[2018-10-31 21:50] #515 closed

[2018-11-02 20:29] molant commented on #544
@digitarald there's now a PR for this. Don't know if you still have the old service worker activated somehow but it will nice to verify this works. Basically I'm adding the `Clear-Site-Data` header for all requests that arrive to our server to the host sonarwhal.com and send it with the redirect to webhint.io.

This is the network trace:

![image](https://user-images.githubusercontent.com/606594/4

[2018-11-02 23:28] greenkeeper[bot] opened #561 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-11-02 23:48] #544 closed

[2018-11-05 07:20] bhavik09071990 opened #563 "Is there a way to remove public url for report generated on webhint website"
I would like to know if there is a way to remove online scanner report from your website. Can I get a contact number on which I can connect with you guys.

[2018-11-09 00:56] #491 closed

[2018-11-09 17:22] ststimac opened #566 "Search bar layout broken on smaller viewports"
<img width="867" alt="screen shot 2018-11-09 at 9 17 37 am" src="https://user-images.githubusercontent.com/18073131/48277770-79d5fc80-e400-11e8-8435-0b01eb1217ba.png">

I'm assuming this is due to the update to the menu that was just pushed live. It's not completely broken as when the viewport gets smaller it readjusts to the correct positioning. But there's a small window where it's broken.

[2018-11-09 17:22] ststimac commented on #566
FYI @molant

If I have time this afternoon, I'll look into it. I can't remember where exactly in the code this is.

[2018-11-09 17:49] molant commented on #566
navigation.css I believe is the right place.

https://github.com/webhintio/webhint.io/commit/49d466ab041ef73c7b13e8ff88be991ee637364f

[2018-11-09 21:04] molant commented on #566
I'll be taking care of this

[2018-11-09 21:08] #566 closed

[2018-11-10 00:26] molant opened #567 "Don't publish the documentation of unpublished packages"
`update-content.js` could take a look at the `package.json` and see if the package is `private: true`.

[2018-11-19 03:50] molant opened #570 "Publish documentation for non-hint packages"
Right now the only documentation we are publishing are the one under `hint/docs` and `hint-XXX`.
We are missing all the `connector`s, `parser`s, `formatter`s  and extensions (VS Code for now but soon browsers).

They should be part of the `user guide` and be processed at the same time as the hints and appear in the navigation menu:

![image.png](https://images.zenhubusercontent.com/56d5e96d6caf56c

[2018-11-19 17:16] #570 closed

[2018-11-20 10:03] sarvaje opened #572 "Add a landing page for each category in user guide"
Rel #570

![image.png](https://images.zenhubusercontent.com/56d5e96d6caf56c9d38d18fe/9d8cdbfe-7717-4346-b9fe-60a37bebf09d)

@molant for hints it wasn't autogenerated, do we want to have the other categories autogenerated, or as a part of the `hint` repository? https://github.com/webhintio/hint/blob/master/packages/hint/docs/user-guide/hints/index.md

[2018-11-20 14:40] molant commented on #570
Didn't we auto update that file?
Maybe a manual one is OK for now. We don't have that many resources that aren't hints.

________________________________
From: Jesus David García Gomez <notifications@github.com>
Sent: Monday, November 19, 2018 23:28
To: webhintio/webhint.io
Cc: Antón Molleda; State change
Subject: Re: [webhintio/webhint.io] Publish documentation for non-hint packages (#570)

Ideal

[2018-11-20 15:57] sarvaje commented on #570
Yes, the one I pointed you is an old one, but it is still in the repository

[2018-11-20 18:49] #567 closed, assigned to sarvaje

[2018-11-20 19:11] molant opened #575 "Get hint information from metadata?"
[Initial conversation](https://github.com/webhintio/webhint.io/pull/573#pullrequestreview-176853914)

Hints will soon have a separate metadata file that we could `require` instead of using a regular expression to get the data from the markdown.
The advantages of using the metadata are:

* No need for a RegExp that could break any time
* We can have a `name` different than the one in the markdown i

[2018-11-21 10:45] sarvaje commented on #575
It is not just compiling, you also need to install dependencies.

This is the option I like the most.

This would be nice if we want to add a landing page with more information and not just the name.

[2018-11-21 14:59] mgifford opened #576 "Error on installing connector-edge"
Following https://webhint.io/docs/user-guide/connectors/connector-edge/ documentation, I should be able to install the edge connector..  Although, maybe it isn't working because I don't have Edge actually installed.  I'm on a Mac after all.

$ npm install @hint/connector-edge
npm ERR! code E404
npm ERR! 404 Not Found: @hint/connector-edge@latest

Probably should have a better error.

[2018-11-21 15:39] molant commented on #576
There are a few issues with it, the most important that the edge connector only works with the old version of sonarwhal and not webhint (haven't updated it yet).
Also, it will not work on a Mac as it requires some especial binaries.

We should update the package.json to say private:true so it doesn't appear in the docs. @sarvaje can you please do that?

________________________________
From: Mike

[2018-11-21 15:40] alrra commented on #576
[It's already there](https://github.com/webhintio/hint/blob/a3ca992de8762d045d34b9cda5b6d2664d4ec74d/packages/connector-edge/package.json#L45).

[2018-11-27 04:34] #523 closed

[2018-12-03 19:58] antross commented on #225
Need to verify if this is already fixed.

[2018-12-03 21:59] nathanhannig commented on #210
can you provide more details on the alpha version of Edge, a link, or how we can check it out?

[2018-12-03 22:04] gregwhitworth commented on #210
@nathanhannig It's with RS5 which began shipping on November 13th. You can either update your box or grab a VM from [here](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/).

[2018-12-03 22:39] ststimac commented on #225
This is fixed. If we add subtitles to the documentation pages, we'll have some HTML to restructure slightly but I don't think we'll be doing that.

[2018-12-03 22:39] #225 closed

[2018-12-04 14:15] masives opened #580 "[docs] Issue with 'webpack configuration hints set'"
https://webhint.io/docs/user-guide/hints/hint-webpack-config/index.html

links to webpack hints don't work

[2018-12-04 23:12] #580 closed

[2018-12-04 23:28] ststimac opened #582 "Redesign Documentation landing page"
<img width="1440" alt="screen shot 2018-12-03 at 2 37 17 pm" src="https://user-images.githubusercontent.com/18073131/49479775-152c7880-f7d9-11e8-8949-2bdd3df14d7d.png">

A few things:

Add an h1 heading to indicate this is the Documentation landing page. Update the layout. I have a rough idea in my head that I can propose as a sketch.

[2018-12-05 00:02] antross opened #583 "Hints within a multi-hint should not appear in the table of contents"
(note the three webpack references in the screenshot)

![image](https://user-images.githubusercontent.com/785009/49480377-56258c80-f7db-11e8-8614-2f32270ff85f.png)

Given we have index pages for the multi-hints, I think we should stick to only showing the index page in the list if possible. Thoughts?

_Originally posted by @antross in https://github.com/webhintio/webhint.io/pull/581#issuecomment-4

[2018-12-05 04:33] #583 closed

[2018-12-07 06:50] molant commented on #448
[There's a PR for this now](https://github.com/webhintio/webhint.io/pull/585)

[2018-12-09 02:44] #448 closed

[2018-12-10 22:36] ststimac commented on #458
Code cleanup task: module--primary typography overrides.

These are causing issues (with changes I'm trying to implement) and are too specific. I believe they were written as a workaround for some styling that pertains to the original documentation layout with subheadings.

[2018-12-11 18:03] ststimac commented on #503
Made the 404 a bit bigger.
Added a 'return to home' button to give users somewhere to go.

![screen shot 2018-12-11 at 10 01 59 am](https://user-images.githubusercontent.com/18073131/49820089-d8f29e00-fd2b-11e8-8968-18134e74e5ad.png)

[2018-12-12 23:16] ststimac commented on #52
Different documentation page screenshots:

Lighthouse
![screen shot 2018-12-11 at 10 21 52 am](https://user-images.githubusercontent.com/18073131/49900775-61e50480-fe14-11e8-9979-4de9250a8f86.png)

Mozilla
![screen shot 2018-12-11 at 10 23 16 am](https://user-images.githubusercontent.com/18073131/49900777-61e50480-fe14-11e8-8a7a-946f7a8efa79.png)

Travis
![screen shot 2018-12-11 at 10 24 57 am](ht

[2018-12-12 23:52] molant commented on #52
Great!
@antross can you please sync with Stephanie and explain how to track the time spent in this task?

Thank you!

________________________________
From: Stephanie <notifications@github.com>
Sent: Wednesday, December 12, 2018 15:16
To: webhintio/webhint.io
Cc: Antón Molleda; Mention
Subject: Re: [webhintio/webhint.io] Style Documentation pages (#52)

Different documentation page screenshots:

L

[2018-12-13 04:57] #503 closed

[2018-12-14 23:30] ststimac commented on #403
Task list:
- [ ]  group hints by parent hint category
- [ ]  make accessible

[2018-12-28 00:04] DanielRuf opened #588 "HTML formater output is broken when printing"
The print version of a result looks a bit broken.
[webhint.pdf](https://github.com/webhintio/webhint.io/files/2713598/webhint.pdf)

[2018-12-28 00:07] DanielRuf opened #589 "failing CI"
https://travis-ci.org/webhintio/webhint.io/builds/472178714#L1631

[2018-12-28 02:52] molant commented on #588
@ststimac want to take a look at this after the break?

[2019-01-07 18:42] molant opened #590 "Update to Algolia Analytics v next"
Starting on March 19, 2019 Algolia will not be supporting Analytics V1 so we need to migrate to whatever is the latest version.
The possible subtasks:
* [ ] Update url to library
* [ ] Update styles

@ststimac I might need you for the last item.

[2019-01-07 18:43] molant opened #591 "Find (free?) alternative to pingdom"
Starting on February 6 Pingdom will stop offering their free tier. We are currently using Pingdom to track downtime. We need to find an alternative that hopefully allow us to do a bit more than just tracking the homepage. Ideally we should monitor a few endpoints that have given us problems in the pass:

* [ ] Scanner + results
* [ ] Search + results
* [ ] Something else?

[2019-01-07 18:43] molant opened #592 "Update services"
There are a few services that we are using (pingdom, algoria) that are changing ToS or features and need to be updated. This issue is the Epic to track the effort to replace or upgrade if needed.

[2019-01-07 19:22] molant commented on #591
IIRC Azure has something that we could use so I'll probably start looking into that.

[2019-01-07 19:30] molant opened #593 "Migrate to Azure Pipelines [0.5]"

[2019-01-07 19:31] molant opened #594 "Use dependabot to update dependencies"

[2019-01-08 00:33] molant commented on #589
Thanks @DanielRuf !

Looks like the method to install the Azure CLI got changed. I've pushed a fix and I'll close this issue once I see the build passing.

[2019-01-08 00:56] #589 closed

[2019-01-08 05:35] molant commented on #591
I've added some availability tests to Azure:

![image](https://user-images.githubusercontent.com/606594/50811250-66d98e80-12c2-11e9-966b-97bfa569ee7e.png)

I've added tests for:
* homepage
* scanner
* search results
* scanner results
* 404 page

I was looking into adding a [multi-step test](https://docs.microsoft.com/en-us/azure/azure-monitor/app/monitor-web-app-availability#multi-step-web-tests)

[2019-01-08 05:35] #591 closed

[2019-01-08 12:17] molant commented on #589
[Build is green again](https://travis-ci.org/webhintio/webhint.io/builds/476801831)

[2019-01-08 14:02] molant opened #595 "Update hash for docsearch"
The hash for docsearch has changed and it's failing SRI. We need to update it.

[2019-01-08 14:04] #595 closed

[2019-01-08 14:04] molant commented on #590
At the end all the work was in the algolia setting page and it's done.

[2019-01-08 14:04] #590 closed

[2019-01-08 14:22] #572 closed

[2019-01-09 05:43] molant commented on #592
All tasks are done so closing this epic.

[2019-01-09 05:43] #592 closed

[2019-01-09 15:00] alrra opened #600 "Scanner `details` look broken in Firefox"
E.g.: https://webhint.io/scanner/13648822-a735-4204-a601-70417896d990

<img width="24" src="https://user-images.githubusercontent.com/1223565/50907409-29692400-13dc-11e9-8cb5-f124767ed892.png">
<img width="23" src="https://user-images.githubusercontent.com/1223565/50907411-2a01ba80-13dc-11e9-84b3-703bb6f20af8.png">

[2019-01-09 16:51] molant commented on #594
Will close this issue once everything is working as expected.

[2019-01-09 17:04] molant commented on #563
Closing in favor of webhintio/hint#1624

[2019-01-09 17:04] #563 closed

[2019-01-09 17:52] Malvoz commented on #600
Sadly we can't yet do `@supports (::pseudo)`.

I found these in a quick search:

- https://stackoverflow.com/questions/51830251/styling-the-html5-summary-arrow-for-firefox
- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#Customizing_the_disclosure_widget

I believe:

[code]

should be sufficient =)

[2019-01-11 20:03] molant commented on #594
Dependabot is already automerging passing builds 🎉

[2019-01-11 20:03] #594 closed

[2019-01-14 17:36] ststimac commented on #588
Just doing a quick pass, the way the summary column next to the results is implemented in responsive mode seems to be interefering with being able to print out results but I haven't been able to pinpoint exactly what it is.

[2019-01-17 01:40] #593 closed

[2019-01-17 18:31] utsavized opened #610 "ADO Test Issue [2]"

[2019-01-17 19:32] molant opened #611 "UX Improvements"
Epic to track all the tweaks we can do to improve the UX of the website

[2019-01-17 19:37] molant commented on #185
I think that with all the changed done to the CLI in the last few months this is no longer needed so closing.

[2019-01-17 19:37] #185 closed

[2019-01-17 21:44] #610 closed

[2019-01-19 00:02] ststimac commented on #196
We have two CSS files called scan-results.css. One is under the CSS folder, and then we have css > scan > scan-results.css. They both share a good amount of code but not all of it is the same.

Do we need both?

[2019-01-19 00:39] sarvaje commented on #196
We need to find a way to share styles between the website and the html formatter. Until then, I'm afraid that we need both.

[2019-01-22 17:06] ststimac commented on #196
@sarvaje ok. Does it matter where I put my code that I'm consolidating?

[2019-01-22 17:47] sarvaje commented on #196
IIRC, you should make the changes in both if you want to have the changes available for the html formatter when the formatter is used apart from the website.

[2019-01-22 17:52] sarvaje commented on #196
No problem :)

The formatter is in the `hint` repository. The styles are here: https://github.com/webhintio/hint/tree/master/packages/formatter-html/src/assets/styles

The files has the same name as in the website, but they contain only the styles we use in the formatter. It would be great to have a place to share the styles/script to not have to make the changes twice :(

[2019-01-22 17:55] ststimac commented on #196
Hmmm. Are those getting pulled into thwe webhint-theme folder under the webhint.io?
I'm confused because we have two CSS files for scan results with nearly the same code in the webhint.io repo.

[2019-01-22 18:03] sarvaje commented on #196
Let me take a look, I don't remember exactly what happen with the styles in the website.

[2019-01-22 18:30] sarvaje commented on #196
@ststimac I'm going to explain what are we doing, but if you have any question, let me know please.

The file that contains the styles for the scanner is (these styles are used only in the scanner): https://github.com/webhintio/hint/blob/master/packages/formatter-html/src/assets/styles/scan/scan-results.css and we are sharing that file between the CLI and the website.

When we build the website, w

[2019-01-22 18:34] ststimac commented on #196
OK that makes sense, thank you!

[2019-01-25 17:58] #196 closed

[2019-01-25 22:04] antross opened #617 "Documentation is blank for hints within hint sets (e.g. TypeScript configuration) [2.4]"
See https://webhint.io/docs/user-guide/hints/hint-typescript-config/

That page renders, but each of the hints pages beneath it is empty:
https://webhint.io/docs/user-guide/hints/hint-typescript-config/import-helpers/

[2019-01-25 22:18] utsavized opened #618 "Test ADO Issue"

[2019-01-25 22:18] #618 closed

[2019-01-25 22:21] utsavized opened #619 "Test ADO hint # 2"

[2019-01-25 22:30] utsavized opened #620 "Test ADO Issue #3"

[2019-01-25 22:34] #620 closed

[2019-02-05 00:00] #617 closed

[2019-02-07 20:04] ststimac opened #630 "Visual Updates: Color Audit"
I need to go through the website and ensure that some of the old blue colors that were originally used back in the initial designs of the site get updated to one of the purples being used. Like on the scanner page:

![blue-purples](https://user-images.githubusercontent.com/18073131/52437383-a36bf600-2acb-11e9-861a-2df3124332db.JPG)

The blue mismatches with the purple and doesn't quite look right.

[2019-02-08 10:22] renestalder opened #631 "[docs] Issue with 'Formatters'"
The formatters page seems missing or at least empty to me. Can somebody confirm that?

https://webhint.io/docs/user-guide/formatters/index.html

[2019-02-08 23:45] sarvaje opened #632 "[docs] Improve documentation generator [3]"

[2019-02-09 12:09] renestalder commented on #631
@sarvaje Thanks for the fast reaction. That's awesome.

Just curious. The "Signal Issue" button on the website creates issues on the hint repository. That's how I created the issue.

Should that button not always create an issue on the webhint.io repository then?

[2019-02-09 12:19] renestalder opened #634 "[docs] Issue with 'Compatibility'"
https://webhint.io/docs/user-guide/hints/compatibility/index.html

The 4 compat-api links of the sub topics are broken:

compat-api/css-next
compat-api/css
compat-api/html-next
compat-api/html

I can make a pull request with the fixed links, but I want to make sure that #1596 doesn't address this issue already.

[2019-02-09 12:20] renestalder commented on #634
No way, I meant webhintio/hint#1596, but I doubt that has anything to do with the documentation. So I'll send a pull request for this.

[2019-02-09 12:27] renestalder commented on #634
Uff, taking it back with the pull request. 😅 Seems probably be something in the generator and not the content itself.

[2019-02-11 05:47] molant commented on #634
Interestingly, the webpack and typescript rules seem to work and they are basically the same thing 🤔
@sarvaje will you take a look?

[2019-02-11 05:54] molant commented on #634
@renestalder I know what it is and it's actually easier than expected. Basically you need to rename the docs files in `compat api/docs` to match what the metadata say.
Right now we have the following files:

![image](https://user-images.githubusercontent.com/606594/52547640-f79e0100-2d7d-11e9-8f42-76da3cfbae1f.png)

But the metadata for `css-next` (for example) is:

[code]

The important part is `

[2019-02-11 05:55] molant commented on #634
BTW, this is part of the hint project so I'll move it there :)

[2019-02-11 16:50] sarvaje commented on #631
@renestalder not always. Maybe it is a little confusing, but the thing is that the documentation itself is in the `hint` repository, so any issue related to the content of the documentation should be filled there. Then, when we build the website, we take the documentation from the `hint` repository and we copy/transform it to get what we need for the website. Some issues are related with that proc

[2019-02-11 18:41] #632 closed

[2019-02-11 18:41] #631 closed

[2019-02-11 18:44] molant commented on #631
@renestalder we've decided to semi-centralize everything into the `hint` repo and created issue templates there to make it easier for the community to file things. If we need to reroute the problem we will do it, now that GitHub has a built-in feature is not a problem at all 😊'

Thanks for your contributions!

[2019-02-14 23:30] ststimac opened #636 "Scan results overview padding broken on smaller screens"
![screen shot 2019-02-14 at 3 28 49 pm](https://user-images.githubusercontent.com/18073131/52824435-62488880-306d-11e9-80af-bea14fc76f4f.png)

There needs to be a space between "Hints" and the number next to it.

[2019-02-15 23:59] ststimac commented on #588
@molant this is going to to need to be created into an epic for next sprint. There's a cascade (pun intentional 😁) of issues that need to be fixed.

HTML Formatter (formatter and scan results page on webhint.io) are broken due to something with the way position: fixed; and the other CSS properties are written for the rules-categories class. The positioning calc is partly to blame as well.  It's ca

[2019-02-16 01:31] molant commented on #588
What if we use [`@media print`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media#Examples)?
We could have a separate stylesheet just for printing that makes more sense?

[2019-02-16 10:05] DanielRuf commented on #588
Which us recommended.

Media (print) rules gave a higher priority than the other rules.

[2019-02-16 10:05] DanielRuf commented on #588
Which us recommended.

Media (print) rules have a higher priority than the other rules.

[2019-02-16 10:06] DanielRuf commented on #588
Or move the other to media screen.

[2019-02-18 10:58] thany opened #638 "There was an error"
First, here's how to reproduce:
1. Perform a scan for https://www.landal.nl
2. Let it collect results
3. Behold the final results page

I got these results:
https://webhint.io/scanner/baad2e21-5cb5-4294-9390-c2db9bb89fb9

The problem:
"There was an error" basically. I'm not sure how to deal with an error when the website doesn't want to tell me what the error was, how it occurred, which link in th

[2019-02-18 16:10] molant commented on #638
@sarvaje can you take a look? We are showing the general error message but at the same time there are 28 hints.

@thany in the mean time you can try using the cli instead of the online version. Sorry for the inconvenience 😔

[2019-02-19 10:40] thany commented on #638
It's okay 😊
I was hoping to use the online version because it displays a very shareable results page. One that I can probably pass on to my non-tech team members as well, to get some awareness.

[2019-02-19 16:00] sarvaje commented on #638
I will take a look, but @thany in the mean time, if you use the cli + `html` formatter, you can get the same website so you can share the results easily.

[2019-02-19 17:54] ststimac commented on #588
@molant we can use `@media print` but things will still be broken on the website in terms of accessibility. We can rework the HTML Formatter layout, so should I open another issue for the scan results page & the accessibility issue?

[2019-02-19 18:58] molant commented on #588
Yes, let's do it as a separate task. Thanks!

[2019-02-19 19:05] ststimac opened #640 "Scan Results Page: Code Update [2]"
Need to look into updating how the CSS is written for the scan results page, more specifically the overview panel on the right hand side. On smaller screens the way things are coded with calc and position: fixed and static, the menu is not accessible and you cannot close the menu via keyboard input.

* Mobile category menu needs to be updated anyway because it's not accessible via keyboard and the

[2019-02-19 21:41] molant opened #642 "Category details should use friendly name instead of id"
For example: https://webhint.io/docs/user-guide/hints/pitfalls/

![image](https://user-images.githubusercontent.com/606594/53049438-f343a900-344b-11e9-957c-3d691008f04f.png)

[2019-02-20 00:05] ststimac commented on #588
There is a PR open for this issue over in the hint repo: https://github.com/webhintio/hint/pull/1937

[2019-02-20 17:39] #454 closed

[2019-02-20 21:24] sarvaje commented on #638
I've been taking a look to this.
What is happening is that some promise in one of the scripts in the website throw an exception and because is in a promise, the exception is not handled by `jsdom` and the scan breaks.
@thany for now, the only way to get a result is if you use the `cli` and you use `chrome` as the connector.

About the report in the website we see error message, because all the sca

[2019-02-21 00:25] thany commented on #638
Also, out of curiosity, why did the scan fail?
I might help to fix that as well, if it's a problem in webhint.

[2019-02-21 00:42] molant commented on #638
We believe there are 2 problems:
* `FontFaceObserver` doesn't work nicely with jsdom (which is what's being used underneath in the online scanner) for some reason (maybe a wrong feature detection?)
* There doesn't seem to be a handler for Promise rejection when using `FontFaceObserver`.

This is the minified code where we see it:

[code]

All the `Promise.all([...])` should be something like `Prom

[2019-02-21 09:26] thany commented on #638
Just tried the CLI tool, and I think it breaks similarly:
[code]
I can at least understand why webhint.io can't make heads or tails from this and displays the generic error, but I don't get this either 😃
That url is being requested by our website... For something... No idea what for. So I can't elaborate on this.

[2019-02-21 10:59] molant commented on #638
Are you using the chrome connector?
Can you please paste your `.hintrc` configuration?

[2019-02-21 11:43] thany commented on #638
I don't know which connector it's using. Whatever is default I guess. I just did a `npm i -g hint` and `npm i -g @hint/formatter-html` and then ran the command. I haven't created a `.hintrc` anywhere so it's using default config.

[2019-02-21 21:49] #588 closed

[2019-02-22 23:16] molant commented on #638
@thany you are then using `jsdom`.

Can you please create a `.hintrc` file with the following content and then run `hint` again from the same folder?

[code]

Thanks!

[2019-02-25 17:41] molant opened #649 "Show the VS Code somewhere"

[2019-02-25 18:19] ststimac commented on #392
I'll go in and ensure the design & code is up to date, not sure what is needed on the backend.

[2019-02-26 22:24] ststimac commented on #458
To do:

- [ ] Remove workarounds for .module--primary typography overrides
- [ ] Remove styling that implemented a decorative `<hr>` type bar above titles (which caused the need for workarounds)
- [ ] Remove module code for "placement"
- [ ] Remove module code for "tabs"

[2019-02-27 00:25] sarvaje opened #652 "Scan results overview padding broken on smaller screens"
@ststimac commented on [Thu Feb 14 2019](https://github.com/webhintio/hint/issues/1918)

![screen shot 2019-02-14 at 3 28 49 pm](https://user-images.githubusercontent.com/18073131/52824435-62488880-306d-11e9-80af-bea14fc76f4f.png)

There needs to be a space between "Hints" and the number next to it.

---

@molant commented on [Thu Feb 14 2019](https://github.com/webhintio/hint/issues/1918#issuecom

[2019-02-27 00:54] #652 closed

[2019-02-27 23:19] #630 closed

[2019-02-28 21:23] EvanLovely opened #654 "Accept query param for scanner url"
I would love to be able to link to `https://webhint.io/scanner` and have a url already filled out in the text input. So for example if I wanted to encourage another developer to test `https://example.com` I could create a link to `https://webhint.io/scanner?url=https://example.com` (I'm not encoding that for readability). They could still have to click the button, but this would be helpful; thanks

[2019-02-28 22:51] ststimac commented on #640
Just making some notes here after investigating this further. For the mobile category menu, the accessibility issue we have is that when you've opened the menu via keyboard and navigate to one of the anchor links, when you hit enter, the category menu doesn't disappear and focus moves to the page underneath it, to the category you navigated to, and so you can't escape the category menu to get to t

[2019-03-01 21:17] ststimac commented on #640
This is going to take two PRs split across the hint and webhintio repo.

[2019-03-01 22:37] ststimac opened #657 "Assess use of all capitalized lettering due to localization issues"
Text that is all uppercase poses an issue for localization. I'd like to go through and assess everywhere we're using uppercase lettering and make updates with sentence casing.

Right now we're using all caps in the following locations:

- Top level nav
- Buttons
- Home page subheadings under "why use webhint"
- Documentation: Table of contents (can address in the ToC restructure/redesign)
- Scan r

[2019-03-01 22:46] ststimac commented on #657
I might be getting ahead of myself here as we don't have plans to localize the site but if capitalization causes issues with localization and people who use translate the site with an extension, I'd like to remove that issue :)

[2019-03-04 19:09] molant commented on #654
Good idea @EvanLovely. Want to try to do it?

The changes should go [around here](https://github.com/webhintio/webhint.io/blob/11f5057669a872fb7484892f2d1fe19296cd3649/src/server/routes/scanner.js#L166).

[2019-03-05 14:58] #392 closed

[2019-03-06 19:28] ststimac commented on #640
@sarvaje I just met with Melanie to talk about what's happening on the mobile view for the scan results page.

When a user has the categories expanded like this:
<img width="512" alt="screen shot 2019-03-06 at 11 22 41 am" src="https://user-images.githubusercontent.com/18073131/53907563-50219080-4002-11e9-8066-2dacb837814e.png">

And is using the keyboard to tab through the the categories, if they

[2019-03-06 19:33] sarvaje commented on #640
@ststimac it makes sense :)

[2019-03-06 19:43] molant commented on #640
If you have more tasks than this one then open a new task so we can track it accordingly. If it is just this one then don't think it's worth it.

Thanks!

[2019-03-06 21:07] ststimac commented on #640
@molant I have finished the other two tasks that were a part of this overall issue so I will create a new one.

[2019-03-06 21:08] ststimac opened #661 "Scan results page: JS issue w/mobile menu"
When a user has the categories expanded like this:
<img width="512" alt="screen shot 2019-03-06 at 11 22 41 am" src="https://user-images.githubusercontent.com/18073131/53907563-50219080-4002-11e9-8066-2dacb837814e.png">

And is using the keyboard to tab through the the categories, if they hit "enter" to tab into a section, the categories menu is not closing when enter is being pressed. This is onl

[2019-03-08 17:45] ststimac opened #664 "Remove aria-hidden=true from main nav [0.1]"
axe is returning the following hints when we run the staged version of the site against webhint:

[code]

This applies to the main navigation. We have two menu items that are hiding their submenus: "documentation" and "about" via aria-hidden="true" and then when a user clicks on either of those buttons, the submenu is shown by changing the value to aria-hidden="false".

This is triggering the aXe

[2019-03-08 17:49] sarvaje commented on #664
@ststimac yep, it will require js. I can take care of the js part :)

[2019-03-08 19:26] #640 closed

[2019-03-12 17:32] sarvaje commented on #661
This issue is part of the formatter, so I'm moving this issue to the `hint` repo.

[2019-03-14 20:32] molant opened #667 "Details/summary doesn't work on Chrome"
It's expanded and clicking on it doesn't do anything.

You can check the behavior in https://webhint.io/docs/user-guide/hints/hint-http-cache/

![image](https://user-images.githubusercontent.com/606594/54389563-99568d80-465d-11e9-82d7-9c52ec0368e3.png)

@sarvaje, @ststimac can you please take a look?

[2019-03-14 20:38] ststimac commented on #667
@molant it looks like information/content is just straight up missing for the configuration. There should be content when you check the code under the devtools but there is nothing to show:

<img width="517" alt="Screen Shot 2019-03-14 at 1 34 55 PM" src="https://user-images.githubusercontent.com/18073131/54389901-737db880-465e-11e9-8331-409121ba525b.png">

[2019-03-14 20:39] ststimac commented on #667
There would be a div or something else in between the <details> but it's not technically broken, there's just no content so nothing is appearing when you click on the triangle.

[2019-03-14 20:51] molant commented on #667
@sarvaje can you take a look at the scripts for the documentation?

[2019-03-14 20:52] antross commented on #667
Looks like this ties back to `hint-http-cache/README.md`. The markdown looks like:

[code]

By the time we hit the extra blank line we're done with the HTML portion so it gets closed off (since you can't inline additional markdown within an inline HTML block). Were we trying to do something in the scripts to allow this?

Per https://daringfireball.net/projects/markdown/syntax#html

[2019-03-14 21:06] sarvaje commented on #667
Same problem here: https://webhint.io/docs/user-guide/hints/hint-http-compression/

I'm going to take a look

[2019-03-14 21:59] sarvaje commented on #667
@antross that is not the problem, that has been working since day 1. I have created a test project, and the same markdown, generate the right html. I'm taking a look if I can find why it is not working on the web :(

[2019-03-15 04:08] #667 closed

[2019-03-17 18:35] molant opened #670 "Links in subheaders are sometimes wrong"
@sarvaje I think this is because of the change you did the other day with the markdown compiler.

Now the links are:
https://webhint.io/docs/user-guide/hints/hint-no-disallowed-headers/#examples-that-strongpassstrong-the-hint

instead of:
https://webhint.io/docs/user-guide/hints/hint-no-disallowed-headers/#examples-that-pass-the-hint

[2019-03-18 16:59] #670 closed

[2019-03-19 21:57] ststimac opened #673 "Search results page has broken and inconsistent styling"
The search input bar styling is broken, namely the search button:

![Screen Shot 2019-03-19 at 2 53 52 PM](https://user-images.githubusercontent.com/18073131/54644702-339c4400-4a57-11e9-94aa-700f196b451e.png)

And the general styling and size of the input needs to be adjusted.

[2019-03-21 16:04] #458 closed

[2019-03-21 22:50] ststimac commented on #220
Removing part of this issue's title to focus on the SEO icon bit since we don't technically have tiles or an issue with space anymore.

[2019-03-22 16:54] #664 closed

[2019-03-22 19:48] molant opened #679 "Code formatting looks broken in some cases"
![image](https://user-images.githubusercontent.com/606594/54849182-c4b22b80-4ca0-11e9-8f36-bdaae28c9b6c.png)

https://webhint.io/docs/contributor-guide/how-to/formatter/

@ststimac can you please take a look?

[2019-03-22 20:14] ststimac commented on #679
@molant the class "title" is being applied there and `.title` is reserved for all titles across the site. This needs a new class.

[2019-03-22 20:51] ststimac commented on #679
So something in the markdown generation for the docs needs to be changed.

[2019-03-22 21:03] molant commented on #679
The code is generated automatically so I'm not sure we can change anything into the generated code :/

[2019-03-22 21:13] ststimac commented on #679
We can't change the class being applied to that particular part of the docs?

[2019-03-26 16:16] ststimac commented on #649
- Add a section for VS Code
- Add a highlight on the homepage?
- Better documentation for the extension. I keep running into an issue on my Mac where the extension fails to start and there's no info on how to fix it.

[2019-03-27 14:06] molant commented on #679
That code is generated automatically 🤔
@sarvaje we might have to go back to the previous markdown renderer or see if there's a parameter or something to change how the code is generated

[2019-03-28 22:51] #673 closed

[2019-03-28 23:17] molant commented on #575
@sarvaje I believe we are already doing this, right?

[2019-04-01 22:34] ststimac opened #686 "Documentation TOC width not correct"
![Screen Shot 2019-04-01 at 3 30 35 PM](https://user-images.githubusercontent.com/18073131/55363810-32293d80-5493-11e9-8533-3b2167d7a673.png)

For some reason the correct media queries are not being pulled in. This view is for a smaller screen as confirmed by the devtools. The layout styles that are being applied are for @media (min-width: 48em) when it should be pulling in the 64em width styles.

[2019-04-01 22:34] ststimac commented on #686
Older version of the site but this confirmed my suspicions. Correct width:

![Screen Shot 2019-04-01 at 3 34 17 PM](https://user-images.githubusercontent.com/18073131/55363948-b24fa300-5493-11e9-846b-935360459dc3.png)

[2019-04-03 22:27] #582 closed

[2019-04-04 22:30] sarvaje commented on #679
@molant, I went back to the previous renderer and the problem is still there. Maybe the problem is in another package. I'm going to continue investigating this.

[2019-04-10 19:14] #679 closed

[2019-04-17 19:20] anthonyekosky commented on #210
Others didn't work for me. This worked perfectly. Thank you!

[2019-05-22 09:05] ayushkov commented on #210
If there are nested lists
[code]

[2019-05-24 13:51] dependabot-preview[bot] opened #715 "Dependabot couldn't parse the config file at .dependabot/config.yml"
Dependabot couldn't parse the config file at `.dependabot/config.yml`. The error raised was:

[code]

Please ensure the config file is a valid YAML file. On online YAML linter is available [here](https://jsonformatter.org/yaml-validator).

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-05-24 13:51] #715 closed

[2019-05-24 13:53] molant opened #716 "Update `hint` and `@hint/html-formatter` to latest version [0.3]"
The latest versions don't work properly with our current code base and break production when they are automerged. The work to do is:

* [x] Figure out what's breaking it
* [x] Remove the ignore part from `.dependabot/config.yml`

[2019-05-24 21:09] Malvoz commented on #479
@molant

https://github.com/webhintio/hint/issues/2496#issuecomment-495393546

Yeah the issue still persists. The issue is that the manifest file itself resides inside `/static/` but links (relatively) to `"src": "static/images/..."`, if `src` rather points to "/static/images/..." its should be good.

[2019-05-25 03:34] molant opened #717 "Deployment task doesn't always fail and process continue"
Sometimes there are issues updating the Git of the live site, and even though the process fails, the tasks continue executing and thus generating in a [bad LIVE deployment](https://github.com/webhintio/online-service/issues/516).

[Here are the logs from CI of an example](https://dev.azure.com/webhint/webhint/_build/results?buildId=4201&view=logs&jobId=3854d527-5a32-5cd4-c1d8-6701ed613a26&taskId=4

[2019-05-25 04:01] molant commented on #479
Thanks @Malvoz, I fixed it via ec9b221f2c3697a04ac431e6a1a004c1cd8896e4

[2019-05-29 23:46] #716 closed

[2019-07-10 19:33] antross opened #743 "Update website to consume metadata for localized hints [1]"
The current version of the website reads hint metadata directly from `meta.ts` for each hint, but this breaks with the changes in webhintio/hint#2634.

To handle localized hints, the website should now read the metadata name and description from `_locales/en/messages.json` for each hint.

[2019-07-15 14:53] danielbarrosai commented on #210
To fix this bug, just write the following code:

`ul li {
list-style:none;
list-style-image:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}`

Hope this helps. :)

[2019-07-18 21:23] antross commented on #743
Fixed by #748.

[2019-07-18 21:23] #743 closed

[2019-07-19 15:31] antross commented on #575
We're still scraping the raw source code for some of this information (now from `meta.ts` files instead of markdown). I also favor option 2 where we create a `configuration-all`, install that, and use `require` to access the metadata.

[2019-07-19 20:10] sarvaje opened #749 "Support localization in the formatter-html"
related with https://github.com/webhintio/hint/issues/2710

[2019-07-22 23:49] sarvaje opened #755 "Fix broken links in homepage. [0.1]"

[2019-07-23 17:24] sarvaje opened #757 "Build website using public packages instead of the repository."

[2019-07-23 21:24] #755 closed

[2019-07-24 19:18] #642 closed

[2019-07-24 21:37] #749 closed

[2019-07-31 13:54] ststimac opened #762 "OpenJS Header Type is too big in relation to the rest of the header"
![openjs-header](https://user-images.githubusercontent.com/18073131/62217698-19656180-b379-11e9-9826-b5d49e604ff8.PNG)

There isn't a font-size set on the header text we added so it looks too big in that little top header. Need to bump down the size to 1.2rem.

[2019-07-31 15:43] sarvaje commented on #762
@ststimac is this important or can it wait until next sprint?

[2019-08-02 16:45] antross commented on #649
Note to self: split this into a few issues to cover homepage updates and documentation updates for both the vs code and browser extensions. We'll probably also want to rethink the main menu in the header.

[2019-08-02 22:57] antross opened #764 "Rework homepage content to include end-to-end developer experience"

[2019-08-02 22:58] antross opened #765 "Update homepage to include VS Code and browser extensions"
Copy updates are in #764

[2019-08-02 22:59] antross opened #766 "Re-work the main menu in the header"
Need to account for adding extensions and how we want to direct users to each unique webhint endpoint depending on their needs.

[2019-08-07 21:56] ststimac commented on #762
@sarvaje I was planning to make this change myself. It's not super important but I have a few other things to tackle that I can add this to.

[2019-08-07 22:02] sarvaje commented on #762
@ststimac perfect!

[2019-08-07 22:57] ststimac commented on #765
We will probably want to see if we can commission the artist who revamped Nellie so everything is in the same style.

Also Nellie VS Code stickers would be GREAT for conferences.

[2019-08-08 03:25] antross commented on #765
😍😍😍

[2019-08-08 03:31] antross commented on #765
Makes sense. Just to have this written down, it looks like the artist was [Mike Bonales](http://www.mikebonales.com) according to our [artwork repo](https://github.com/webhintio/artwork).

[2019-08-08 07:58] molant commented on #765
Let me know how many images we need and I can contact him for a quote.

________________________________
From: Tony Ross <notifications@github.com>
Sent: Thursday, August 8, 2019 05:31
To: webhintio/webhint.io
Cc: Subscribed
Subject: Re: [webhintio/webhint.io] Add images to represent VS Code and browser extensions on the homepage (#765)

We will probably want to see if we can commission the artist

[2019-08-09 20:07] ststimac commented on #657
@antross I might want to break this out into two tasks. Buttons, home page subheadings and the scan results page need a little more thorough design thought before making changes so there's clear hierarchy.

The nav, footer, table of contents can be adjusted easily.

[2019-08-09 20:10] antross commented on #657
Sounds good to me - feel free to split it up!

[2019-08-09 20:53] #686 closed

[2019-08-12 20:30] ststimac opened #776 "Re-design UI components with capital letters"
Breaking out a separate issue for #657.
This issue will address components that are significantly affected visually by removing capitalization.

- Buttons
- Home page subheadings under "why use webhint"
- Scan results category overview

For example, the sizing of the buttons change somewhat drastically when switching to sentence case.

The subheadings on the homepage will need to be bumped up in s

[2019-08-12 21:30] ststimac commented on #657
This issue's PR will only address:

- top level nav
- changelog date (Month is all caps)
- table of contents
- footer menu

[2019-08-14 16:13] sarvaje opened #783 "Consider delete staging during build."
Yesterday (08/14/2019) we have a problem in staging that was resolve only after delete all the files from staging.

If this happens again, we should consider (if it is possible) force a deletion of the existing content in staging before deploy.

[2019-08-14 16:56] antross commented on #783
Chatting with @hxlnt, she suggested this may have been due to stale state in the `node_modules` folder. Even though we were updating `package-lock.json`, `npm` may have already had some empty folders for certain packages due to the previously corrupted state that it wasn't updating until they got deleted.

Regardless, still a good thing to consider the delete step - especially if we see this again

[2019-08-14 19:28] #657 closed

[2019-08-20 12:33] shashwattiwari commented on #210
Thanks Ashish.. it worked.

[2019-08-20 23:28] hxlnt commented on #766
This is blocked on https://github.com/webhintio/hint/issues/2780...

...also assigned to me. 🙃

[2019-08-21 10:00] lovetingyuan opened #794 "bug in https://webhint.io, pwa manifest-file-extension is wrong"
1. Bug report:
pwa section: manifest-file-extension rule offers wrong file extension, should consider the url query part.
[code]
![image](https://user-images.githubusercontent.com/7310471/63422617-4ae3c100-c43d-11e9-8528-de9c3631c371.png)

[2019-08-21 16:16] #757 closed

[2019-08-21 17:05] antross commented on #794
Thanks @lovetingyuan for the report! We definitely shouldn't treat URL query parameters as part of the extension.

On a side note, you may also want to look at the results of the `http-cache` hint which suggests to use filename versioning over query string versioning. This is due to potential issues with proxies that could cause your cached resources to be requested more often than they need to, d

[2019-08-21 17:41] hxlnt opened #796 "Add extensions link back to User Guide"
After https://github.com/webhintio/hint/pull/2837 was merged, the link to browser extensions disappeared from the User Guide sidebar. Guessing something with how the the static-site generator creates the sidebar needs to be adjusted.

[2019-08-21 18:02] antross commented on #796
Actually https://github.com/webhintio/webhint.io/pull/793 is probably the culprit here. We have to publish the extension package to NPM now for it to get picked back up.

[2019-08-21 20:05] sarvaje commented on #796
Yep, we need to publish the extension to NPM to get it back.

[2019-08-21 20:58] hxlnt commented on #796
Cool--closing this out then.

[2019-08-21 20:58] #796 closed

[2019-08-22 06:53] lovetingyuan commented on #794
Many thanks for your reply and help, I will correct it.

[2019-08-26 22:30] hxlnt opened #799 "500 server error on changelog page"
https://webhint.io/about/changelog/ content is not available.

Accessed on Windows 10, Edge Canary 78.0.254.0. cc @codepo8.

[2019-09-04 15:30] antross commented on #233
@webhintio/contributors I've been giving this some thought and had a slightly different idea. What about letting the *site* choose the configuration instead?

E.g. the online scanner could check for a `.hintrc` file at the root of the origin and use that (perhaps first looking for one in the same path as the current page).

This provides persistence and consistency across a team as multiple users

[2019-09-04 17:58] molant commented on #233
I think that will add some extra complexity (and possible vector attacks) that I'm not sure will be that valuable.
Some thoughts:

* What if the `.hintrc` they upload points to hints that aren't available in the online scanner
* That file might be used for abuse, we will need to check that files aren't gigantic, malware, and such. The configuration is done early in the process and we will have to

[2019-09-05 18:07] #799 closed

[2019-09-05 19:57] antross opened #810 "Create integration test script"
Currently CI runs webhint against the site, but doesn't verify a scan can actually be performed. We've had this result in bad builds being promoted to production in the past. Using something like puppeteer to actually drive the website in a more comprehensive integration test before the swap to production should help avoid repeating this problem in the future.

[2019-09-09 22:56] hxlnt commented on #764
See below for proposed homepage content. This reuses some existing content but adds a brief end-to-end developer story for development, debugging, and deployment. It now features the browser extension and VS Code extensions more prominently.

Please provide feedback in the comments! I didn't make a PR because I think we'll want to do some design and graphics updates in tandem with this.

---

# Hi

[2019-09-09 23:23] molant commented on #764
I like where this is going, especially how you've framed the "Try it" part. Nicely done!

Don't know if we have to use webpack in all the steps (haven't look at what other projects do):

**Develop**

[code]
**Debug**

[code]
**Deliver**

Not quite sure about "limiting" CI/CD to a11y and compat. What about:

[code]
Or maybe mention something about perf and such? It's at this moment that we should b

[2019-09-12 19:06] molant opened #869 "[Bug] HTML Formatter not removing categories without hints?"
When doing a scan on the online scanner I get the following:

![image](https://user-images.githubusercontent.com/606594/64813072-60886a00-d555-11e9-8991-333a9cc43718.png)

https://webhint.io/scanner/cf35c25d-b58a-4d53-ae15-41588bb1ecd2#category-Pitfalls

I don't see any hint active for the pitfall category in the configuration so I would expect the formatter to automatically hide categories that d

[2019-09-13 17:26] molant opened #825 "Extension browser changelog doesn't show up in the site"
https://webhint.io/about/changelog/ for September 12th there should be a changelog of the extension-browser.

[2019-09-13 22:14] hxlnt commented on #764
Thanks, Anton--great suggestions. I made the changes you recommended to the Develop, Debug, and Try It portions. I reworded the Deliver part a bit but kept the spirit of your change. As for the recommendations on the Customize and Contribute parts, I was actually imagining that the existing footer content from webhint.io would remain, and that captures the user guide, Gitter links, etc.

[2019-09-13 22:16] hxlnt commented on #764
Per today's retro/sprint planning, it sounds like the overall structure for the homepage redesign is good to go, even if there is still some remaining wordsmithing to do. Shall we close this issue and say that the content is ready for @ststimac's design magic?

[2019-09-13 22:32] molant commented on #764
SGTM!

________________________________
From: Rachel Simone Weil <notifications@github.com>
Sent: Friday, September 13, 2019 3:16:16 PM
To: webhintio/webhint.io <webhint.io@noreply.github.com>
Cc: Antón Molleda <amolleda@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [webhintio/webhint.io] Rework homepage content to include end-to-end developer experience (#764)

Per today's retro/s

[2019-09-16 15:53] molant commented on #765
Let's repurpose this issue for updating the home page in general.

@hxlnt has worked in the copy and while there might be some updates, the structure is done.

Check the content of #764 for the text.

[2019-09-16 15:55] molant commented on #764
I've updated #765 to reference this issue so @ststimac can work on those updates whenever she has the time.

[2019-09-16 15:55] #764 closed

[2019-09-16 18:50] bmt-systems opened #830 "[Online scanner 5.2.2] New hints triggered after adding report-uri headers"
I've added 4 new headers to https://thomasbrodhead.com/ , and the online scanner now reports errors I hadn't experienced before.

The new headers are:

[code]
The errors the online scanner reports are:

Would the new headers have triggered these hints?

[2019-09-17 14:34] molant commented on #830
I'm looking into this.

[2019-09-17 14:53] molant commented on #830
I cannot repro this locally. What I do get is a bunch of `no-broken-links` that are not well detected (we try to download some `data:image` for some reason and some other things).

Will look into those and continue investigating see if I can repro the issues with the downloads.

[2019-09-17 16:55] bmt-systems commented on #830
Try running the online scanner in an incognito window with no extensions loaded and see what you get. I was in incognito mode on a Windows 8.1 machine; perhaps that's key to reproducing the results I got.

[2019-09-17 19:09] molant commented on #830
So does this repro in the browser extension as well or only there?

[2019-09-17 19:37] bmt-systems commented on #830
I just tried to reproduce the errors and they've vanished. I ran the online scanner in Incognito mode without any extensions, then in standard mode without extension, then standard mode with extensions, and the errors I listed above are not present. I'm baffled.

(They weren't present in the Chrome browser extension before or now...this only happened in the online scanner.)

Is the online scanner

[2019-09-17 19:48] sarvaje commented on #830
The online scanner doesn't use the user browser, it run its own instance of chrome to run the tests.

[2019-09-17 19:50] molant commented on #830
It could be an intermittent connectivity issue in Azure 🤔
In any case, I'll keep looking into the issues in `no-broken-links`

[2019-09-18 16:47] molant opened #834 "Publish CONTRIBUTING.md files somewhere in the website"
We have more and more `CONTRIBUTING.md` files for different packages (like the extensions).
Will be nice to surface those in the website somewhere if we aren't already.

[2019-09-18 21:01] molant commented on #830
Moving this to the hint repo as for now it looks like there are some issues with `no-broken-links` handling data uris in srcsets

[2019-09-18 21:22] ststimac commented on #764
To clarify, are we getting rid of the Online Scanner, Run webhint from the CLI and Documentation sections? Is this all the content we want on the home page?

[2019-09-18 21:53] #825 closed

[2019-09-18 21:59] hxlnt commented on #764
I am proposing removing the "Try the online scanner" and "Get started with the CLI" portions at the top. The "Use the online scanner" section will remain per the draft above.

I'd like for the footer to stay as well. However, I am leaning toward removing the section above the footer ("User Guide"/"Contributor Guide"/"Hints").

There's a separate issue open for tweaking the navbar, as I think we wa

[2019-09-20 20:50] ststimac commented on #764
One more question @hxlnt, do we not have a heading for the very top hero section? Is it just diving into the description of what webhint is?

[2019-09-20 21:55] ststimac commented on #765
@antross @molant @sarvaje @hxlnt

Still need the illustrations so there are some gaps. And I think we really ought to have a shorter heading up at the top and then the webhint paragraph below it to balance out the top a bit. The hero area feels a bit uninteresting to me right now and almost a bit intimidating without that shorter heading to precede the block of text. Thoughts?

![home_update_09201

[2019-09-20 22:02] hxlnt commented on #764
Yes, the hero text is in my draft above the A-head. I think it's the same text as before but without the special callouts for the scanner and CLI. Maybe we want to replace those with a more generic illo?

[2019-09-23 15:56] ststimac commented on #765
Re-adjusted hero area
![home_update_092319](https://user-images.githubusercontent.com/18073131/65441896-0ce11080-dde0-11e9-93f4-264a10174bf6.png)

[2019-09-24 03:38] molant commented on #765
LGTM, @hxlnt what do you think?

[2019-09-25 16:03] #783 closed

[2019-09-25 16:03] #717 closed

[2019-09-25 17:39] #765 closed

[2019-09-26 20:03] molant commented on #810
We can probably create a script that uses puppeteer to open a browser, go to the staging website, navigate to different pages and verify we receive a 200 for all of them and finally performs a scan and a search.

We will be calling that script from the pipelines once it is done.

[2019-09-26 23:26] molant commented on #766
#2780 is done, think you can tackle this next sprint?

[2019-10-02 14:00] Zenkylo commented on #308
Asking permission to work on this.

[2019-10-02 15:05] molant commented on #308
Sure @Zenkylo

Running the dynamic part of the website (scan, search, changelog) can be a bit tricky so if you run into any issues please let us know!

[2019-10-02 16:22] Zenkylo commented on #308
On the contrary, the dynamic part of the sites seem to be functional. `/search`, and `/scanner` are fine. `/docs` and the homepage fail to load. I'd say don't worry about it but there's a scan form on the homepage which would need to be updated for the issue.

[2019-10-02 16:30] sarvaje commented on #308
@Zenkylo I also think the static part is the tricky one hehehe.

First of all, you need to run `npm run build`.

When the process finish, you have two options:
1. You can go to the `dist` folder and run the npm package `http-server` (npm install -g http-server).
1. Add set the env variable `NODE_ENV` to production.

[2019-10-03 22:44] LeoSL commented on #810
I will work on this

[2019-10-04 00:05] molant opened #842 "Add integration tests into the Azure Pipeline"
#810 needs to be done first.

The work is modify [this line](https://github.com/webhintio/webhint.io/blob/214bffeadca179967e4093bf95b6b42570bcf03b/azure-pipelines.yml#L28) to call also the new script.
Something like `npm run test-staging && node helpers/integration-tests.js`

[2019-10-04 00:06] molant commented on #810
Hi @LeoSL

I'm sorry you are having issues with this one. We assumed some experience with puppeteer when we tagged it but you are right that could be a bit misleading.

The CI server we are using is Azure Pipelines. You can see the builds for all the webhint projects in [here](https://dev.azure.com/webhint/webhint/_build?definitionId=7).

The file that decides what is run in Azure DevOps is [azure

[2019-10-04 00:10] molant commented on #810
Also re the gulp issues you are seeing I have no idea why. What version of node and in what platform are you working? Also, this should not be a blocker as you don't need to build the website to test https://sonarwhal-staging.azurewebsites.net

[2019-10-04 18:55] LeoSL commented on #810
Thank you for the detailed explanation and quick reply @molant ! I really appreciate it!

I will work on that later today.

[2019-10-07 16:39] sarvaje commented on #386
yep, I think so

[2019-10-08 20:27] uchemukolo commented on #842
I will like to work on this issue @molant

[2019-10-08 21:16] molant commented on #842
Sure!

There's a PR for #810 (#843) so once that one lands feel free to submit a PR for this. Or if you don't want to wait, you can look into cherry-picking the change in #843 and create a new commit for this issue on top of it to see that everything works end-to-end.
We might have to do some gymnastics to rebase the final code once #843 gets merged (we've requested a couple changes) but we can he

[2019-10-08 21:32] uchemukolo commented on #842
Sounds good!
I just cloned the repo and followed all the steps on the readme but when i run `npm start` i get the below attached error. Am i doing something wrong?

<img width="1080" alt="Screenshot 2019-10-08 at 10 31 37 PM" src="https://user-images.githubusercontent.com/30410066/66434915-818c8f80-ea1b-11e9-87b3-221dfe2f592d.png">

[2019-10-08 21:44] molant commented on #842
Nope, that's fine. We have to update the docs 😓
If you navigate to `https://localhost:4000/server/` you should see something more colorful.

In any case, for this to work you actually don't need to build the website as you will be testing the staging environment (https://sonarwhal-staging.azurewebsites.net).

[2019-10-08 21:57] molant commented on #842
@uchemukolo I'm working on improving the docs rights now. Look for a PR soon!

[2019-10-08 22:47] molant commented on #842
Actually I just skipped the PR and push to master. If you get the latest version running `npm start` should work now as you expected. Also I've updated the `README.md`. There's still a bit more of work we want to do (see #360) but this should unblock most of the people running into the same issue as you.

[2019-10-09 03:47] Fmressel commented on #516
As of #832 being merged, I believe this issue can be closed! Unless the image dimensions should be updated to match the 200px by 200px minimum size recommendation and/or we want to add the `og:image:alt` attribute. :)

[2019-10-09 20:05] molant commented on #516
@Fmressel I don't have a Facebook account so I cannot run the tool linked by @Malvoz. Could you please take a screenshot of the results to double check everything is OK before closing this issue?

Thanks! 🙏

[2019-10-09 21:15] molant commented on #516
Thanks @Malvoz,

looks like we need to:

* [ ] update the image to be at least 200x200
* [ ] Add `og:url`
* [ ] Add `og:type`

I don't think we need to add `fb:app_id`

I'll put this information in the first comment so it's easier to find out what's pending.

[2019-10-14 22:23] #810 closed

[2019-10-14 22:30] uchemukolo commented on #842
@molant I see that PR for #810 (#843) has been merged. I tried to pull the the latest changes locally using `git pull` but nothing was downloaded

[2019-10-14 22:34] molant commented on #842
Are you working on a fork of this repo? In a different branch? There are a few reasons why this could happen.

Can you run `git branch -vv` and paste the output to have a bit more information?

Thanks!

[2019-10-15 08:46] uchemukolo commented on #842
Yes I am working a a fork of the repo. Can I work directly from the original repo? @molant

[2019-10-15 15:49] antross commented on #842
We typically recommend working on a fork, but it does change the git flow slightly. You'll need to fetch from upstream to get the latest commits then rebase them onto your fork's master branch.
[code]

[2019-10-15 17:43] uchemukolo commented on #842
@antross i am getting access right error
<img width="1428" alt="Screenshot 2019-10-15 at 6 42 23 PM" src="https://user-images.githubusercontent.com/30410066/66855671-9c12bb80-ef7b-11e9-85a1-74c7acaf6b67.png">

[2019-10-15 17:59] sarvaje commented on #842
@uchemukolo I think you need to configure the upstream remote repository.

`git remote add upstream https://github.com/webhintio/webhint.io.git`

[2019-10-15 18:24] uchemukolo commented on #842
@sarvaje script to run integration tests has been added, but how do i test to know its working as expected?

[2019-10-15 18:49] sarvaje commented on #842
I think you need to create a PR to run Azure pipeline

[2019-10-15 19:34] molant commented on #842
Yes, please create a PR to this project so Azure can run it. We might need to tweak something on our side as the code will not be in the master branch but that's fine.

[2019-10-15 20:51] uchemukolo commented on #842
I am still having issues getting the latest updates on the forked branch
i ran `git remote add upstream https://github.com/webhintio/webhint.io.git`
`git fetch upstream`
still not able to get the latest updates from master.

when I cloned the repo directly i was getting `403` error when I tried to push
<img width="1428" alt="Screenshot 2019-10-15 at 9 49 53 PM" src="https://user-images.githubuserc

[2019-10-15 21:21] molant commented on #842
Can you please run `git branch -vv` and paste the output?

[2019-10-15 21:24] uchemukolo commented on #842
`git branch -vv`
<img width="1428" alt="Screenshot 2019-10-15 at 10 23 56 PM" src="https://user-images.githubusercontent.com/30410066/66870981-8b257280-ef9a-11e9-831a-ff2ad06af7b0.png">

[2019-10-15 23:56] molant commented on #842
Not sure in what state you are because `git branch -vv` says you are in `master` of `upstream` but the previous one says you are in detached mode 🤔

If you are in the branch with the changes can you try doing `git push -u origin`? That should hopefully create a new branch in your fork and then you can do a PR from the github website.

[2019-10-17 18:20] #842 closed

[2019-10-18 20:36] Shri-Humrudha opened #850 "Accessibility Issue reported as error for Webhint website"
Ran the tool against the webhint website, there is an accessibility issue reported.
Browser: Chrome
![Accessibility](https://user-images.githubusercontent.com/52764236/67126610-5557d800-f1ac-11e9-8b69-72f677fc868d.png)

[2019-10-18 20:44] molant commented on #850
Yup, that's because some versions of Edge needed `none presentation` in order to work as expected with narrator 🙄

We can probably kill this fix now.

[2019-10-18 20:44] molant commented on #850
@ststimac @dstory do you rember what version of Edge was this for?

[2019-10-22 16:20] ststimac commented on #850
@molant I do not.

[2019-10-22 17:42] molant commented on #850
We can probably remove this then. I believe it was fixed a long time ago.

[2019-10-28 04:18] #850 closed

[2019-10-30 17:26] Malvoz opened #855 "Fix `Clear-Site-Data` config issue"
### The issue:

![csd-header](https://user-images.githubusercontent.com/26493779/67881953-bc2ca800-fb41-11e9-99bb-8039ee0b6cef.png)

### The solution:

The [`Clear-Site-Data` HTTP header's](https://w3c.github.io/webappsec-clear-site-data/#header) values "_MUST comply with the quoted-string grammar_", as defined in https://tools.ietf.org/html/rfc7230#section-3.2.6.

[code]

I would PR (to fix in [w

[2019-10-30 17:57] Malvoz commented on #855
Perhaps it could be useful with `hint-clear-site-data`? I had forgotten that I opened https://github.com/webhintio/hint/issues/2719, maybe merge with that for a new hint?

[2019-10-31 04:33] molant commented on #855
We can't keep up with all your request 😅

Hopefully we will have some cycles after the Severity and breaking changes to start creating hints again.

RE the `web.config` I believe the change should be in [this line](https://github.com/webhintio/webhint.io/blob/7ac46db609e80876eece731fd61dd74268ae2fcb/web.config#L97) to:

[code]

We have an staging environment where things get published before going

[2019-10-31 16:12] #855 closed

[2019-11-19 18:42] sarvaje opened #860 "Expand configuration if a extend is used."
Now that we support extends in the scan configurations, it would be nice to show to the user the final configuration used.

[2019-11-22 02:25] JamoCA opened #865 "Add ability to link+open sections that are currently collapsed/hidden"

[2019-11-22 18:56] molant commented on #865
Original Twitter conversation for more context:

https://twitter.com/gamesover/status/1197534627667357702

We could add an id to the summary and some JS to autoexpand on load

@sarvaje what do you think?

[2019-11-22 18:57] molant commented on #860
@sarvaje should this be in the website, hint (html-formatter) or serverless-online-service repo?

[2019-11-22 19:21] sarvaje commented on #865
yep, we will need some js work there, because the documentation is autogenerated.

[2019-11-22 19:23] sarvaje commented on #860
I think it is the website the one that needs to do this.

[2019-12-05 17:23] #869 closed

[2019-12-11 23:16] hxlnt commented on #766
![image](https://user-images.githubusercontent.com/9647195/70668693-1cc30080-1c29-11ea-928c-e75362c545a9.png)

Thoughts? I think removing the GitHub link is OK since we have it linked at the right. (Edit: The About link should have the expandable triangle.)

[2019-12-11 23:56] molant commented on #766
What does each item link to and what are the subitems? Some are obvious, but others might have several candidates.

Any reason why you picked this order? Not that I disagree, but I'd like to know the reasons 😊

Nit: "About" is expandable

[2019-12-13 19:58] hxlnt commented on #766
Yup--this was my thought. Also, maybe Extensions should come before CLI.

1. Online scanner (keep as is)
2. Extensions
  - [VS Code extension](https://webhint.io/docs/user-guide/extensions/vscode-webhint/)
  - [Browser extension](https://webhint.io/docs/user-guide/extensions/extension-browser/)
2. CLI (keep as is)
3. Documentation (keep as is)
4. About (keep as is)

[2019-12-13 23:46] molant commented on #766
👍

I might switch browser and vs code, but at this point the best will be to do some A/B testing to see which one works best.

[2020-01-05 17:17] ststimac opened #874 "Sidebar menu width is bumping the arrow to it's own line"
Design bug. Screenshot below.

<img width="363" alt="Screen Shot 2020-01-05 at 9 16 17 AM" src="https://user-images.githubusercontent.com/18073131/71783477-32171a80-2f9c-11ea-91f9-4aa5d505d509.png">

[2020-01-31 14:16] Andrew-Cottrell opened #881 "Confusing documentation for highest-available-document-mode"
The page https://webhint.io/docs/user-guide/hints/hint-highest-available-document-mode/#what-does-the-hint-check currently says

My website follows the above rules, but fails the test. I guess the test is actually doing a case-sensitive match on "ie=edge". If this is the case, it should be modified to do a case-insensitive comparison. The `X-UA-Compatible` header isn't case sensitive and examples

[2020-01-31 14:31] Andrew-Cottrell opened #882 "no-protocol-relative-urls has false-positive match on dns-prefetch links"
`dns-prefetch` link are only used to request DNS resolution and not to open HTTP connections. The `no-protocol-relative-urls` test considers `dns-prefetch` links to be violations. This appears to be false-positive as there are no performance or security implications.

Reference: https://www.chromium.org/developers/design-documents/dns-prefetching

[2020-01-31 15:44] molant commented on #881
Can you please share your configuration or is this with the online scanner?
The hint will tell you to add it or remove it depending on your browser support matrix and IIRC the configuration in the online scanner doesn't take into account IE11 (and thus telling you to remove it).

[2020-01-31 15:49] molant commented on #882
😓
Any other [`rel` attributes](https://developer.mozilla.org/en-US/docs/Web/HTML/Link_types) that should be an exception?
cc @antross

[2020-01-31 15:50] molant commented on #882
Moving this issue to the main hint repo

[2020-01-31 16:41] Andrew-Cottrell commented on #881
I was using the online scanner, at https://webhint.io/scanner/, with the Chrome 79 web browser.
If this hint may depend on certain circumstances, perhaps the online documentation could specify.

[2020-01-31 17:00] molant commented on #881
It's actually in the documentation but a bit [buried in the configuration section](https://webhint.io/docs/user-guide/hints/hint-highest-available-document-mode/#can-the-hint-be-configured) (it took me a minute to find it and only because I was positive it was somewhere 😓).
We should definitely mention that earlier on to avoid confusion.

Thanks for catching this!

[2020-04-21 21:54] hxlnt opened #889 "`npm install` fails on node-zopfli"
Running into some issues when running `npm install` on this repo locally (Windows 10, node v12). Looks like it fails to pull down a binary from molant/node-zoplfi then fails to build from source.

[code]
...
[code]

[2020-04-21 22:09] molant commented on #889
Haven't built the binary for node 12. Might be worth looking into another option or completely ditching zopfli. Is always a pain.

For not the workaround is for you to use node 10 😞

[2020-04-24 16:18] hxlnt opened #893 "Fix webhint.io build"

[2020-04-24 16:36] hxlnt commented on #889
Let's try to switch to a newer package.

[2020-05-08 14:52] #889 closed

[2020-05-08 16:11] #893 closed

[2020-05-08 16:18] utsavized opened #900 "Hint count not showing on the results page"
webhint.io online scanner does not show hint count on the results page

For test.com, it should display hint count as 32 instead of 0. See attached image for details.

![image](https://user-images.githubusercontent.com/1020705/81425600-c3de9200-910c-11ea-8f64-da0ff8738843.png)

[2020-05-20 15:29] utsavized opened #903 "Use telemetry package for usage tracking"
Replace current code with one from the telemetry package instead.

[2020-05-21 16:11] #900 closed

[2020-05-22 22:32] antross opened #905 "Update website deployment pipeline credentials"
The last couple of commits for the website have failed to deploy to production because the credentials used in our deployment pipeline have expired. I can still manually swap these changes in so we're not blocked. That said, having the fully automated pipeline working is preferred. Filing to remind myself to update these next week :)

[2020-05-26 20:20] utsavized opened #907 "Puppeteer integration tests during deployment are intermittently failing"

[2020-05-26 20:39] molant commented on #907
Could this be related to the server code not being ready?
I believe the node part of the site will not get started until there's a request to it, and it might take a few seconds to get it ready (and connection might be dropped?).

In another project what we ended up doing for testing before swapping was to just do requests until we get the page. I think we had a limit of 5 requests and we waited a

[2020-05-26 20:59] utsavized commented on #907
This is what I suspected as well. I added a simple exponential back-off logic in the other [PR ](https://github.com/webhintio/webhint.io/pull/906) to see if a 5/10/15 second back-off between retries fixes the issue.

[2020-05-26 21:31] #907 closed

[2020-05-26 21:32] #905 closed

[2020-05-31 16:11] tmb-github opened #909 "Chrome Lighthouse 6.0.0 now audits for maskable icon, which webhint rejects"
Starting in Chrome Canary version 85, the Lighthouse Auditor (version 6.0.0) requests that users include a maskable icon in their site.webmanifest file. Lighthouse provides a link to a this page https://web.dev/maskable-icon/ that describes the icon, and in that page there is a link to this page  https://maskable.app/ in which users may easily create maskable icons.

Webhint seems not to know abou

[2020-07-08 06:49] Maestro04 opened #916 "Scanner dysfunctional"
Chrome Version : 79.0.3945.117 (Official Build) (64-bit)
OS : Linux
JavaScript : V8 7.9.317.32
URL : https://freequote.safestyle-windows.co.uk/composite-doors.php
**Steps To Reproduce** :
1) Open https://webhint.io/scanner/
2) Paste the URL in the text box 'Enter your URL here'
3) Click on 'RUN SCAN'
**Message Displayed** : Uh-oh! There's been an error and the scan could not start.

[2020-07-08 06:51] DanielRuf commented on #916
Wanted to report the same. Here is some additional information about this:

![grafik](https://user-images.githubusercontent.com/827205/86886968-24cc1b80-c0f8-11ea-9050-79828bf6ccac.png)

[2020-07-08 16:45] sarvaje commented on #916
@Maestro04 @DanielRuf thanks for open the issue. I'm going to work on it.

[2020-07-09 20:09] sarvaje commented on #916
@Maestro04 @DanielRuf the scanner should be working fine.

I'm going to close the issue. Please, feel free to reopen it if you still have the issue.

[2020-07-09 20:09] #916 closed

[2020-07-09 20:18] DanielRuf commented on #916
Thanks, the scanner seems to work again now.

What was the cause and how was it resolved?

[2020-07-09 20:24] sarvaje commented on #916
for some reason, the azure functions in production were empty. I also took advantage on the "under construction" status and I improved the deployment to production, so next time we have an issue, at least the deployment should be very straight forward jejeje

[2020-07-09 20:25] sarvaje commented on #916
I didn't mention it, but the scanner runs on Azure functions hehehe

[2020-07-09 21:18] DanielRuf commented on #916
Awesome, thanks for the technical and interesting explanation and taking care of these things.

[2020-07-09 21:25] sarvaje commented on #916
Thank you for reporting the issue! :)

[2020-07-28 18:53] antross commented on #766
This was completed by #890. Closing.

[2020-07-28 18:53] #766 closed

[2020-07-30 16:06] antross opened #925 "Remove GA from website"
Triggered by questions in #913 and discussed at our sync last week, we want to remove Google Analytics from the website because:
1) Nobody is currently looking at the GA data
2) The data we do look at is gathered through webhint-specific code and stored in Application Insights
3) We want to only gather data we know we're going to use and can explicitly make anonymous to maximize user privacy

[2020-07-30 18:04] molant commented on #925
Is there a plan to track click through from the tools to the documentation pages?

[2020-07-31 20:00] antross commented on #925
Yes for browser integrations we're working on. We don't currently have work tracking this from the other entry points (e.g. the browser extension) but I suspect that would be useful as well. We'd just need to update the extension to append a source param and we could follow that through. Or did I misunderstand your question?

[2020-07-31 23:11] molant commented on #925
My question was more about what is going to record how many visits come with that param. If the plan is to report it via AppInsights that's fine.
Another problem is the data retention, especially if at one moment there are OKRs about any of these values (although we already have that problem).

[2020-08-03 19:27] antross commented on #925
@molant, yes the plan is to report it via App Insights (and was implemented here https://github.com/webhintio/webhint.io/pull/913)

[2020-08-09 09:44] mass34 opened #930 "Uh-oh! There's been an error and the scan could not start."
Bug report:
1. http://localhost:4000/scanner/
2. Linux  5.4.0-42-generic #46-Ubuntu SMP Fri Jul 10 00:24:02 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
3. Firefox79.0 (64-bit)
4. all websites
![4000](https://user-images.githubusercontent.com/18635003/89729398-fd8da480-da3d-11ea-9770-f30a11b7eec3.png)

[2020-08-10 19:55] antross commented on #930
Thanks for the report @mass34!

To clarify, are you trying to run the online scanner from your own machine? If so, can you share what you're trying to accomplish? Getting the configuration right to run the online scanner locally can be a bit tricky and we generally don't recommend it unless you're specifically trying to enhance/debug the scanner itself.

For most testing against live sites we reco

[2020-08-12 20:41] antross opened #933 "Support mapping links to full URLs from `hint` GitHub repo"
What the website is doing is getting these type of links:
[code]
And converting them to a "local" website.

If we add a full URL, for know it will going to keep it as is (IIRC). So the link instead of keeping inside the website, will go to the github documentation.

I think we need to add another rule to process urls that points to the hint repo.

_Originally posted by @sarvaje in https://github.c

[2020-08-12 20:43] antross commented on #933
This will support related changes to make these links work on MDN.

E.g. when the following change to links is made in the linked PR
[code]

[2020-08-12 20:57] #925 closed

[2020-08-14 22:52] sarvaje opened #935 "[bug] The package hint is listed in the documentation as a Hint"
![image](https://user-images.githubusercontent.com/1581288/90298197-13d49f80-de46-11ea-8fd7-63612f7ef290.png)

[2020-08-17 20:36] #935 closed

[2020-08-20 16:06] #933 closed

[2020-09-08 06:44] paragdiwan opened #942 "Electron node-gyp canvas package not found."

[2020-09-11 23:23] molant commented on #942
Hi @paragdiwan,

Sorry for the late response.
From the error it seems like you are running it directly inside electron. Is that right? Native modules need to be recompiled for Electron and unfortunately `canvas` is not an easy one to compile...

What is the scenario you are trying to achieve? `canvas` is used by the jsdom connector but you can probably use the puppeteer connector.

[2020-09-13 04:52] paragdiwan commented on #942
@molant
Yes you said right. I am trying to run `webhints` within the electron. irrespective of any connector, i.e. even before the execution step, the electron `rebuilding` process gives the error.

[2020-09-13 05:34] molant commented on #942
Do you have a repo we can clone with some steps to reproduce the error?
I'm not sure what do I have to do to see the same problem you do right now.

Thanks!

[2020-10-02 16:04] hxlnt opened #946 "Check Let's Encrypt certificate for website"

[2020-10-16 15:43] hxlnt commented on #942
@paragdiwan, just following up to see if you have a sample repo you could share so we can try to repro your issue. Thanks!

[2020-11-13 17:27] hxlnt opened #950 "New website release to pick up new docs, update online scanner"

[2020-11-18 17:57] sarvaje commented on #950
This is already done!

Closing!

[2020-11-18 17:57] #950 closed

[2021-01-06 21:13] sarvaje opened #955 "Nellie's working overtime... all the time?"
This screen is showing very often now (or always) so we need to take a look.

The workaround is copy the permalink and pasting in the address bar.

[2021-01-21 22:36] sarvaje commented on #955
Fixed, there was some "dead messages" in the queue that was triggering this screen to appear.

I requeue the jobs and now it should be clean.

There are two "dead messages"  still in the results queue that are constantly failing, I don't know exactly why.

@antross do you think we should open an issue to investigate why those messages are failing?

[2021-01-21 22:36] #955 closed

[2021-01-22 22:57] antross commented on #955
Probably. Can we also clean them out and see if they reoccur?

[2021-01-29 17:33] antross opened #956 "List companies and projects using webhint"
Would be nice to have a page on webhint.io showing the different places webhint is being used outside of the core project. Companies using webhint would be neat to call out as would projects that build on top of or integrate webhint directly.

[2021-04-23 16:10] hxlnt opened #962 "Remove "Signal issue" links"
Remove Signal issue links from docs pages

[2021-05-10 19:00] #962 closed

[2021-05-20 14:08] LB22 opened #969 "Dark mode"
I highly suggest an implementation of choices for themes such as dark and light mode.
This is a huge boost for UX. I can not look at your web page without getting an instant headache and I'm not alone, especially not among the developers using your website.

I recommend to implement system preference detection for this.

[2021-05-27 16:28] ststimac commented on #969
@hxlnt @antross If you still need someone to pick some colors for the site for dark mode, I could create a palette.

[2021-05-27 21:43] hxlnt commented on #969
@ststimac Yes, I would support this! 👏

[2021-06-10 01:12] JZebra opened #971 "https://webhint.io/scanner/ fails to scan"
Bug report:

https://webhint.io/scanner/ fails to scan.
MacOS version 10.15.7
Google Chrome Version 91.0.4472.77

Repro steps:
- Go to https://webhint.io/scanner/
- enter 'http://www.google.com'
- I am directed to an error page:

![Screen Shot 2021-06-09 at 6 08 15 PM](https://user-images.githubusercontent.com/5651471/121449149-14e33a00-c94e-11eb-937c-8c2647af7c44.png)

[2021-06-10 17:26] sarvaje commented on #971
@JZebra thanks for the report. The service should work normally now.

Please feel free to open it again if it happens again.

[2021-06-10 17:26] #971 closed

[2021-06-11 17:26] mayakhanna4 commented on #289
is this still available to work on??

[2021-06-12 18:12] molant commented on #289
@mayakhanna4 yes!!

[2021-06-19 08:11] peter-kehl opened #972 "https://webhint.io/docs/user-guide has incorrect "webhint browser extension" link"
Near the end of https://webhint.io/docs/user-guide content (but not in the footer) it has a "webhint browser extension" link, which points to https://webhint.io/extension-browser, which doesn't exist.

You want it to point to https://webhint.io/docs/user-guide/extensions/extension-browser/.

[2021-09-05 05:28] gautam-jha commented on #969
@ststimac Have you created any palette? I guess, this feature will be useful as much as the WebHint.

[2021-10-11 18:22] XhmikosR opened #989 "https://webhint.io/scanner/ returns 404"
Hello!

Since a few weeks now, the https://webhint.io/scanner/ URL is returning 404:

[code]

Is the page gone or is it a mistake? If it's gone, I guess it should be redirected, although, personally, I used it from time to time, but I'm sure there were probably reasons.

[2021-10-11 22:55] #930 closed

[2021-10-11 22:56] hxlnt commented on #308
Closing out given the retiring of the online scanner.

[2021-10-11 23:03] hxlnt commented on #946
No longer relevant after hosting migration.

[2021-10-11 23:03] #946 closed

[2021-12-15 13:24] Rotzbua commented on #989
Still a `404` and no hint on website that the scanner is discontinued.

Better a `410` gone error page and a meaningful message that the scanner has been discontinued.

[2021-12-15 13:35] Rotzbua opened #990 "https://webhint.io/about/changelog/ returns 404"
Hi,

short report:

URL: https://webhint.io/about/changelog/
Current result: 404 not found error
Expected result: Webpage or redirect
Found: Top menu -> About -> Changelog
Browser: All