[2017-04-17 17:28] molant opened #1 "MVP"
We are going to use Hexo for the main site and express for the scan part.

We need to validate that we can integrate both nicely and that Hexo meets our needs. For the MVP we should have the following sections (plus a common header/footer accross all pages):
* Homepage with a form that takes you to /scan when user submits
  * **/**
* The scan page will be a small express server listening in /scan

[2017-04-27 19:44] #1 closed, assigned to nobody

[2017-04-27 19:48] molant opened #4 "Configure live site"
Things to do:

* [X] Create Azure website
* [X] Update DNS domains
* [X] Set up lets encrypt
* [ ] Enforce https via `web.config`
* [ ] Find a way to not need `.html` for the urls via `web.config` probably
* [ ] Configure `brotli` and `zopfli` in `web.config` until we have a CDN and can deploy to it
* [ ] Redirect `www.sonarwhal.com` to  `sonarwhal.com` (DNS? `web.config`?)
* [ ] Make node listen

[2017-04-27 19:54] molant opened #5 "Automatically update documentation"
We need to update the documentation website when there are changes in [Sonar](https://github.com/MicrosoftEdge/Sonar).

Until we go public we can update/build the site each time there is a change in master, but we will have to look into a different strategy later (it could be as simple as having a `development` branch and we look only for changes in `master`).

In any case, we need to:
* [x] Get n

[2017-04-29 09:44] alrra opened #8 "Fix left iceberg so that it doesn't display a line"
![](https://cloud.githubusercontent.com/assets/1223565/25554541/7d22f374-2cd8-11e7-8b18-47d410eab536.png)

![](https://cloud.githubusercontent.com/assets/1223565/25554591/92822bf8-2cd9-11e7-843c-3b5b32326c55.gif)

This issue is present in the code from #7.

---

@ststimac  I know I said this a couple of times, but the icebergs are great! 💜

[2017-05-01 16:56] alrra opened #9 "Resulting HTML from Markdown is not equivalent to the one from GitHub"
Split lines from Markdown get split in HTML too:

![screen shot 2017-05-01 at 19 29 21](https://cloud.githubusercontent.com/assets/1223565/25586444/0263af80-2ea8-11e7-867b-54196ff76c80.png)

This is not the case on GitHub:

![](https://cloud.githubusercontent.com/assets/1223565/25585751/cbe6952e-2ea4-11e7-955b-b7a6b27b16eb.png)

[2017-05-01 18:22] molant opened #10 "Add linting tools to the project"
* [x] eslint
* [x] stylelint
* [x] markdown
* [x] editorconfig

They should be run on `npm test` (except editorconfig).

[2017-05-01 18:26] molant opened #11 "Add search"
Need to have an option to search into the website, mainly across the documentation files.
Ideally similar to what ESLint does. We could:
* Use the same service (don't know if there is a free option).
* Use Azure Search

@sarvaje, @qzhou1607 I think you did a bit of research about this, right?

[2017-05-01 22:17] #9 closed, assigned to nobody

[2017-05-02 10:35] alrra opened #13 "Fragment identifiers are not consistent with the ones generated by GitHub"
* [GitHub](https://github.com/MicrosoftEdge/Sonar/blob/fefe7437e0553ace8fc837b14f6b3a555491f155/docs/developer-guide/events/list-of-events.md#targetfetchstart): `#targetfetchstart`
* [Site]( https://sonarwhal.com/docs/developer-guide/events/list-of-events.html#targetfetch-start
): `#targetfetch-start`

----

![](https://cloud.githubusercontent.com/assets/1223565/25614739/e6ddbbd6-2f3b-11e7-8d12-de

[2017-05-04 18:30] aarongustafson opened #16 "Make logo link to the homepage"
Seen throughout the site.

Recommendation (to not require CSS changes):

[code]

[2017-05-04 18:33] aarongustafson opened #17 "Expose "Documentation" subnav"
Currently there’s no way to access it visually (though it is in the tab order).

[2017-05-04 18:43] aarongustafson opened #18 "Table of contents as `dl`?"
I’m wondering: Does it make sense to use `dl`, `dt`, `dd` in lieu of `div` & `p`? The semantics might be better and it might provide opportunities to turn it all into a tree menu in the future.

Also recommend Title Case for the labels.

[code]

[2017-05-04 18:51] aarongustafson opened #19 "Current breadcrumb item should be [aria-current=location]"
Might also make sense for it to be a link, but I’m not sure that’s required.

Pattern from https://ljwatson.github.io/design-patterns/aria-current/:

[code]

[2017-05-04 18:55] aarongustafson opened #20 "Footer?"
Is there a sitewide footer forthcoming?

[2017-05-04 19:03] aarongustafson opened #21 "More robust form validation?"
If we need it, let me know. I’ve been meaning to port https://github.com/aarongustafson/easy-validation.js to vanilla JS.

[2017-05-07 05:22] #5 closed, assigned to alrra

[2017-05-09 07:36] alrra opened #24 "Remove unneeded code"
There is way to much css, we should clean up all the unneeded code.

[2017-05-09 07:39] alrra opened #25 "Create starting (index) page for `Developer Guide` and `User Guide`"
Ref: https://github.com/MicrosoftEdge/sonarwhal.com/pull/23#discussion_r115413565

[2017-05-09 08:38] alrra opened #26 "Text overflows outside of the container"
e.g.: https://sonarwhal.com//docs/developer-guide/rules/how-to-create-a-rule.html

![](https://cloud.githubusercontent.com/assets/1223565/25842153/aa9cb08a-34ab-11e7-8365-81fc44f2a4b5.png)

[2017-05-09 16:02] #8 closed, assigned to ststimac

[2017-05-09 16:14] ststimac opened #27 "Replace GitHub footer link w/icon"
Need GitHub SVG icon
Align icon to the right of the footer

[2017-05-09 16:22] ststimac opened #28 "Make sure correct font weights are being used"
I'm seeing some discrepancies between machines when it comes to the way fonts are being rendered. Need to double check the correct weights are being applied.

[2017-05-09 16:31] #20 closed, assigned to nobody

[2017-05-09 16:33] ststimac opened #29 "Add companies logos that participate in sonar to website"
We need a 'sponsored by' section on the homepage right @molant?

Will also eventually need to add a 'companies using sonar' section too.

[2017-05-09 20:41] #24 closed, assigned to ststimac

[2017-05-09 22:38] ststimac opened #31 "Add 'upload config file' to home page"
Missing the 'upload config file' and 'manual options' links under the search bar.

[2017-05-10 06:11] alrra opened #33 "List items should have bullets (or other kind of visual indicator)"
For multi-line items, at the first glance, I find it hard to distinguish where one item starts and the other begins.

![](https://cloud.githubusercontent.com/assets/1223565/25885258/3035caba-3560-11e7-85f4-e2f708b77444.png)

[2017-05-11 07:48] #11 closed, assigned to nobody

[2017-05-12 02:41] molant opened #39 "Home page various"
Various things regarding links:

* [x] The "User Guide", "Rules" and "Developer Guide" in the middle are only clickable in the text. I think it should include the image as well
* [x] Links in the homepage are not accurate. Here is the table:

| Title            | Url |
|--------------|----|
| New scan/Scanner/Run Scan    | /scanner/ |
| User Guide | /docs/user-guide/ |
| Developer Guide  | /docs/d

[2017-05-12 02:43] #17 closed, assigned to nobody

[2017-05-12 02:46] #16 closed, assigned to nobody

[2017-05-12 03:04] molant opened #40 "Footer is only visible in homepage"
If I visit any other page, the footer is not there. E.g.:
* https://sonarwhal.com/about/faq/
* https://sonarwhal.com/docs/user-guide/rules/disallowed-headers.html

[2017-05-12 03:09] molant opened #41 "Add color syntax to code snippets"
We have a few code snippets in the website that are rendered as code but with no color at all:

![image](https://cloud.githubusercontent.com/assets/606594/25980707/4b7f0996-3685-11e7-9f7b-d288b7e0e8cf.png)

We should have color syntax when possible. @qzhou1607, [remarkable has syntax highlighting](https://github.com/jonschlinkert/remarkable#syntax-highlighting) out of the box, but I don't know if

[2017-05-12 03:13] molant opened #42 "Add Code of Conduct to project and website"
The code of conduct should be the same as the one in [sonar](https://github.com/MicrosoftEdge/Sonar/blob/master/CODE_OF_CONDUCT.md) and the website should use this file in the root to populate the section in the FAQ

[2017-05-12 03:20] molant opened #43 "Changelog section"
@alrra I think this should come from [sonar](https://github.com/MicrosoftEdge/Sonar/) and should be calculated automatically between package version changes, tags, or any other way we seem appropriate. Thoughts?

@qzhou1607 your script should take it into account and put `changelog.md` in the right place.

[2017-05-12 03:29] molant opened #44 "Replace lorem ipsum with real content"
Currently in subsections of user and developer guides.

[2017-05-12 03:37] molant opened #45 "Need to normalize the documentation folder/file structure"
This will impact how we write sonar's documentation in the CLI project, but I think we should discuss it here because it is where it will be consumed.
Right now we user and developer guides with no main pages (#25). Inside each one, we have:
* separate `.md` files.
* sub folders with `.md` files.

What I'm thinking is the following:
* A file with the name `readme.md` will be the landing page for t

[2017-05-12 03:40] molant opened #46 "Style search and search preview"
Right now it looks like this:
![image](https://cloud.githubusercontent.com/assets/606594/25981437/f86d8a34-3689-11e7-90f1-120d7315c10a.png)

[2017-05-12 03:55] molant opened #47 "Scan form and results"
Issue to track the work for the scanner part.
Depends on #4 to have something to render in the live site.

[2017-05-12 07:14] alrra opened #48 "In page links need to be updated"
e.g: http://sonarwhal.com/docs/user-guide/rules/index.html

![](https://cloud.githubusercontent.com/assets/1223565/25987219/aa8c7f92-36fb-11e7-97bc-c5d82d61ee24.png)

[2017-05-12 16:57] #33 closed, assigned to ststimac

[2017-05-15 11:23] alrra opened #51 "Integrate sonarwhal into the workflow"
[_Eating your own dog food._](https://en.wikipedia.org/wiki/Eating_your_own_dog_food)

[2017-05-15 17:24] ststimac opened #52 "Style Documentation pages"
Need to make some adjustments/add some CSS to the content in the documentation pages like https://sonarwhal.com/docs/developer-guide/events/list-of-events.html

All the bullets for list items make the page look cluttered. Also the subcontent of each 'event' could use some clearer hierarchy created through Typography and spacing.

- [x] Style List items at top of the page

- [x] Dev Guide: Style ev

[2017-05-15 19:46] #41 closed, assigned to nobody

[2017-05-15 22:33] #42 closed, assigned to nobody

[2017-05-15 22:42] molant opened #56 "Should md content from sonar be in this repo?"
Right now we have all the user and dev guides in the master branch. I think we shouldn't have those (`website` branch is different).
Maybe we could have a script that pulls the latest version once the repo is OSS similar to what we are doing in travis?

@MicrosoftEdge/sonar-devs what do you think?

[2017-05-15 22:55] #10 closed, assigned to nobody

[2017-05-16 19:20] molant opened #57 "Refactor code to enable express + static code in live site + other things"
The current folder structure looks as follows:
![image](https://cloud.githubusercontent.com/assets/606594/26121609/b4ed32e8-3a29-11e7-9f56-4c69bdf8d836.png)

It is not evident what does what and we will have to add more content once we start working on the scanner. Also the `public` folder is the only one that is being published into the `website` branch so we will need to change that.

Things tha

[2017-05-17 20:20] #26 closed, assigned to nobody

[2017-05-17 20:27] #19 closed, assigned to nobody

[2017-05-18 11:48] #46 closed, assigned to ststimac

[2017-05-18 12:55] molant opened #63 "Blank area on the right side when visiting the website from mobile"
This is from an iPhone 7+ using safari:
![img_3096](https://cloud.githubusercontent.com/assets/606594/26203011/6a00bbf4-3b8e-11e7-821d-a11988620328.PNG)

There is a vertical bar on the right.
Also when searching the page zooms which is a bit weird. Maybe we can remove the "sonar" text so it doesn't happen?

[2017-05-18 20:40] #63 closed, assigned to ststimac

[2017-05-18 21:32] ststimac opened #65 "Search results preview isn't responsive"
Need to assess whether this will be easy to fix or if we'll hide search results on mobile.

[2017-05-18 21:39] ststimac opened #66 "Search input display bug on Safari Mobile on iPhone 6+6s"
Media queries need to be adjusted to fix this issue in mobile Safari.

![screen shot 2017-05-18 at 2 37 29 pm](https://cloud.githubusercontent.com/assets/18073131/26224501/8abea5ec-3bd7-11e7-88d3-16b4a619f2cc.png)

[2017-05-19 15:01] alrra opened #68 "Style inline code blocks"
![](https://cloud.githubusercontent.com/assets/1223565/26253791/2f94ce80-3cbd-11e7-9aef-1225b61b1224.png)

[2017-05-19 18:22] #25 closed, assigned to nobody

[2017-05-20 07:28] #13 closed, assigned to nobody

[2017-05-22 09:05] #56 closed, assigned to alrra

[2017-05-22 13:07] alrra opened #72 "Disable code block line numbers?"
The code block line numbers don't seem to me to be very useful. Also, for some cases, they just look weird:

![](https://cloud.githubusercontent.com/assets/1223565/26310164/870ee5e0-3f08-11e7-88a0-776dfb3b29e9.png)
![](https://cloud.githubusercontent.com/assets/1223565/26310163/870abe34-3f08-11e7-80c1-f36158637973.png)

----

@MicrosoftEdge/sonar-devs Thoughts?

[2017-05-22 13:20] alrra opened #73 "Fragment identifiers are not consistent with the ones from the search"
![](https://cloud.githubusercontent.com/assets/1223565/26310732/95f31804-3f0a-11e7-90b1-3577289e9f72.png)

[2017-05-22 17:34] #66 closed, assigned to ststimac

[2017-05-22 17:37] #27 closed, assigned to ststimac

[2017-05-22 17:59] ststimac opened #74 "Design scan results page"
This will have a few different iterations depending on what point in time we're at:

- [x]  MVP Scan results page, probably just the current state of the site that was scanned, no compare option, no charts

- Will need to slightly modify current design

- [ ]  2nd iteration, add compare to previous scan option

- [ ]  Probably a 3rd iteration where we have enough data to start calculating average

[2017-05-22 18:43] alrra opened #76 "Automate scraping the docs"
Ref: https://github.com/algolia/docsearch-scraper

[2017-05-22 18:55] #72 closed, assigned to nobody

[2017-05-22 22:06] ststimac opened #78 "Fix github icon positioning in footer when on mobile"
Currently aligned to the right but should line up on the left on smaller screens

[2017-05-22 22:45] molant opened #79 "search icon is pixelated"
![image](https://cloud.githubusercontent.com/assets/606594/26331428/a5269b0c-3f05-11e7-8602-f0bafa194137.png)
It's a png and not svg.

[2017-05-22 22:52] molant opened #80 "Search results page"
We need a search results page in case JS isn't enabled in the site.
@ststimac can you do the design, basic html and do a PR?
@qzhou1607 will do the backend part once I do #57 in that same branch before merging

[2017-05-22 23:10] molant opened #81 "Add icons and manifest to sonarwhal.com"
Need a Nellie in my phone homescreen!

[2017-05-22 23:10] #39 closed, assigned to nobody

[2017-05-22 23:13] #40 closed, assigned to nobody

[2017-05-23 04:47] molant opened #83 "Have a build process and right infrastructure"
Right now the website is only on an Azure Website. We need to have the right infrastructure in place to make it performant:
* [ ] Use a CDN for the assets (with right cache-control, etc.).
* [ ] Have a build process to minify, optimize, and update the assets/resources. We should also zopflify and brotlify the static files.
* [ ] Deploy to the right places the different assets.

Ideally we should b

[2017-05-23 09:38] alrra opened #84 "Make linking to subsections easier"
It would be nice when hovering / tapping on a section title to show a `#` or an link icon , and by tapping / clicking on that, to link to that section.

E.g. from http://eslint.org/docs/rules/:

![](https://cloud.githubusercontent.com/assets/1223565/26348117/548695ee-3fb4-11e7-9303-3d013dc7d51f.gif)

[2017-05-23 09:41] alrra opened #85 "Code blocks are not always the same size"
e.g.: https://sonarwhal.com/docs/developer-guide/rules/index.html

![](https://cloud.githubusercontent.com/assets/1223565/26348333/1590005e-3fb5-11e7-8aea-3a8e685ca4bb.png)

[2017-05-23 15:57] molant opened #86 "Indenting of nested list items is always the same"
![image](https://cloud.githubusercontent.com/assets/606594/26363413/d146a80e-3f95-11e7-85e2-eccd911a9eeb.png)

You can see it in action in https://sonarwhal.com/docs/user-guide/

[2017-05-23 15:59] ststimac opened #87 "Ensure Documentation front-end code is correct"
Looking at the code for this page https://sonarwhal.com/docs/developer-guide/rules/index.html

I believe each section of content that has an h2 heading should be wrapped in its own `section` element. @aarongustafson can you confirm this is the correct approach for these pages?

Also seeing a `blockquote` element in there but not sure if it is just a placeholder for now, but that should be removed

[2017-05-23 18:08] molant opened #88 "Bar below footer under certain resolutions"
![image](https://cloud.githubusercontent.com/assets/606594/26368863/c3d47b6c-3fa7-11e7-992e-357a799cefa8.png)

This happens in my 4K screen and Surface Book in Edge and Chrome.
Both Surface Book and 4K screen have a 150% zoom:
![image](https://cloud.githubusercontent.com/assets/606594/26368893/e2ecd0f8-3fa7-11e7-87a4-e915d895e3c3.png)

Browser zoom is set to the default:
* Edge: 150%
* Chrome: 100

[2017-05-24 02:44] molant opened #90 "Landing pages issues"
![image](https://cloud.githubusercontent.com/assets/606594/26384643/943e9aac-3fef-11e7-9fe9-04e872f49eb3.png)

In the above picture there are several issues:
* The breadcrumb is repeated:

* User guide title is repeated twice. I think we can probably remove the `lorem ipsum` part and the title for the landing pages.
* Not in this picture, but the User guide ToC has the last section expanded. Every

[2017-05-24 08:09] #4 closed, assigned to molant

[2017-05-24 08:09] #57 closed, assigned to molant

[2017-05-24 17:17] molant opened #92 "Favicon doesn't show up in Edge"
Edge:
![image](https://cloud.githubusercontent.com/assets/606594/26416220/f7854eec-4069-11e7-8468-e3fb961fae01.png)

Chrome:
![image](https://cloud.githubusercontent.com/assets/606594/26416192/e22d01a2-4069-11e7-87ca-e06c6315a0af.png)

Firefox:
![image](https://cloud.githubusercontent.com/assets/606594/26416236/03d91926-406a-11e7-91f0-f4b4d5a51acf.png)

Other tabs like tweetdeck, azure portal, etc

[2017-05-24 17:21] molant opened #93 "ToC should be collapsable/expandable from the client side"
TOC should be collapsable. So when you're on the landing page for the Developer Guide, TOC should be collapsed. Will need to add this functionality and an arrow icon to indicate the TOC can be opened or closed.

![screen shot 2017-05-15 at 9 49 16 am](https://cloud.githubusercontent.com/assets/18073131/26068860/d012170e-3953-11e7-9924-a2186c6d2246.png)

And the landing pages should be clickable in

[2017-05-24 17:21] #45 closed, assigned to nobody

[2017-05-24 19:09] #76 closed, assigned to alrra

[2017-05-24 20:15] molant opened #95 "markdownlint is not applied to all .md files"
[code]

We are missing all the files under `src/hexo/source/`.

[2017-05-24 21:22] molant opened #96 "Update documentation pages to original layout"
The original layout proposed by @ststimac had a title, followed by an introduction and then the page was split in two, left side for ToC, right side for content.
Something similar to the following:

![image](https://cloud.githubusercontent.com/assets/606594/26426038/d45752cc-408b-11e7-83e6-36ec10b1f322.png)

We've removed since the lorem ipsum part to address other higher priority issues but we sh

[2017-05-24 21:23] #44 closed, assigned to nobody

[2017-05-24 21:55] molant opened #97 "List of events page doesn't show up in ToC"
If you go to https://sonarwhal.com/docs/developer-guide/collectors/events.html you will see it doesn't appear in the ToC:

![image](https://cloud.githubusercontent.com/assets/606594/26427276/eb8cf244-4090-11e7-8ff4-ef8eda4e107d.png)

Should be under collectors. This was working before so not sure what is wrong.

@qzhou1607 can you take a look?

[2017-05-24 23:26] #95 closed, assigned to nobody

[2017-05-24 23:26] #68 closed, assigned to ststimac

[2017-05-24 23:26] #78 closed, assigned to ststimac

[2017-05-24 23:26] #79 closed, assigned to ststimac

[2017-05-24 23:26] #86 closed, assigned to nobody

[2017-05-24 23:26] #88 closed, assigned to ststimac

[2017-05-24 23:38] #85 closed, assigned to nobody

[2017-05-25 03:24] molant opened #100 "Logo is broken in IE11"
![image](https://cloud.githubusercontent.com/assets/606594/26434678/e6f7be7a-40be-11e7-858b-9a2dc53fa2a7.png)

I think we had some similar issues with edge.ms so maybe @melanierichards or @dstorey can help you.

[2017-05-25 10:55] alrra opened #101 "Update code of conduct to use `mailto:` links"
See: https://sonarwhal.com/about/code-of-conduct/

![](https://cloud.githubusercontent.com/assets/1223565/26447495/767f5fc0-4151-11e7-8016-df9e3e1fc6bf.png)

---

Note: GitHub [added them automatically](https://github.com/MicrosoftEdge/Sonar/blob/9247c33756b121579086b43918c7cbe2600f6d09/CODE_OF_CONDUCT.md).

[2017-05-25 10:56] #101 closed, assigned to nobody

[2017-05-25 12:53] #81 closed, assigned to alrra

[2017-05-25 15:46] ststimac opened #102 "Adjust home page input"
Input bar and scan button should stack on smaller screens.

![screen shot 2017-05-25 at 8 46 12 am](https://cloud.githubusercontent.com/assets/18073131/26457927/a69153b0-4126-11e7-8c86-7c7589328795.png)

[2017-05-25 21:59] #92 closed, assigned to ststimac

[2017-05-25 21:59] #100 closed, assigned to ststimac

[2017-05-25 21:59] #102 closed, assigned to ststimac

[2017-05-26 03:49] molant opened #104 "Remove scanner from site"
The scanner will not be working when we go public initially so we should remove it from the site for now. We should probably have a separate branch `scanner` and keep working there.
* [x] Remove from home page (and have something else in there?)
* [x] Remove from footer
* [x] Remove from header

[2017-05-26 22:01] molant opened #105 "Wrong links for the developer guide ToC"
* Formatters: https://sonarwhal.com/docs/developer-guide/formatters/index.html ✔️
* Rules: https://sonarwhal.com/docs/developer-guide/rules/how-to-test-rules.html ❌ Url should be swapped with the next item
  * How to develop a rule: https://sonarwhal.com/docs/developer-guide/rules/index.html❌
* Collectors: https://sonarwhal.com/docs/developer-guide/collectors/index.html ✔️
  * Events: https://sona

[2017-05-28 09:59] alrra opened #106 "Long code blocks brake layout on smaller screens"
e.g. https://sonarwhal.com/docs/user-guide/

<img src="https://cloud.githubusercontent.com/assets/1223565/26527811/a670b260-43a4-11e7-98c3-2e835e6bb034.png" width=300> <img src="https://cloud.githubusercontent.com/assets/1223565/26527821/f15ee4d6-43a4-11e7-8c47-c0f98b8f4b23.png" width=300>

[2017-05-28 14:36] alrra opened #107 "https://sonarwhal.com/about/changelog/ => 404"
https://sonarwhal.com/about/changelog/

[2017-05-28 14:40] alrra opened #108 "Add error messages / pages"
Currently for HTTP errors (e.g.: 404) we don't display anything. We should add and configure the server to use some custom error pages, or at least display some text.

---

@ststimac In the future it would be interesting to have something playful in those error pages.

[2017-05-30 20:33] ststimac opened #109 "Add Nellie illustration to home page on mobile"
Need to add a Nellie illustration to the home page when the user is on a smaller screen. The main illustration disappears at a certain width as I intended but we should still have some sort of narwhal illustration.

[2017-05-30 23:35] #28 closed, assigned to ststimac

[2017-05-30 23:35] #104 closed, assigned to ststimac

[2017-05-30 23:35] #106 closed, assigned to ststimac

[2017-05-31 05:33] molant opened #111 "Documentation doesn't have expand arrow on mobile"
![img_3266](https://cloud.githubusercontent.com/assets/606594/26617065/d797d4b0-4587-11e7-85a0-37e4017f8e0b.PNG)

The About section does. Clicking on documentation has the expected behavior.

[2017-05-31 16:04] molant opened #112 "Design main docs page"
Right now it is a bit empty:
![image](https://cloud.githubusercontent.com/assets/606594/26641610/04d5cb96-45e0-11e7-8840-e7952e6ecad9.png)

[2017-06-01 16:22] #73 closed, assigned to nobody

[2017-06-04 03:32] #111 closed, assigned to ststimac

[2017-06-05 12:18] #108 closed, assigned to molant

[2017-06-06 18:02] qzhou1607 opened #117 "Style for inactive section titles in ToC"
The original plan was to use black font for the inactive section titles. But now we have the purple toc-arrow icons, so it looks as below:
![toc](https://user-images.githubusercontent.com/20218531/26844087-21e9ada8-4aa7-11e7-8afe-2580348bbe68.PNG)
Btw, I styled the active and inactive titles as using the same color just for now.

[2017-06-06 18:12] #93 closed, assigned to nobody

[2017-06-06 18:37] #105 closed, assigned to nobody

[2017-06-06 18:38] #97 closed, assigned to nobody

[2017-06-06 18:39] #90 closed, assigned to nobody

[2017-06-06 18:43] qzhou1607-zz opened #118 "ToC folder orders in developer guide and user guide should be the same"
And index page of each section should always be the first.

[2017-06-06 18:47] qzhou1607-zz opened #119 "`how to develop a collector` link not work on `collectors` page"

[2017-06-06 21:23] qzhou1607-zz opened #120 "Index page is not the first page in the ToC section in production"
For example, in `user guide`, the page `rules` is not the first page under section title `RULES`. Something is odd with the sorting algorithm when dealing with index pages.

[2017-06-06 23:38] qzhou1607-zz opened #123 "Missing content"
* [ ] Homepage (description of the linting tool)
* [ ] FAQ
* [ ] Changelog (#43)
* [ ] Governance
* [ ] Contributors

[2017-06-06 23:43] qzhou1607-zz opened #124 "Links in `rules` index page of `user guide` don't work"
`Accessibility` and the neighbouring four links to local sections don't work in [rules](https://sonarwhal.com/docs/user-guide/rules/index.html).

[2017-06-07 03:14] molant opened #125 "Homepage doesn't have a <title>"
It is empty: `<title></title>`.
It should be:

[2017-06-07 03:34] #120 closed, assigned to qzhou1607

[2017-06-07 03:40] #119 closed, assigned to qzhou1607

[2017-06-07 05:13] alrra opened #126 "Limit lines length for better readability"
[_"Usually anything from 45 to 75 characters is widely regarded as a satisfactory length of line."_](https://www.mokuji.me/article/optimal-line-length-on-the-web)

| Before | After |
|:---:|:---:|
| ![](https://user-images.githubusercontent.com/1223565/26862989-2ac7f194-4b58-11e7-8194-44dbd3e16759.png) | ![](https://user-images.githubusercontent.com/1223565/26862988-2aa347ea-4b58-11e7-87fd-a60e8d0

[2017-06-07 09:36] alrra opened #127 "Header fragment identifiers are different then on GitHub"
### [GitHub](https://github.com/MicrosoftEdge/Sonar/blob/dca7da22e0f437d0bec5ff1dcd27bf6888459749/docs/user-guide/rules/index.md#rules):

  ![](https://user-images.githubusercontent.com/1223565/26872008-be664f34-4b7d-11e7-8152-af32d631901b.png)

---

### [Site](https://sonarwhal.com/docs/user-guide/rules/index.html#accessibility):

  ![](https://user-images.githubusercontent.com/1223565/26872007-b

[2017-06-07 12:18] alrra opened #128 "Add `edit` / `signal issue` links"
For documentation pages:

 * `edit`- should link to the corresponding `.md` file from the sonar repository.

    E.g.: https://remysharp.com/2017/05/01/getting-the-latest-emoji-on-my-mac

   ![](https://user-images.githubusercontent.com/1223565/26877397-7a9bbedc-4b92-11e7-9635-294d5e475209.gif)

* `signal issue` - should open new issue in the main sonar repository with the title of the documentati

[2017-06-07 23:40] qzhou1607-zz opened #131 "Add `rules` under `documentation` menu in the nav bar"
@molant Since we have `User Guide`, `Rules` and `Developer Guide` under `Documentation` in both the home page main body and also the footer, should we add `rules` under `documentation` in the nav bar dropdown menu as well? If so, I can add all link data to `menu.yml` in the `_data` folder, and then generate botht the header and footer dynamically.

[2017-06-08 01:42] #118 closed, assigned to qzhou1607

[2017-06-08 01:42] #124 closed, assigned to nobody

[2017-06-08 01:42] #125 closed, assigned to nobody

[2017-06-08 17:25] #48 closed, assigned to alrra

[2017-06-08 21:59] #127 closed, assigned to nobody

[2017-06-15 22:03] qzhou1607-zz opened #134 "Search result window doesn't disappear when the search field loses focus"
Currently the search result window remains visible unless the user clicks on a search result. It should stay hidden if the search field loses focus.

[2017-06-15 23:19] #134 closed, assigned to qzhou1607

[2017-06-19 13:51] #123 closed, assigned to molant

[2017-06-19 13:51] #131 closed, assigned to nobody

[2017-06-20 00:31] alrra opened #138 "Fix Twitter logo"
![](https://user-images.githubusercontent.com/1223565/27311320-d770f318-5568-11e7-9f37-d61717538d8e.png)

[2017-06-20 13:55] dmethvin commented on #138
Although I've seen people say it shouldn't need to be done, when I run into this I fix it with a `width` and `height` attribute on the `<svg>` or set the width/height in the stylesheet.  The ViewBox size alone doesn't do it.

[2017-06-20 16:04] ststimac commented on #138
So I'm in the latest version of Chrome (59) and Edge 41.16227

Everything appears to be appearing correctly for me on Mac and my Surface Book.

[2017-06-20 16:56] ststimac opened #140 "Search input ARIA role error"
In the header of the site we have the 'search documentation' input. When @molant runs the site through Sonar, we're getting a warning that says "Certain ARIA roles must contain particular children"

I don't have a role assigned to that input but a role is being assigned to it after the fact, and I'm assuming this is through however Algolia is configured.

![screen shot 2017-06-20 at 9 48 50 am](ht

[2017-06-20 20:44] qzhou1607 commented on #140
@ststimac I will take a look again at Algolia's documentation again. I'll remove it if `role` is not needed.

[2017-06-20 23:01] qzhou1607 commented on #140
@ststimac @molant It seems that this `combobox` thing is a false detection in `axe-core`. See https://github.com/dequelabs/axe-core/issues/160. Unfortunately these accessibility attributes came with Algolia's `autocomeplete` library and is not configurable. [Here](https://github.com/algolia/autocomplete.js/blob/master/src/autocomplete/typeahead.js#L558) is the source code (`options` contains the d

[2017-06-22 15:56] molant commented on #138
Looking fine now in all my machines :/

[2017-06-22 15:56] #138 closed

[2017-06-22 15:57] molant commented on #128
@ststimac for you :)

[2017-06-22 16:15] ststimac commented on #128
Does the second part of this (opening a new issue in sonar repo w/the documentation title) require some JS trickery?

[2017-06-22 16:40] molant commented on #128
It will be on the backend and @qzhou1607 can probably help with that once the UI is done :)

[2017-06-22 17:39] qzhou1607 commented on #128
If only opening a new issue page is involved, all it needs is replacing `title` with the right information, which can be done in the templates rendered by hexo. But yeah I can definitely help :).

[2017-06-22 17:52] ststimac opened #143 "Design Updates"
List of updates to make that are mostly cosmetic. Re-assessing colors used in places since the documentation layout changed slightly (mostly due to content)

- [x] Change Documentation header weight, width, and color
- [x] toc-subsection-title margin-left: change to 0
- [x] toc main categories (formatters, collectors, rules) should be black or the darker grey used, then blue when expanded/active
-

[2017-06-26 09:39] alrra opened #147 "Improve design for `contributors` page"
1) Link underlines are to close to the text:

  ![](https://user-images.githubusercontent.com/1223565/27533225-80e6ca56-5a6b-11e7-8bbe-1a6783cb4a1d.png)

2) On small screens, things are not aligned, and too crowded.

    ![screen shot 2017-06-26 at 12 18 15-fullpage](https://user-images.githubusercontent.com/1223565/27533446-4b528bcc-5a6c-11e7-8810-433cd4c2301a.png)

3) On big screens things are t

[2017-06-26 17:19] jacobrossi opened #149 "Github link is incorrect"
Points to: GitHub.com/sonarwhali
Should be: GitHub.com/sonarwhal

PR incoming...

[2017-06-26 17:22] jacobrossi commented on #149
Not sure why GitHub didn't link up my PR for this: https://github.com/sonarwhal/sonarwhal.com/pull/150

[2017-06-26 17:31] #149 closed

[2017-06-27 08:14] #147 closed

[2017-06-27 13:06] alrra opened #153 "Limit image width"
See https://sonarwhal.com/docs/user-guide/formatters/index.html

![](https://user-images.githubusercontent.com/1223565/27588902-5f449ae4-5b52-11e7-97f7-e75c0cda7ddd.png)

[2017-06-27 16:24] molant opened #155 "Make clearer why someone should use sonar"
It isn't obvious in the homepage for someone that doesn't know about the project:

https://twitter.com/mgifford/status/879531935898492928

[2017-06-27 16:25] molant commented on #155
@alrra, @ststimac can you please work on this?

[2017-06-27 17:10] alrra commented on #143
@ststimac I think this can be closed, right?

[2017-06-27 17:10] ststimac commented on #143
@alrra yes

[2017-06-27 17:10] #143 closed

[2017-06-27 17:38] mgifford commented on #155
Thanks!

[2017-06-28 01:41] molant commented on #153
@qzhou1607 can you help worth this if @ststimac doesn't have the time?

[2017-06-28 06:28] alrra opened #156 "Make `contributors` page more responsive"
<img src="https://user-images.githubusercontent.com/1223565/27623197-f2f38f20-5be3-11e7-8c9f-5e881e35443f.png" width=300>

[2017-06-28 08:58] molant commented on #156
What's the device and resolution? Looks good on mine:
![img_3556](https://user-images.githubusercontent.com/606594/27628867-a384b402-5bf0-11e7-9f6e-869348cfb60c.PNG)

[2017-06-28 15:35] ststimac commented on #153
Can probably work on this later this afternoon. @qzhou1607 I will let you know if I don't get to it.

[2017-06-28 15:37] ststimac commented on #156
I think the issue here is that the all-contributors layout we're using generates a table so things aren't as responsive as they could be.

[2017-06-28 22:20] molant commented on #156
Do you want to change it to something more responsive?

[2017-06-28 22:21] ststimac commented on #156
Can I use HTML instead of markdown to structure the page?

[2017-06-28 22:23] molant commented on #156
Yup, we are already using it there so I don't see why not.

[2017-06-28 22:25] molant commented on #156
You can also have a new template for this page and just iterate over the list. @qzhou1607 can tell you how to add a new one or help with this.

[2017-06-29 15:41] ststimac commented on #117
We can close this. I updated the TOC section titles and arrows to be black in PR #145, the black arrow doesn't look so strange next to the purple title when the section is "open" or active.

[2017-06-29 15:41] #117 closed

[2017-06-29 15:42] ststimac commented on #109
With the addition of the "getting started with sonar" section on the homepage, I added a Nellie illustration that stays on the page in mobile view. Closing.

[2017-06-29 15:42] #109 closed

[2017-06-29 16:06] ststimac commented on #156
@qzhou1607 I'll build the structure of the page and then hand it off to you.

@molant when I add in new names, I assume I find them under sonar contributors, or is it sonarwhal and sonar?

[2017-06-29 17:00] molant commented on #156
Let's use both 😊

[2017-06-29 18:35] #153 closed

[2017-06-29 20:25] austinkelleher opened #160 "Consider removing gradient from header"
I personally feel that removing the gradient from the header results in a cleaner look. If you all agree, I can make this change:

Homepage with gradient:

![screen shot 2017-06-29 at 4 20 48 pm](https://user-images.githubusercontent.com/3771924/27708579-6be53876-5ce7-11e7-97d3-3859003cf8f8.png)

Homepage without gradient (I also like how it looks like the sky):

![screen shot 2017-06-29 at 4 19 1

[2017-06-29 20:54] ststimac commented on #160
The gradient was used to create some depth on the page so everything doesn't feel so flat, so I'd prefer to keep it.

[2017-06-29 22:46] molant opened #161 "Documentation link links to /"
It should link to `/docs/`
Current markup is:
[code]

About button should be similar. Related to https://github.com/sonarwhal/sonarwhal.com/pull/159#discussion_r124929317

[2017-06-30 00:49] austinkelleher commented on #160
I don't have a strong opinion on this either way. I do think that it makes the doc pages in particular cleaner, but I'm fine with closing this.

[2017-06-30 03:55] alrra commented on #160
For the docs, I also think it look better.

[2017-07-04 21:02] #156 closed

[2017-07-05 14:34] austinkelleher opened #162 "Add links to website on contributors page"
I think it would be neat if the contributors page had links to each of the contributors' websites or GitHub.

[2017-07-05 15:36] #162 closed

[2017-07-05 15:38] molant commented on #161
@qzhou1607 I believe this is fixed?

[2017-07-05 16:04] qzhou1607 commented on #161
@molant Yep.

[2017-07-05 16:04] #161 closed

[2017-07-05 22:52] ststimac commented on #80
@qzhou1607 question about the search results page, right now there's a search.hbs file under partials, is that supposed to be the search results page? Just want to make sure before I start adding code to it. :)

[2017-07-05 23:03] qzhou1607 commented on #80
@ststimac This page was added by @molant . But from the look of it, I think it's safe to code the search result on it. Do we need another landing page for initiating the search? Or is all the search initiated from the search bar?

[2017-07-05 23:06] ststimac commented on #80
@qzhou1607 the search is initiated from the search bar. Users will need to be able to hit 'enter' to initiate the search, this is most important on smaller screens as the search results preview won't be available. Let me know what we need to do to make that happen. I don't think that (hitting enter to search) works at the moment.

[2017-07-05 23:16] qzhou1607 commented on #80
Is this only for the small screen? Currently the result box pops up and changes content real time during typing, and hitting `enter` leads to the first page in the result. Do we still keep this behavior in bigger screens?

[2017-07-05 23:20] molant commented on #80
No, if users have JS disabled then they will land in this page too regardless of the screen size.

[2017-07-06 19:01] ststimac commented on #112
Cross posting from the search results page/search page discussion. Proposed layout for the docs landing page:

![screen shot 2017-07-06 at 11 58 59 am](https://user-images.githubusercontent.com/18073131/27928107-c988c7e4-6242-11e7-8b0a-2e98ea76d04c.png)

[2017-07-10 18:27] alrra opened #165 "Build is failing because of the recent changes in the main repo"
@qzhou1607 See: https://travis-ci.org/sonarwhal/sonarwhal.com#L2037 (it's most probably because of [the recent changes](https://github.com/sonarwhal/sonar/commit/52bb66328008f1f58c27aadc39fc4217cca2944e)).

[2017-07-11 05:43] #165 closed

[2017-07-13 09:04] molant commented on #4
We already redirect to https

[2017-07-13 09:08] alrra commented on #4
@molant haha, I was just giving an example that not having the redirect is a common.

[2017-07-13 16:05] molant opened #168 "Ordered lists to close to the border in mobile"
Visit https://sonarwhal.com/docs/developer-guide/connectors/index.html on mobile and scroll down. You will see the lists are not aligned with the rest of the text content and to close to the left side.

[2017-07-17 11:26] alrra commented on #43
Fixed in https://github.com/sonarwhal/sonar/pull/373.

[2017-07-17 11:26] #43 closed

[2017-07-17 11:27] alrra commented on #107
[`changelog.html`] page doesn't show any content.

[2017-07-18 16:33] alrra opened #171 "Add service worker"
In the near future I think it would be great to add a service worker and have everything (especially the docs) available offline.

[2017-07-18 20:39] #107 closed

[2017-07-19 16:37] alrra opened #174 "External links should have `rel="noopener noreferrer"`"
Ref: https://sonarwhal.com/docs/user-guide/rules/disown-opener.html

[2017-07-21 16:18] qzhou1607 commented on #171
A plugin is available for this https://github.com/JLHwung/hexo-offline

[2017-07-25 20:56] qzhou1607 opened #177 "Custom error needs to be handled"
`https://sonarwhal.com/<` leads to internal server error, a user-friendly error page should show instead. Currently we have 404 error page, but don't have one for 400 (in this case) or other errors.

[2017-07-25 21:11] #171 closed

[2017-08-01 20:32] qzhou1607 opened #180 "Menu and treeviews in sonar website are not working"

[2017-08-01 20:35] alrra commented on #180
See also: https://travis-ci.org/sonarwhal/sonarwhal.com/builds/259800061#L2153

[2017-08-02 09:51] #180 closed

[2017-08-08 18:42] ststimac commented on #74
@molant @sarvaje @qzhou1607 @alrra

Here is my proposal for the scan results page for the MVP. The compare/double column was kept in mind and this is scalable when we add that feature.

The icons at the top will be links to the category on the page if you have errors in that rule.

![scanner_results_080217-01](https://user-images.githubusercontent.com/18073131/29088600-839803c0-7c2e-11e7-8a93-314d

[2017-08-08 19:56] qzhou1607 commented on #74
@ststimac Will errors/warnings from different resources grouped under the same rule?  The result page can run pretty long, maybe we can make the errors/warnings under the same rule collapsible for easier navigation?

Also how about we use the same design here for the html report (https://github.com/sonarwhal/sonar/pull/411)? @molant @alrra

[2017-08-08 20:40] qzhou1607 commented on #74
@ststimac Yep, that way the user won't need to scroll all the way down if looking for a specific rule, just my two cents :).

[2017-08-08 22:38] ststimac commented on #74
@qzhou1607 is the scan-result.hbs file the one I should used to build the scan results page?

[2017-08-08 22:45] qzhou1607 commented on #74
@ststimac Yes.

[2017-08-09 10:10] molant commented on #74
Good start!

I have some minor requests and questions I hope you can help with:

**General**:

* I'm sure you already thought about this but this page is going to load the results asynchronously, I'd like to have Nellie waiting while they arrive :)
* Also results might not arrive all at the same time, maybe we get the a11y and performance first, then interop and security, etc. How would that look

[2017-08-10 00:31] #65 closed

[2017-08-10 00:31] #80 closed

[2017-08-10 01:36] qzhou1607 opened #183 "Search result page doesn't work in production"
To reproduce, go to https://sonarwhal.com/search?q=doc&page=5

A 404 page is shown instead of a search result page. This can't be reproduced in local for some reason.

[2017-08-10 01:40] alrra commented on #183
Ref: https://github.com/sonarwhal/sonarwhal.com/pull/164#issuecomment-321426608.

[2017-08-10 01:50] alrra commented on #183
Closing this as the problem is with #164.

[2017-08-10 17:49] alrra opened #184 "Document what is happening on the server"
Document:

- [x] How the content gets updated.
- [x] Let's Encrypt setup.
- [x] Other.

[2017-08-10 19:42] alrra commented on #183
Even with the code from #164 being fixed, and everything working locally, the search doesn't work on the live site.

[2017-08-10 21:16] molant commented on #184
@alrra at least the first point is yours, right?

[2017-08-10 21:18] alrra commented on #184
If you are referring on how the content gets update here on GitHub, yes. But I was referring on how the content gets updated on the server.

[2017-08-10 21:21] qzhou1607 commented on #183
@alrra Just found that https://sonarwhal.com/scanner returns 404 page as well. I wonder if we have settings somewhere blocking the `get` requests for `scanner`, and `search` was blocked originally as well. @molant is that right?

[2017-08-10 21:21] molant commented on #184
updated != uploaded 😜
I think we should document both.

[2017-08-10 21:23] molant commented on #183
This is something related to IIS's `web.config`. I'll take a look.

[2017-08-10 21:39] alrra commented on #184
👍

[2017-08-10 22:07] alrra commented on #183
It's fixed now.

[2017-08-10 22:07] molant commented on #183
OK, so it wasn't related to `web.config`.
The problem is that the node process requires the `_config.yml` file in the root and right now we are not copying that file into the server. I've manually update it but @alrra or @qzhou1607 should update the scripts to make sure it is in the root

[2017-08-10 22:08] alrra commented on #183
Ok.

[2017-08-10 22:15] alrra commented on #183
- [ ] Update web.config.

[2017-08-10 22:29] ststimac commented on #74
Here some updated comps. I'm going to do a separate post answering some of the questions about how these appear on the page. Going to share with Melanie for design feedback. Everyone else feel free to chime in as well.

![scanner_results_080217-01](https://user-images.githubusercontent.com/18073131/29194847-69df8292-7de0-11e7-9aed-e5009082b292.png)

![scanner_results_080217-04](https://user-images

[2017-08-10 22:42] qzhou1607 commented on #183
Meaning `_config.yml` should be added to [this](https://github.com/sonarwhal/sonarwhal.com/blob/master/.travis/update-site.sh#L10) list?

Ohhh was that because of the api credentials? Then I wonder if the google analytics we have in the site has worked since we had it ... We had the google analytics id there as well.

[2017-08-11 00:24] melanierichards commented on #74
This is so exciting!! It's looking so good, @ststimac.

1. In the first row of the results tiles, the scan time/version are the largest numbers, when it seems like they're probably less important than the total # of errors/warnings. Maybe try inverting those type sizes? There's probably a few different ways to lay those out.
2. When there's errors/warnings in a category, I'm thinking maybe the ico

[2017-08-11 05:04] #183 closed

[2017-08-11 05:05] alrra commented on #183
Yes.

[2017-08-11 05:57] molant commented on #183
Yes, that file is only required for the service and search in the server. The rest is static.

[2017-08-11 07:23] molant commented on #112
@ststimac @qzhou1607 is this done?

[2017-08-11 07:46] molant commented on #47
depends on #74

[2017-08-11 08:03] molant opened #185 "Create shortlinks for differents sections of the documentation"
These shortlinks will be used in the output of sonar's cli among other places.

* [ ] What is a connector, formatter, rule
* [ ] Link to each individual rule
* [ ] Link to each individual connector

Need to decide what shortlink service to use. @kborchers is there any preference in the JS Foundation?

[2017-08-11 11:19] kborchers commented on #185
There is no specific preference on our side. My question though would be why do they need to be shortened?

[2017-08-11 13:57] molant commented on #185
It makes it easier to update the target url if needed without having to change the code. Also short urls are could be easier to remember. I think it was bluebird who did something similar to point to common issues and/or documentation in the console.

[2017-08-11 14:01] molant commented on #185
Also it makes it easier for analytics and track if people use them.

[2017-08-11 14:06] kborchers commented on #185
All good reasons! 😺

If the service chosen persists the links indefinitely, for free, run with it. If there is cost to ensure that the links are maintained indefinitely (or at least until that service dies 😉), please gather that info and email me to review before proceeding.

[2017-08-11 15:15] ststimac commented on #112
This the Docs landing page so if that's merged it should be complete.

[2017-08-11 17:13] ststimac commented on #74
Excellent, thank you @melanierichards :)

5. the page icons are links to the documentation.

[2017-08-11 21:22] ststimac commented on #74
Does anyone have a preference on either of the tile designs? Would like some input on that.

[2017-08-11 21:50] molant commented on #74
I prefer the option used in the last 2 comps.

[2017-08-12 00:46] melanierichards commented on #74
Oh whoops I didn't notice that. I agree w/ Anton.

[2017-08-12 11:44] #174 closed

[2017-08-24 07:43] alrra opened #192 "https://sonarwhal.com/about/code_of_conduct.html => 404"
https://sonarwhal.com/about/code_of_conduct.html => 404

---

Related: #190, https://github.com/sonarwhal/sonar/pull/450

[2017-08-24 16:40] qzhou1607 commented on #192
@alrra It looks like we use https://js.foundation/community/code-of-conduct instead now. So it should be fine that https://sonarwhal.com/about/code_of_conduct.html  returns 404?

[2017-08-24 16:56] alrra commented on #192
https://sonarwhal.com/about/code_of_conduct.html should redirect to https://js.foundation/community/code-of-conduct.

[2017-08-24 20:00] ststimac commented on #112
Confirmed that this has been merged so I will close.
Making a minor style edit in a PR to fix an alignment issue.

[2017-08-24 20:00] #112 closed

[2017-08-24 20:30] ststimac opened #193 "Adjust nested list line-height"
Nested ul elements need some space above the first item.

<img width="546" alt="screen shot 2017-08-24 at 1 28 55 pm" src="https://user-images.githubusercontent.com/18073131/29687160-4288499a-88d0-11e7-87fb-66563b8449b8.png">

[2017-08-24 21:01] ststimac commented on #87
Removing the duplicate h1 heading issue here in favor of #96, hopefully when we get the layout adjusted back to the original proposal, we can remove the duplicate h1 elements.

[2017-08-24 21:03] ststimac commented on #96
Currently the markdown file is generating two h1 elements. Hopefully we can address this when we update to the original layout.

[2017-08-24 21:47] #87 closed

[2017-08-24 21:47] #168 closed

[2017-08-24 23:52] molant opened #195 "manifest-is-valid doesn't show up in the list of PWA rules"
![image](https://user-images.githubusercontent.com/606594/29693794-7b8a4a2e-88ec-11e7-9dc8-ee0d150d00e5.png)

@alrra @qzhou1607 do you know why?

[2017-08-25 00:22] qzhou1607 commented on #195
I can't find the documentation for this rule anywhere. @sarvaje helped me to check. It looks like this documentation for this rule was removed in March.

[2017-08-25 01:17] molant commented on #195
The commit that removed the file is https://github.com/sonarwhal/sonar/commit/1f09c8994eb091f065e5d2f65c00a0c321e76fb0

I'm looking at the rule and what it checks for isn't very compelling. @alrra do you have any plans on finishing this rule soon? Otherwise I think we should remove it.

[2017-08-25 03:28] molant commented on #84
@ststimac maybe you want to do this as part of your current work of #128
Note that this links should be for the sub titles and not the main one (opposite to what you are doing with edit/signal)

[2017-08-25 10:38] alrra commented on #195
I think it just remained as a leftover.

Yes. In the next few days, I'm going to work on the PWA related rules.

[2017-08-28 23:36] #128 closed

[2017-08-28 23:36] #84 closed

[2017-08-29 23:38] molant commented on #52
@ststimac are you working on this now? If not we can move it to after the summit.

[2017-08-30 16:03] ststimac commented on #52
@molant yes, let's move to after summit.

[2017-08-30 17:03] molant commented on #193
@ststimac is this fixed? Trying to find where in the site this content is but I can't find it :/

[2017-08-30 17:03] molant commented on #193
Found it: https://sonarwhal.com/docs/developer-guide/rules/index.html

Looks like it still needs some work. Is this going to happen before summit?

[2017-08-31 15:36] ststimac opened #196 "Clean up Button CSS Code"
When I edited the CSS originally, I changed the background color of buttons to all be red, but there are some blue buttons as well and there's some overlap happening in places in different CSS files that can probably be condensed & cleaned up so more code is shared.

I just need to do some CSS clean up.

[2017-08-31 22:42] qzhou1607 opened #197 "Navigation treeview is above the page content in the mobile view"
Currently the treeview appears above the actual page content in a smaller screen. Is this an intended change ? @ststimac

It could be an issue in the rule pages since the expanded panel can stretch pretty long before a user can see the page content:

![mobile](https://user-images.githubusercontent.com/20218531/29948230-92592c04-8e62-11e7-818d-816b8890b71a.PNG)

[2017-09-01 15:19] ststimac commented on #197
Ah, yes. I made an update after reviewing one of David Storey's accessibility concerns. This was appearing after the content which would make it hard for a user to navigate around.

For now I will switch it back to the way it was and open a new issue to explore a better solution on mobile.

[2017-09-01 15:22] ststimac opened #198 "Design new solution for tree view/TOC on mobile"
Currently it appears before the content but the tree view can be incredibly long. If it appears after the content, there are a11y concerns about it being used as navigation since the user would have to go through all the content to get to the bottom.

Will look at different options, either a dropdown or a flyout menu on mobile.

[2017-09-01 16:23] #197 closed

[2017-09-02 18:03] alrra opened #200 "Section link icon is on next row"
https://sonarwhal.com/docs/developer-guide/rules/index.html#evaluatejavascriptinthepagecontext

![](https://user-images.githubusercontent.com/1223565/29997671-03178b64-9022-11e7-8574-a7487fa03bf7.png)

[2017-09-02 18:16] molant commented on #200
I think it depends on the resolution?
![img_5796](https://user-images.githubusercontent.com/606594/29997741-1b952cca-8fd0-11e7-9fac-30ea39881bcf.PNG)

[2017-09-05 15:59] ststimac commented on #200
What browser are you in? The below screenshots are from Edge. That line of text should be wrapping on larger screen sizes:

![section-link](https://user-images.githubusercontent.com/18073131/30070303-e37da994-9217-11e7-960a-b3f0b6842186.PNG)

Even on smaller ones the icon is in the right place:

![section-link-2](https://user-images.githubusercontent.com/18073131/30070478-67abccc8-9218-11e7-9380-c

[2017-09-05 16:32] alrra commented on #200
Sorry for forgetting to specify that: Firefox on macOS.

[2017-09-05 16:55] ststimac commented on #200
Spotted the problem. Missing a position: absolute on the <a> element.

Can someone check this page in Chrome? None of the section link icons are showing up for me on Windows in Chrome.

[2017-09-05 17:10] molant commented on #200
Works on my machine (tm) in the live site:

![image](https://user-images.githubusercontent.com/606594/30073405-800d260e-9222-11e7-90b7-192e14cea895.png)

[2017-09-05 17:35] ststimac commented on #200
Now working in Chrome for me. Very strange. I'll make the update so FF displays correctly.

[2017-09-05 17:47] ststimac commented on #193
@molant yes this will happen before summit. Working on this today.

[2017-09-05 17:55] qzhou1607 commented on #200
It could be caused by the cached page in the service worker. In that case close the tabs/browser and open a new one will fix it (Refresh doesn't work).

[2017-09-05 18:40] ststimac commented on #200
@qzhou1607 ah yes. That makes sense. :) Thanks!

[2017-09-05 21:02] #193 closed

[2017-09-05 21:02] #200 closed

[2017-09-05 21:45] ststimac opened #203 "Scanner Page: Default settings blurb"
Currently with the adjusted layout of the scanner page, if a user has the default settings selected, it's just a lot of white space to the right of the radio buttons. I'm working on writing a sentence or two about why/how we picked the rules for the default scanner. If there is anything specific I should call out please let me know @molant and @alrra. Since the scanner + scan results PR hasn't bee

[2017-09-06 18:15] ststimac opened #204 "Nellie illustration + animation while waiting for scan to complete"
In the web service, after the user has hit the 'scan site' button, need to add some sort of animation of Nellie waiting for the scan to complete.

I think @molant requested this but I can't find an issue for it.

[2017-09-08 20:47] #177 closed

[2017-09-08 22:40] molant commented on #155
Thinking about something like the following in the home page, although I think it is a bit too long.

Also not sure about the styles, will rely on @ststimac for this

![image](https://user-images.githubusercontent.com/606594/30233679-ecbf7712-94ab-11e7-96ee-f9328fdecc0b.png)

@sonarwhal/contributors ?

[2017-09-09 03:15] qzhou1607 commented on #155
It seems that the text part can stretch pretty long on mobile screens if we don't hide it.  What if we have a 'Why Sonar?' item under the 'About'  menu in the navigation bar? Then we will have a whole page to explain why sonar should be used.

[2017-09-09 03:20] molant commented on #155
We still need to have something on the homepage that explains what it does and why to use it.

[2017-09-11 17:00] ststimac commented on #155
Yeah, I'll work on the styling of this today :) @molant I think the copy length will be fine after I reduce the text size and get rid of the all caps.

[2017-09-11 22:03] ststimac opened #205 "Redesign home page"
We've added new content and are adding more new content to the home page. I want to revisit the layout of this page, the order of content and overall hierarchy.

The update that I'll be pushing through for Web Summit is **not** the new design.

[2017-09-12 21:30] #205 closed

[2017-09-12 22:01] molant commented on #155
This is live now and closed via https://github.com/sonarwhal/sonarwhal.com/pull/206

[2017-09-12 22:01] #155 closed

[2017-09-13 04:30] docluv opened #207 "Website does not response to www.sonarwhal.com"
I don't think you have the www.sonarwhal.com host header configured properly :)

[2017-09-13 09:45] willmorgan opened #208 "Docs page has no title"
If I go here, the webpage has no title:

https://sonarwhal.com/docs/

`<!doctype html><html lang="en"><head><meta charset="utf-8"><title></title><meta name="description" content="sonar website">`

[2017-09-13 10:37] molant commented on #208
@qzhou1607 can you take care of this?

Should be enough.

Thanks @willmorgan!

[2017-09-13 14:21] alrra commented on #207
Thanks, @docluv! We will look into it as soon as possible.

[2017-09-14 21:55] #207 closed

[2017-09-14 21:59] molant commented on #208
Renaming the issues as there are some other issues around titles:

* [ ] https://sonarwhal.com/docs
* [ ] https://sonarwhal.com/about/contributors.html --> should be `Contributors`
* [ ] scanner page
* [ ] scanner results page

Will be nice if we could append `| sonar` to the title for all the subpages.

[2017-09-14 22:01] molant opened #209 "server side search doesn't work"
1. Go to https://sonarwhal.com/docs/
2. Type `x-ua-compatible` (or anything) and press the search button

You will land in the 404 page

[2017-09-14 22:23] #192 closed

[2017-09-14 22:46] qzhou1607 commented on #209
Will take a look at this.

[2017-09-14 23:09] qzhou1607 commented on #209
@molant @alrra this works locally. I wonder if it is due to the `_config.yml` not copied again (like what happened in https://github.com/sonarwhal/sonarwhal.com/issues/183). I don't have the credentials to connect via ftp. Could one of you help to check when you have time? (or send me the credentials again... Thanks!)

[2017-09-18 21:32] ststimac opened #210 "Edge bug with list-styles"
I haven't checked Firefox, but I've checked Chrome, and this appears to be Edge specific. I'm not sure if there's something in the CSS causing this or if I need to file a bug against Edge & remove this issue.

When the home page first loads, and I hover over Documentation, there is extra spacing between the list items.

![nav-first load](https://user-images.githubusercontent.com/18073131/30565694-

[2017-09-18 22:30] ststimac opened #211 "Explore lowercase logo options"
The current logo was designed before we had decided that sonar would be all lowercase letters. I'd like to update the design to reflect that since it is currently all uppercase.

[2017-09-19 18:23] #209 closed

[2017-09-20 22:31] ststimac commented on #196
Making a note for myself that some of the styles I need to clean up here are dependent on the scanner & scan result CSS files.

[2017-09-21 17:35] ststimac commented on #210
This is also happening on subpages, if the user refreshes the page, the `list-style: none;` doesn't seem to be active, even though upon inspecting element it is. Unchecking and re-checking the style activates it.

Checked Edge Portal and not seeing an issues with navigation there so continuing to investigate this on the sonar site in Edge only.

[2017-09-21 17:41] molant commented on #210
Maybe something related to your build? Ask @gregwhitworth or @FremyCompany, maybe they know something about it?

[2017-09-21 17:48] ststimac commented on #210
Going to update to the latest build and see if the issue persists.

[2017-09-21 18:06] gregwhitworth commented on #210
If it still repros file the bug - possibly reduce it if you can. I'm seeing it on a ~3 week old build.

[2017-09-21 20:13] FremyCompany commented on #210
That's the list-item gets hidden at the same time it gets its list-style removed. Since it gets hidden, it does not receive the notification that should be responsible for removing the ::marker pseudo-element. When it gets shown again, the element thinks its state is up to date and doesn't try to recompute marker state.
I thought we had considered this bug for fixing in RS3 but maybe I'm wrong...

[2017-09-21 20:17] FremyCompany commented on #210
The bug is marked as resolved here: `Bug 104357: When showing a previously-hidden list-item with list-style-type none, the bullets are shown (if it had a ::marker prior to being hidden)`. @gregwhitworth could you figure out with Jacques why this still repros? Maybe we're looking at the wrong branch, or the fix didn't actually work.

[2017-09-21 21:00] ststimac commented on #208
@molant also Changelog has no title.

[2017-09-21 21:04] ststimac opened #212 "Style Changelog Page"
- Add icons for headers (i.e. Bug fixes, Breaking changes, etc)

- adjust list/bullet points

- Improve layout/type/color use for readability

[2017-09-22 17:47] ststimac commented on #212
Proposed Changelog design update:

![changelog_09222017](https://user-images.githubusercontent.com/18073131/30757399-73d41154-9f83-11e7-9513-88e9fa91c58d.png)

[2017-09-22 17:55] ststimac commented on #212
I'm going to build a changelog template to implement these changes, will need @qzhou1607 or someone else to help finish off the template w/handlebars updates. Ideally changelog content should be pulled into the page like documentation pages are right now. If that's an issue let me know, and I will just edit the markdown file but for the sake of upkeep, a template would probably be best.

[2017-09-22 18:16] molant commented on #212
The changelog is updated automatically on each release so manually updating it to put the images is not an option. We will make it work in a post process or something :)

[2017-09-22 18:17] ststimac commented on #212
ok sounds good :) just wanted to make sure building a template would work in some way.

[2017-09-27 08:38] #184 closed

[2017-09-27 18:12] ststimac opened #215 "Scan Result Scenarios"
@molant @sarvaje let me know if there is anything I'm missing, any scenario I haven't accounted for.

User clicks scan button and any of the following scenarios are possible:

1. Scan & scan timer start. Scan completes successfully. Show 'scan complete' message.

2. Scan & scan timer start. Scan only partially completes. Show 'scan incomplete' message that indicates some results are available but

[2017-09-27 18:42] molant commented on #215
Are you taking into account that results might come in chunks and not at the same time?

[2017-09-27 18:47] sarvaje commented on #215
I think there is another scenario:
5) The user check a permalink and the scan is still in the queue.

[2017-09-27 18:56] ststimac commented on #215
@molant yes. But if the scan fails completely there won't be anything to show correct? And if the scan is still in the queue...nothing to show yet, in terms of results, correct?

[2017-09-27 19:14] molant commented on #215
Correct

No results, but maybe something like: "Your request is still in the queue"

[2017-09-27 22:23] ststimac commented on #215
Are we going to tell users what number they are in the queue?

[2017-09-27 22:30] molant commented on #215
We can tell them how many they were ahead of them when the process started, but unfortunately with the current implementation we cannot tell them how many left they are :(

[2017-09-27 22:31] ststimac commented on #215
Ok, we'll leave that info out then.

[2017-09-29 18:29] molant opened #216 "Add multiple layouts"
Right now we only have the `index` layout with lots of conditions depending on categories and names. We should split this into multiple different layouts and create partials for the common parts. This will make adding new things like #212 easier to add.

[2017-10-02 17:10] #208 closed

[2017-10-02 17:10] #216 closed

[2017-10-02 17:14] alrra opened #218 "Specify only the needed font sizes"
See: https://github.com/sonarwhal/sonarwhal.com/pull/217#discussion_r142195610.

[2017-10-02 18:09] molant commented on #218
@ststimac I think this is for you. Can you please verify we don't specify more fonts than needed?

[2017-10-02 22:32] qzhou1607 commented on #212
If we are using a template for the changelog rather than using the markdown, it probably makes more sense to generate a `.json` file in https://github.com/sonarwhal/sonar/blob/f5c0218bdf5ef85921f032edece6c903abda9d07/scripts/release.ts#L66 instead of keeping information in a `.md` file. Parsing markdown file here to extract the information to fill the template seems a redundant task. What do you t

[2017-10-02 22:37] ststimac opened #219 "Docs page layout"
In Edge, search icon is distorted.
Tiles aren't aligned with search bar.

[2017-10-02 22:45] ststimac commented on #215
While the scanner is scanning and compiling results, have some spinners, as each category finishes, the spinner would disappear to be replaced with either a checkmark and success message, or a scan failed message for partial results or the normal list of errors and warnings.

![scan_results_100217-17](https://user-images.githubusercontent.com/18073131/31102747-5d4cc996-a788-11e7-92b5-ec2a1026d4e7.

[2017-10-02 22:47] ststimac opened #220 "SEO Icon + 6th tile in scan results"
Design an SEO icon for the SEO category in the scan results page (and readjust layout of category tiles)

[2017-10-02 23:00] molant commented on #212
We need the markdown so people can see it directly from github so doing the markdown --> json --> html is probably the only option.

Good think is that the format of our changelog is predictable so it should be relatively easy to transform (2 spaces between releases, etc.).

[2017-10-02 23:59] molant commented on #215
This looks good to me. Also, because some categories might not be visible it will be good to do something with the tiles of the results to indicate the results are in. Just updating the numbers might not be enough (at least in my case).

[2017-10-03 20:38] ststimac commented on #215
@molant what if the tiles stay gray until the results are completed, then depending on if there are errors or not, the tile changes to red or green?

[2017-10-03 21:29] #126 closed

[2017-10-03 21:29] #218 closed

[2017-10-03 21:29] #219 closed

[2017-10-03 21:31] molant commented on #215
👍

[2017-10-04 03:56] #212 closed

[2017-10-04 16:07] molant opened #222 "Add opengraph tags to pages"
I think it will be nice to add the OG tags to the pages so when people share the urls it looks better.
There should be
* an image: Nellie by default, although it will be nice to be capable of overriding it somehow from the docs.
* title
* description: in the rules' docs maybe the "why is this important" part?

@alrra, @sarvaje @qzhou1607 @ststimac ?

[2017-10-04 16:09] molant opened #223 "Add opensearch to the site"
https://blog.algolia.com/mobile-search-ux-tips/#opensearch

@alrra, @sarvaje ?

[2017-10-04 17:05] sarvaje commented on #222
That would be nice

[2017-10-04 17:13] sarvaje commented on #215
I have a question:
What will see if we have a result for (for example) `interoperability` but there is more results pending for that category? Should we see that result, and at the same time the `compiling error...` message?

[2017-10-04 17:19] ststimac commented on #215
@sarvaje yeah, maybe we keep the "compiling errors" message below the results that have already appeared, and then it goes away once everything is completed.

[2017-10-04 18:39] ststimac opened #224 "Scanner page scan form styling missing"
The scanner page styling is incorrect in the scan & scan results PR. It's lost its styling from when I first opened the PR. Need to investigate.

[2017-10-04 19:20] molant commented on #224
Look in some of the previous commits of that PR and copy pasta!

[2017-10-04 21:21] ststimac commented on #215
For the sake of time I went with a different design for the loader.

[2017-10-04 22:24] ststimac commented on #224
@molant it looks like scanner.css isn't being loaded to that page & it looks like some old code was used to write over the new code I had written when you did your layout updates so that I can fix.

Not sure what I need to do so scanner.css gets loaded.

[2017-10-04 22:32] molant commented on #224
@ststimac add it to `/src/hexo/themes/documentation/layout/common.hbs` for now and we will change it if needed.

[2017-10-04 22:51] ststimac opened #225 "Rewrite documentation.css site-intro CSS"
If documentation.css gets loaded anywhere other than the documentation section, it will affect pages with subtitles. This the scanner page on the live site right now:

<img width="1433" alt="screen shot 2017-10-04 at 3 49 13 pm" src="https://user-images.githubusercontent.com/18073131/31203360-a068c8ee-a91b-11e7-83e2-c54ebf4ad847.png">

Need to rewrite the site-intro CSS so that subtitles don't get

[2017-10-04 23:05] molant commented on #225
Let's move the css elsewhere then and deal with that problem if/when we have it

[2017-10-04 23:08] sarvaje commented on #225
That's weird, I removed that css file from the scanner :s

[2017-10-04 23:14] ststimac commented on #225
@sarvaje I think you maybe did in the scanner + scan results PR because I don't see it in my scanner branch.

[2017-10-05 11:17] alrra commented on #222
Go for it!

[2017-10-05 11:18] alrra commented on #223
Cc: @qzhou1607

[2017-10-05 16:22] sarvaje commented on #225
Yep, I did that change in the scanner + scan results PR, but that PR is using you branch `scanner`

[2017-10-05 16:52] ststimac commented on #225
Yes, I wanted to make a note here because I'm seeing it on the live site at sonarwhal.com/scanner :]

[2017-10-05 21:20] qzhou1607 commented on #215
@molant @ststimac I have some questions about the "scan failed" message.
1. Some rules in the same category might return errors/warnings while others fail, putting `scan failed` on the whole category doesn't seem accurate.
2. The way we run the rules in the back end is that we group each 3 rules together (could be cross-category) and run it in one worker. In total there are 7 workers and if one wo

[2017-10-05 22:39] ststimac commented on #215
So what would a partial scan completed look like?
It would fail by rule?

[2017-10-05 22:51] molant commented on #215
It depends on how we decide to run the rules and that can change at any time. We could decide to run the rules grouped by category, or the rules that take longer separately, etc.

Right now the most likely scenario is that we will have all the rules and `aXe` run separately, so we will have partial results for a11y.

[2017-10-06 19:53] qzhou1607 commented on #215
@molant @ststimac  So how should I show the `scan failed` message for now? Put it under each rule that failed?

[2017-10-06 19:58] qzhou1607 commented on #215
@ststimac What's the hex color code of the `green` tile ?

[2017-10-06 20:52] molant commented on #215
Let's change it when we get results and update it. It would be awesome if the green/red changed depend on how many errors/OKs there were and doing it with a transition from the previous color. Although maybe run it first through @ststimac...

[2017-10-06 22:40] ststimac commented on #215
For the scan error page, where the scan completely fails, in my mockup I have a line of copy that says "If the issue persists, please file an issue on GitHub."
Should we include that or not?

@qzhou1607 I will get you the hex code of the green tile momentarily. @molant my only issue with the color changing is accessibility but I like the idea. Maybe we can explore at a later time?

[2017-10-06 22:49] ststimac commented on #215
@qzhou1607 hex code is #EBF5F1 for the background & we're going to have to change the text color from the purple to green: #006538.

I'm going to update the scan-results.css & scan-result.hbs file, some of the CSS classes will need to be renamed since they are color specific.

[2017-10-06 22:56] ststimac commented on #215
Ignore the portion of my previous comment I just deleted -- no CSS classes need to be added, rule-tile--passed and rule-list--passed are the two classes that just need to be edited :)

[2017-10-09 18:52] molant commented on #215
Let's do that for now and we'll see how it looks like in the real later.

[2017-10-11 02:27] molant commented on #203
I think we removed the option that allowed users to select different rules for now, right?

[2017-10-11 20:41] ststimac commented on #29
@kborchers I'm adding logos to the website. Is there a version of the JS Foundation where "Foundation" is in white?

[2017-10-11 20:45] ststimac commented on #29
@patrick-steele-idem marko.js is one of the logos I'm adding to the sonar website. Is there a version I can use where the text "marko" is in white? I found the branding repo https://github.com/marko-js/branding but didn't see any versions like what I'm looking for and wanted to check before I altered the text color in the logo.

[2017-10-12 04:49] molant commented on #215
@ststimac I see this in the `Done` column. Can it be closed for reals?

[2017-10-12 16:05] ststimac commented on #215
yes

[2017-10-12 16:05] #215 closed

[2017-10-12 16:14] ststimac commented on #203
I think it was removed, but if I recall correctly, there's still a radio button with default settings selected. If this is the case I think it would still be user friendly to give a brief overview of what 'default settings' mean: what are we scanning for. It doesn't have to be very detailed and can be something broad like, "We're scanning for some of the most common issues developers have with web

[2017-10-12 18:12] molant commented on #203
I think we even removed that section. In any case I need to go through the blub of all that page...

[2017-10-16 20:49] molant opened #226 "Rename `documentation` theme folder to `sonarwhal`"
Our theme folder is called `documentation (`/src/hexo/themes/documentation`) which is a bit misleading. We should rename it to `sonarwhal` and update all the references.

[2017-10-17 21:43] #47 closed

[2017-10-17 21:43] #204 closed

[2017-10-17 21:51] ststimac opened #228 "Edge Bug: Navigation hover expands beyond header"
This is new and appears to only happening in Edge, and I'm not sure if it relates to #210 but this wasn't happening when I originally opened that issue.

![edge-broken](https://user-images.githubusercontent.com/18073131/31691286-6d784c8c-b34a-11e7-922d-28174e63f232.PNG)

On hover, the button expands too far down.
I haven't had a chance to dive deeper and see if I can find out what's causing it, I

[2017-10-17 23:00] molant opened #229 "Normalize urls in public site"
Right now we have a mix of urls that end on `.html` and not:

* https://sonarwhal.com/docs/developer-guide/connectors/events.html
* https://sonarwhal.com/about/faq.html
* https://sonarwhal.com/docs/developer-guide/
* https://sonarwhal.com/docs/user-guide/

We should normalize them. Probably the ones that do not have `.html` is because they are `index.html` and IIS uses the default one.

[2017-10-17 23:02] molant opened #230 "Add a scanner status section"
I think this was lost while we were working on the scanner.
We should have a place in the header where we indicate what's the status of the scanner (`Analyzing`, `Finished`).
Maybe in the top right of the header of the results summary?

![image](https://user-images.githubusercontent.com/606594/31693615-7e4fcee0-b354-11e7-9d03-f00fc1c85369.png)

@ststimac, @qzhou1607 assigning this to you.

[2017-10-17 23:07] molant opened #231 "Information close to elapsed time jumps when time changes"
1. Go to `/scanner/` and start a new scan
2. Look at `Errors` and `Version`

![image](https://user-images.githubusercontent.com/606594/31693767-51aa5c9c-b355-11e7-857c-9c18cd1e5b8b.png)

**Expected**: Titles to remain in place

**Actual**: Titles slightly move depending on the width of the time (`00:00` and `01:11`, for example)

@ststimac assigning to you, but if anyone wants to take it before yo

[2017-10-17 23:09] molant opened #232 "Notifications and custom Service Worker"
Right now we are using an Hexo package that provides a Service Worker out of the box, but we've had some bad experiences with it. We should write our own that will enable also to receive notifications once the scan has finished if the user decides to.

[2017-10-17 23:13] molant opened #233 "Allow users to chose their configuration in the scanner"
Part of the frontend code is already there, we should implement the server side code for it.

[2017-10-18 00:26] ZachTRice commented on #226
I have made a pull request for this issue. I believe I followed your contributing documentation as it is stated. I had 2 commits initially but I squashed them into one and included an `Update` tag in my commit message. Let me know if there is anything else you need me to do.

[2017-10-18 01:44] ststimac commented on #228
This appears to have been an issue with Edge and is now fixed after updating to the latest Insider Build 17018. Need to confirm this isn't an issue with older versions.

#210 is still an issue however.

[2017-10-18 01:59] ststimac opened #235 "Scanner text in footer needs a link"
It's currently just a title and not clickable. Need to make it a link and consider just making all the top level items a link.

[2017-10-18 02:04] ststimac commented on #228
Closing. Checked in Edge 14 & 15 via Browserstack and it's displaying correctly.

[2017-10-18 02:04] #228 closed

[2017-10-18 02:07] ststimac commented on #231
Making a note: This is probably due to flexbox.

[2017-10-18 02:21] ststimac commented on #231
And I may move the permalink to the next line if the links are going to have that many characters.

[2017-10-18 03:33] #226 closed

[2017-10-18 03:36] molant commented on #29
Closing this issue as we will only have logos for the tools and services in the scanner results.

[2017-10-18 03:36] #29 closed

[2017-10-18 03:38] molant commented on #21
I think we are ok for now but we'll let you know if something comes up.

Thanks!

[2017-10-18 03:38] #21 closed

[2017-10-18 03:39] molant commented on #224
This is working now.

[2017-10-18 03:39] #224 closed

[2017-10-18 03:41] molant commented on #74
@ststimac we should look into an option to pivot between rules and urls. Right now errors are grouped by rules, but we should give the option to group them by url as well.

[2017-10-18 03:43] molant opened #236 "Missing link to resource in results"
In the results, when we show the truncated url of the resource we should make the url to the resource to actually be a link to that resource

![image](https://user-images.githubusercontent.com/606594/31700071-b55d0b6a-b37b-11e7-8ea0-884988deb589.png)

[2017-10-18 03:46] molant opened #237 "Don't "over truncate" resource's url"
The code we are using to truncate the url of the resource is a bit naïve and in some cases it's adding extra characters. For example:

![image](https://user-images.githubusercontent.com/606594/31700131-29f1cc68-b37c-11e7-821f-230a221b521f.png)

It should just be

And not

[2017-10-18 03:47] molant opened #238 "Don't display position if null or -1"
In the resource's url, we shouldn't display the position if it is not meaningful. In the following example we should remove the `:-1:-1`

![image](https://user-images.githubusercontent.com/606594/31700163-5d7a8a66-b37c-11e7-8b3a-f6be67f45b96.png)

[2017-10-19 18:12] ststimac commented on #230
We never had a status so this is a new piece to add.

[2017-10-19 18:21] aarongustafson opened #241 "Scanner should ignore contents of `template`"
See: https://sonarwhal.com/scanner/56409084-80fa-471d-a11e-e535aaa2525b

It flags an image `src` within a `template` element as having the incorrect character encoding header when it is a mustache variable placeholder:

[code]

Suggest it should ignore the contents of `template` *or* only parse linked assets if the value is, in fact, a real URL.

[2017-10-19 18:31] alrra commented on #241
@aarongustafson Can you [open this issue in the `sonar` repository](https://github.com/sonarwhal/sonar/issues/new). Thanks!

This repository is for site related issue.

[2017-10-19 18:31] #241 closed

[2017-10-19 18:57] aarongustafson commented on #241
Yes, sorry.

[2017-10-19 23:17] molant opened #243 "Better align company logos in results page"
![image](https://user-images.githubusercontent.com/606594/31798492-e6841620-b4e8-11e7-981f-f52c9a7c7bd1.png)

![image](https://user-images.githubusercontent.com/606594/31798483-d702e104-b4e8-11e7-8c04-53cd9be8361f.png)

[2017-10-19 23:17] molant commented on #243
@ststimac maybe something you can do?

[2017-10-19 23:21] #230 closed

[2017-10-19 23:21] #231 closed

[2017-10-19 23:22] #236 closed

[2017-10-19 23:22] #237 closed

[2017-10-19 23:44] qzhou1607 commented on #229
@molant What is the expected normalized format? Keep the `index.html` for index pages? Or convert the pages ended with `.html` such as `faq.html` to `/faq/` ? If it is the latter one, would we be okay with placing each `about` and `rule` subpage into its own folder?

[2017-10-19 23:49] molant commented on #229
Ideally I'd like to remove `.html` from the urls. Not sure if there should be a trailing `/` or not (probably it should work either case)

[2017-10-19 23:51] #222 closed

[2017-10-19 23:59] molant opened #244 "Share templates between server and client"
We have to find a way of sharing the `.hbs` of the scan result item and just have one copy.
Now if we want to update something in there we have to do it in 2 different places, the `.hbs` and `scanner-submit.js`

[2017-10-20 16:03] ststimac opened #245 "'Analyzing' text lost styling"
There was an id associated with styling that was deleted from the html. Analyzing is now in the wrong location and the animation isn't applied.

![screen shot 2017-10-20 at 8 59 16 am](https://user-images.githubusercontent.com/18073131/31830530-5b207e1a-b575-11e7-9c7f-b9e63730be16.png)

[2017-10-20 16:07] ststimac opened #246 "Scan result tiles don't collapse evenly"
Accessibility tile isn't collapsing with the rest of the tiles on smaller screens. Fix layout so it rearranges content down the way the other tiles do.

![screen shot 2017-10-20 at 9 01 46 am](https://user-images.githubusercontent.com/18073131/31830596-93036996-b575-11e7-8fcc-614fdcac27e4.png)

[2017-10-20 16:15] molant commented on #245
It should be a class and not an id. There's a conversation in the old PR and @qzhou1607 can tell you more if needed.

[2017-10-20 16:16] ststimac commented on #245
It's fine if it's not an id. But whatever was changed broke the positioning and animation.

[2017-10-20 16:28] qzhou1607 commented on #245
@molant @ststimac For some reason the css and js in production were not updated, even though the code in the `website` branch is correct.

[2017-10-20 16:29] ststimac commented on #245
Yeah, I'm noticing that there's CSS missing when I inspect my scan results page on sonarwhal.com while it's analyzing.

[2017-10-20 16:31] qzhou1607 commented on #245
@molant It looks like the service worker is still running, even after the `hexo-offline` package is removed

[2017-10-20 16:32] ststimac commented on #245
This is causing the issue I'm seeing in #246 as well. When I empty cache and hard reload, things look fine.

[2017-10-20 16:33] ststimac commented on #245
This is what people are seeing right now on the scan results page on first load...

![screen shot 2017-10-20 at 9 33 01 am](https://user-images.githubusercontent.com/18073131/31831832-b10bef04-b579-11e7-9164-f809ef3fff57.png)

[2017-10-20 16:36] qzhou1607 commented on #246
This is due to the service worker too

[2017-10-20 16:40] ststimac commented on #246
I think there's something else going on here possibly. Again after two hard reloads & cache clearing everything looked fine, but once the scan completed I watched the first tile revert back in size/layout and look like the screenshot above. Need to investigate some more.

[2017-10-20 18:15] ststimac commented on #245
Fixed via #247

[2017-10-20 18:15] #245 closed

[2017-10-20 18:57] qzhou1607 opened #248 "Console errors in the scan form page"
https://sonarwhal.com/scanner

This is caused by including `scanner-common.js` and `scanner-submit.js` in the scan form page.

[2017-10-20 21:36] ststimac opened #251 "Documentation title + GitHub links should bump to next line on smaller screens"
GitHub link location isn’t consistent on mobile and should be below title on smaller screens:

![14013ba2-f305-43dc-8a86-7ffeaa16188e](https://user-images.githubusercontent.com/18073131/31842608-cfd5557c-b5a3-11e7-9824-43239204e058.png)
![2ed86568-108c-45e3-ae60-7578fce6424e](https://user-images.githubusercontent.com/18073131/31842609-d0024f8c-b5a3-11e7-9a58-9ef12b1cc0d0.png)

[2017-10-20 22:42] #248 closed

[2017-10-21 07:26] alrra opened #252 "Search preview breaks layout on small viewports"
e.g.: Chrome on Android

<img src="https://user-images.githubusercontent.com/1223565/31849353-b5880402-b649-11e7-8c69-6e720bd04ec7.png" width=350>

@ststimac @qzhou1607 I think the decision was to not show the search preview on smaller viewports. Is this a regression?

[2017-10-21 07:44] alrra opened #253 "Section link icon breaks layout on small viewports"
e.g.:

* Chrome on Android

   <img src="https://user-images.githubusercontent.com/1223565/31849534-9f26f22e-b64c-11e7-8bc3-c92baa16fa79.png" width=300>  <img src="https://user-images.githubusercontent.com/1223565/31849518-5351d58a-b64c-11e7-9226-9e94ad8620e5.png" width=300>

* Edge on Android

   <img src="https://user-images.githubusercontent.com/1223565/31849596-67256846-b64d-11e7-9b8c-269523b0

[2017-10-21 07:49] alrra commented on #253
* Edge on Android

   <img src="https://user-images.githubusercontent.com/1223565/31849596-67256846-b64d-11e7-9b8c-269523b0dd1f.png" width=350>
  <img src="https://user-images.githubusercontent.com/1223565/31849597-675ad44a-b64d-11e7-8f10-49fa8eec84a0.png" width=350>

[2017-10-21 07:52] alrra opened #254 "Add ability to open/close all results in the online scanner"
If the site has a lot of errors it gets annoying to open/expend the result one by one.

[2017-10-21 10:01] #252 closed

[2017-10-21 12:24] molant commented on #254
Something similar for adults with lots of results is when you reach the end of a rule and want to collapse it. You need to scroll all the way up and then close it.

Don't know if short cuts could be an option on top of something else?

[2017-10-23 18:16] alrra opened #256 "Online scanner's Qualys SSL Labs logo link always points to the same site"
For the _"site doesn't support HTTPS"_ error  the Qualys SSL Labs logo link always points to: https://www.ssllabs.com/ssltest/analyze.html?d=https://ru.hexlet.io.

---

![](https://user-images.githubusercontent.com/1223565/31905523-22a878fc-b837-11e7-950f-d4c71ca6eef1.png)

---

e.g.:

* https://sonarwhal.com/scanner/12bb99af-fb34-4d9b-b2fd-45caba9e5ba4
* https://sonarwhal.com/scanner/ee156b1f-d60

[2017-10-23 18:30] molant commented on #256
@qzhou1607 can you take a look at this asap, please?

[2017-10-23 18:42] ststimac opened #257 "Top level nav: scanner is not aligned with other two items"
The 'Scanner" text is mis-aligned by 1px. I know it seems small but I couldn't tell if it was my eyes or it was actually off slightly.

Need to update `.nav__navbar > li > a::after` to have `vertical-align: top;`. It's current setting is causing the arrow to add an extra pixel of height.

[2017-10-23 18:53] #246 closed

[2017-10-23 20:58] #256 closed

[2017-10-24 08:18] alrra opened #261 "Nellie's working overtime permalink URL breaks layout on small viewports"
e.g.: Chrome on Android

   <img src="https://user-images.githubusercontent.com/1223565/31931808-074afcda-b8ad-11e7-9b45-e4997543aee6.png" width=300>  <img src="https://user-images.githubusercontent.com/1223565/31931809-07668a90-b8ad-11e7-8b3a-f06147a657fa.png" width=300>

[2017-10-24 20:18] sarvaje opened #263 "Optimize the image favicon-32x32.png"
The scanner returns an error because `favicon-32x32.png` is not optmized.

[2017-10-24 21:21] #263 closed

[2017-10-24 23:24] molant commented on #238
@qzhou1607 this is still happening.
See results for https://sonarwhal.com/scanner/20a62f58-410c-4b36-89fe-e903b544b044 (Validate set-cookie)

[2017-10-24 23:48] qzhou1607 commented on #238
@molant Looks like a helper is missing in the client side, which should be fixed after https://github.com/sonarwhal/sonarwhal.com/pull/259 is merged. I will make a PR to fix this for now.

[2017-10-25 07:14] alrra opened #265 "Make scanner indicate scan state using the favicon"
GitHub recently added something similar, and personally, I think it's a great idea.

![](https://user-images.githubusercontent.com/1223565/31982927-8e8f4802-b963-11e7-84b9-bac38082f782.jpg)

(from https://twitter.com/left_pad/status/922905320543760384?s=03)

[2017-10-25 14:17] alrra commented on #238
@qzhou1607 Can you confirm this is now fixed? Looking at the production code it seems the [custom code](https://github.com/sonarwhal/sonarwhal.com/pull/264) is not included anywhere.

(Maybe a caching issue on my side?)

[2017-10-25 14:30] qzhou1607 commented on #238
@alrra there is a new change that if there is no source code, we don't show the code block any more. Is it what you are experiencing? What url were you scanning? I tried the scanner in production, it seems to work fine when I tried.

[2017-10-25 14:42] qzhou1607 commented on #238
@alrra Ignore my last comment. I don't see the change in the `website` branch either so I don't think it's a caching issue. Did the build fail somewhere?

[2017-10-25 14:47] alrra commented on #238
Except for a [missing image](https://travis-ci.org/sonarwhal/sonarwhal.com#L2505), [things look ok](https://travis-ci.org/sonarwhal/sonarwhal.com#L2504).

[2017-10-25 16:42] alrra opened #266 "Make documentation links from scanner more clear"
The docs icon doesn't seem to be very clear (see [recent example](https://twitter.com/justmarkup/status/923221586206961664))

![](https://user-images.githubusercontent.com/1223565/32011115-7abd8f92-b9bc-11e7-8697-cad595ba04e0.png)

Maybe we should have text instead of an icon? or is there some other way to make it more clear?

@ststimac, @qzhou1607, @sonarwhal/core  Thoughts?

[2017-10-25 16:47] molant commented on #266
Maybe add a text before the image like "Why am I failing this?" that could be hidden in smaller form factors.

[2017-10-25 16:53] ststimac commented on #266
I think we could add text next to the icon. Documentation or Docs (that might be too informal).

[2017-10-25 17:51] ststimac commented on #253
I'm not seeing such a large gap on Chrome on iOS but there is a pixel or two of white still there.

[2017-10-26 16:26] #235 closed

[2017-10-26 16:44] ststimac commented on #266
Any thoughts or suggestions on this solution? :

![screen shot 2017-10-26 at 9 43 18 am](https://user-images.githubusercontent.com/18073131/32065635-29bfb4e6-ba32-11e7-8e85-3899673beeaf.png)

[2017-10-26 17:00] alrra commented on #266
I think that works!

[2017-10-26 17:15] ststimac opened #268 "Design About Landing Page"
Since we've made the headings in the footer all links, About should have a somewhat better looking landing page like docs does. Currently looks like:

![screen shot 2017-10-26 at 10 13 39 am](https://user-images.githubusercontent.com/18073131/32067014-8c331524-ba36-11e7-991a-05ff01f54181.png)

[2017-10-26 19:02] qzhou1607 opened #270 "Unexpected Token at <"
An issue reported in https://github.com/sonarwhal/sonar/issues/598 originally.

https://sonarwhal.com/scanner/bcd43ac0-963f-4920-b831-7287cbb7a866

Unexpected token < in JSON at position 0

[2017-10-26 19:53] grantkemp commented on #270
I noticed there was an issue analysing the SSL report - I wonder if the errant JSON was coming from that Qualys api?
[code]

[2017-10-26 21:13] molant commented on #270
Maybe, although I don't think so. Rules are executed elsewhere so if there's something wrong with SSL Labs it will break the worker processing that rule and not the site.

I think the problem was with too many requests to the DB because hitting refresh will eventually get you the right results. I've updated the throughput and we've done some changes in the online-service to process things faster t

[2017-10-26 23:59] rachelnabors opened #272 "Rename 'Developer Guide' to 'Contributor Guide'"
Currently we have both "Developer Guide" and "User Guide" in navigation, but it's a little confusing as to what those roles mean (aren't we web _developers_ making products for _users?_). Proposing to clarify by renaming "Developer Guide" to "Contributor Guide" in all instances of the phrase.

[2017-10-27 00:01] rachelnabors opened #273 "Shorten up those features on the home page"
Home page could use a bit of a sprucing:
* Shorten up the four features listed below the fold
* reduce taglines to just one

[2017-10-27 18:44] qzhou1607 commented on #232
Research and my thoughts about the things that need to be done here:

1.  Register service worker in `index.html`, preferentially using [sw-precache](https://github.com/GoogleChromeLabs/sw-precache) since it takes care of adding hash to the assets , updating the hash if there are changes, and also the cache first logic. This will be registered as a filter in hexo so that the list of cached files i

[2017-10-27 19:01] molant commented on #272
I like it, go for it!

[2017-10-27 19:45] #229 closed

[2017-10-27 19:46] #253 closed

[2017-10-27 19:46] #257 closed

[2017-10-27 19:46] #261 closed

[2017-10-27 19:46] #266 closed

[2017-10-27 20:32] molant commented on #232
It looks good!
I think I'd work first on 1 without push notifications, PR that, and then continue with the rest.

We probably will have to register in the DB the notifications we need to send and check periodically if any of those jobs have finished, and if so notify. @sarvaje, thoughts about this?

[2017-10-27 20:32] molant commented on #265
@ststimac want to work on this? I think it would be awesome :)

[2017-10-27 20:45] sarvaje commented on #232
After register the notification in the DB, I think the `sync service` can send the notification if needed.

[2017-10-29 18:35] #272 closed

[2017-10-30 10:38] nico3333fr opened #279 "No possibility of refreshing?"
Hi there,

I've tested the tool, it is quite cool, thanks for it. https://sonarwhal.com/scanner/3837003b-b4f4-4e26-a006-abe8a0fd0115

Question: I've fixed several issues on this website, and would like to see if Sonar is okay with it. I can't force rescanning the URL to see the difference. Could you add a button "refresh" or "scan again" to allow doing it?

(a temporary workaround is to add a quer

[2017-10-30 16:04] sarvaje commented on #279
Hi @nico3333fr,
The scanner has a cache for 15 minutes, so you just need to wait a little bit and then run the scanner again for the same url.

Thanks!

[2017-10-30 16:15] molant commented on #279
@nico3333fr while we are always going to cache results for a few minutes (we expect some popular websites to be requested fairly often, for example), the time could change in the future depending on capacity, resources, etc. What do you think will be a good value?

Also, if you need more flexibility right now, the CLI is the way to go.

[2017-10-30 16:15] #279 closed

[2017-10-30 17:24] nico3333fr commented on #279
@molant @sarvaje thanks for answering so quickly. 👍

In fact, it depends on the server charge: maybe keeping a more longer cache while enabling rescan could be an option if people don't abuse of the rescan option, the way you did it is another option... 👍

[2017-10-30 17:37] molant opened #280 "Title of page in on going scan different when rendered on client or server side"
The title of the page on an on going scan is different than the one when you visited a finished scan:

* on going: `scan result`
* finished and rendered from the server: `sonar report for https://domain`

![image](https://user-images.githubusercontent.com/606594/32186111-6b04af04-bd5e-11e7-9cdf-ff5ec8ddb2d5.png)
![image](https://user-images.githubusercontent.com/606594/32186123-765b9962-bd5e-11e7-

[2017-10-31 20:54] #244 closed

[2017-10-31 20:56] #270 closed

[2017-10-31 22:15] ststimac commented on #268
proposed about landing page design, the only icon I'm iffy on is "contributors"

thoughts? @molant @alrra

![about_lp_103117-01](https://user-images.githubusercontent.com/18073131/32251379-013fb690-be4e-11e7-8fc8-def94a1e56d2.png)

[2017-10-31 22:18] molant commented on #268
iffy?

I'm ok with your design

[2017-10-31 22:19] ststimac commented on #268
yeah, the contributors icon seems off to me but if everyone else is good with it, I'll ship it.

[2017-10-31 22:52] qzhou1607 opened #282 "Create reminder when there are updates from the service worker"
See https://github.com/sonarwhal/sonarwhal.com/pull/281#discussion_r147823501.

We need a reminder when there are updated contents available in cache. The user needs to refresh to see the changes.

[2017-11-01 16:44] ststimac opened #283 "'About' Sub-page layout bug"
The subpages under 'About' have the wrong page structure causing the layout starting with the breadcrumbs to get bumped too far down:

<img width="1425" alt="screen shot 2017-11-01 at 9 42 23 am" src="https://user-images.githubusercontent.com/18073131/32285931-173f2692-bee9-11e7-8215-bcdea4ea221f.png">

This is due to the way the page structure is setup in the handlebars file. Going to take a stab

[2017-11-01 16:46] ststimac opened #284 "FAQ & Governance pages have no breadcrumbs"
Need to add breadcrumbs to the FAQ & Governance pages.

[2017-11-01 18:10] ststimac commented on #284
@qzhou1607 are the FAQ & Governance pages being pulled in through markdown? What's the best way to add breadcrumbs to these two pages?

[2017-11-01 19:02] qzhou1607 commented on #284
@ststimac Yes they are pulled from the markdown files. You can add the breadcrumbs in the `about.hbs`, which is shared between all pages under `about`. Then we should be able to have breadcrumbs all in one place throughout all of the pages.

[2017-11-02 02:40] alrra opened #286 "Scanned URL breaks layout on small viewports"
Scanned URL:  https://sonarwhal.com/scanner/f32ced4f-df43-42a9-bdb5-6ae7ae7a4fcf

e.g. Edge on Android

<img src="https://user-images.githubusercontent.com/1223565/32307154-ba7763ee-bf87-11e7-920c-b2197aa8b313.png" width=350>

[2017-11-02 04:46] molant commented on #286
@ststimac want to take a look?

[2017-11-02 08:59] TejasQ commented on #286
On it.

[2017-11-02 17:10] #286 closed

[2017-11-02 17:10] TejasQ commented on #286
🎉

[2017-11-02 23:57] sarvaje opened #289 "Tell users how to use `@sonarwhal/sonar` when they try to scan `localhost`"
There are few error in database from people trying to scan `localhost`. We should tell them how to use the `@sonarwhal/sonar`

[2017-11-03 01:35] #282 closed

[2017-11-03 01:35] #283 closed

[2017-11-03 01:47] molant commented on #289
@ststimac wat do you propose in here?

[2017-11-03 05:45] alrra commented on #289
Or maybe a short message, and just make the CLI part a link that points to the appropriate documentation.

[2017-11-03 15:51] ststimac commented on #289
Is there a way to detect that they’re scanning localhost and put a message at the top of results with links to documentation like @alrra mentioned?

[2017-11-03 16:37] molant commented on #289
Or we can even prevent them to start a scan and show them something in the form page.

[2017-11-03 17:27] ststimac commented on #289
So mean on the scan form page?

[2017-11-03 17:33] molant commented on #289
Something like this:

![image](https://user-images.githubusercontent.com/606594/32387646-6080d11c-c082-11e7-8b27-f1fd0f9f2afc.png)

[2017-11-03 17:37] ststimac commented on #289
I think you nailed the design Anton, let's just pop that in :P

jk but yeah I can do the styling + layout.

[2017-11-03 17:40] molant commented on #289
Be careful with what you say! Next time you'll see me with Illustrator opened instead of VS Code!

[2017-11-03 22:20] ststimac commented on #284
Closing as this ended up being fixed in #285

[2017-11-03 22:20] #284 closed

[2017-11-03 23:44] #273 closed

[2017-11-05 11:56] alrra commented on #286
@TejasQ Congrats on your first contribution to a sonar project! 🎉

[2017-11-06 17:42] ststimac commented on #268
Completed via #285

[2017-11-06 17:42] #268 closed

[2017-11-06 17:43] ststimac opened #291 "Changelog page footer not displaying"
Only the social icons are displaying on the changelog page's footer, none of the other links are.

<img width="1424" alt="screen shot 2017-11-06 at 9 42 15 am" src="https://user-images.githubusercontent.com/18073131/32455374-eefb4674-c2d6-11e7-9cd4-574547ee98a1.png">

[2017-11-06 17:48] ststimac commented on #265
So I just need to create 3 different favicons to indicate the status of the scan?

[2017-11-06 18:22] molant commented on #265
Yup, and then we will update them dynamically.

[2017-11-06 19:05] ststimac commented on #265
Do we need .ico and .png formats at 16x16 and 32x32?

[2017-11-06 19:27] alrra commented on #265
`.ico` is better for backwards compatibility, and also works everywhere.

[2017-11-07 00:36] molant opened #293 "Make sure only `/scanner/` is used"
Right now we have `/scanner` and `/scanner/`. We should only have `/scanner/`.

[2017-11-08 11:53] alrra opened #294 "`/scanner` resources are served with the `x-powered-by` HTTP header"
Ref: https://sonarwhal.com/scanner/e5fd20dd-17ba-4807-9b80-62be845937cf

[2017-11-08 17:00] #294 closed

[2017-11-08 20:52] tkadlec opened #295 "Make links to "more information" in Vulnerable JS audit clickable"
Currently, when the scanner finds a vulnerable JS library, it provides a description that says to see the url for more information (for example: See https://snyk.io/vuln/npm:jquery for more information"), but that URL is not clickable.

Would love to make this easier for people to click-through and get remediation information.

[2017-11-08 21:04] molant commented on #295
We can probably solve this by creating a new handlebars helper that automatically ads a link if it detects one in the text and then use it in the template. Maybe it will be interesting to add a campaign parameter so you know it's coming from the online scanner?

Helpers are registered in https://github.com/sonarwhal/sonarwhal.com/blob/master/src/hexo/themes/sonarwhal/helper/index.js
and we should

[2017-11-08 22:08] tkadlec commented on #295
Happy to help out! I think I may just need a bit of direction around getting the online-service up and running (namely this bit https://github.com/sonarwhal/online-service/#configuration).

[2017-11-08 22:10] tkadlec commented on #295
Thanks!

[2017-11-10 17:34] alrra opened #296 "Add link/section to our medium account"
Ref: https://medium.com/sonarwhal

[2017-11-10 20:02] #296 closed

[2017-11-10 20:23] alrra opened #300 "Create a YouTube channel"
- [x] Create a YouTube channel.
- [x] Upload @molant's video.
- [x] Create playlist.

[2017-11-10 21:30] molant commented on #300
Already done most of that the other day: https://www.youtube.com/channel/UCmfwMFhIyKtUPKmHszZlq6g,

I'm using the sonarwhal.com account if you want to change things.

[2017-11-10 21:52] alrra commented on #300
🎉

[2017-11-10 21:52] #300 closed

[2017-11-10 21:52] alrra commented on #300
@molant [Done](https://www.youtube.com/playlist?list=PLTeNUX-2H4-HYdX4MZXBQaaSUnXbe40V1). We can add more as we have them.

[2017-11-10 22:34] alrra opened #301 "Add YouTube section on the main page of the site?"
This is what I am thinking the section should look like:

![](https://user-images.githubusercontent.com/1223565/32680924-e8563c5e-c621-11e7-8c8c-855386820116.png)

Where:

  * `Latest video` is an embed video - the [first from our playlist](https://www.youtube.com/embed/?listType=playlist&list=PLTeNUX-2H4-HYdX4MZXBQaaSUnXbe40V1)
  * `see older videos` a link to our playlist pointing to [the second

[2017-11-10 22:47] molant commented on #301
In the home page? I think we should wait until we have more videos/tutorials before doing anything on the site and know exactly what our goals are with it.

[2017-11-14 22:23] ststimac opened #303 "Mobile Nav Experience: re-design"
Currently on mobile we have the search bar open automatically. The current search in the navigation isn't setup as a button. I want to re-code the search input so there is a button and it isn't immediately expanded on mobile. This will provide a better experience in the long run.

[2017-11-14 22:25] ststimac commented on #303
Probably will work this in with the re-design of the home page.

[2017-11-14 23:52] #211 closed

[2017-11-16 21:48] ststimac opened #307 "Design & Build Status Page"
Need a status page similar to https://www.traviscistatus.com/ to show how the scanner has been doing in the last few days. It will be updated every few minutes (maybe 15?). I think it should be publicly available. Some of the metrics:

- Graphs with the number of scans over time
- Graphs with the number of successful and failed scans over time (maybe it can be merged with the previous one)
- Graph

[2017-11-16 21:50] sarvaje opened #308 "Set a limit in the number of characters for the URL in the scanner."
rel: sonarwhal/sonarwhal#662

[2017-11-20 23:16] molant opened #309 "Add link in results to show the used configuration when scanning a URL"
Right now the online scanner is using the default browserlist configuration: `> 1%, last 2 versions, Firefox ESR`.

After the discussion in https://github.com/sonarwhal/sonarwhal/issues/666 maybe it's worth thinking about tweaking that configuration, at least while we implement the custom configuration.

The idea will be to remove support for old browsers so rules like `X-UA-Compatible` recommend

[2017-11-20 23:20] alrra commented on #309
:+1+

[2017-11-21 09:14] laukstein commented on #309
@molant `> 1%, last 2 versions, Firefox ESR` http://browserl.ist/?q=%3E+1%25%2C+last+2+versions%2C+Firefox+ESR
returns old browsers even with 0% usage, IE10 with usage 0.15% . Perhaps you expect more than 1% usage and the configuration needs to be changed, or it is a bug in https://github.com/ai/browserslist ?

[2017-11-21 09:15] laukstein commented on #309
@alrra, `X-UA-Compatible` is relevant only till IE10 and IE10 usage is 0.15%.

[2017-11-21 16:30] alrra commented on #309
@laukstein That is because of `last 2 versions`, part which, as this issue suggests, we intend to remove from the **online scanner** until the scanner allows users to provide their own configurations.

---

Note: Below by `sonarwhal` I am referring to the CLI, not the [online scanner](https://sonarwhal.com/scanner/).

Again, we know that, and we even [clearly specify it in the rule's documentation

[2017-11-21 19:46] ststimac opened #310 "Chrome applying styles to buttons on Mac"
This is a new issue that suddenly appeared. In Chrome, a border radius is being applied to button elements as shown in the screenshot below. 'Documentation' is not using the button tag so it's rendering correctly. If you go into dev tools and change any <a> links to button, a border radius is applied.

<img width="360" alt="screen shot 2017-11-21 at 11 36 49 am" src="https://user-images.githubuser

[2017-11-22 00:23] alrra commented on #31
@laukstein Sorry, I don't quite understand your question. Can you be more specific? What are you referring to by "it"?

If you are referring to the configurations for the online scanner, we will most probably allow the user to configure things manually, one by one, or upload a JSON file containing the configurations.

If you are referring to were the CLI configurations can reside, they can be in a

[2017-11-22 05:47] laukstein commented on #31
@alrra I meant where and how would look the config file when scanning the online scanner. I think it would benefit if supported configuration located in the scanned domain.

Does [config.ts#L33-L38](https://github.com/sonarwhal/sonarwhal/blob/015d53e4b0a1a384e4929ebdbbce5d85a9fa6af4/src/lib/config.ts#L33-L38) applies also to online scanner?

[2017-11-22 07:44] alrra commented on #31
No. As [previously stated](https://github.com/sonarwhal/sonarwhal/issues/666#issuecomment-345844980), the online scanner does not yet support configurations.

_"If you are referring to the configurations for the online scanner, we will most probably allow the user to configure things manually, one by one, or upload a JSON file containing the configurations."_

[2017-11-22 16:23] molant commented on #309
The easiest path will probably be to use [`> 1%, last 2 versions, Firefox ESR, not ie < 11`](http://browserl.ist/?q=%3E+1%25%2C+last+2+versions%2C+Firefox+ESR%2C+not+ie+%3C+11)

We should also update our documentation to point to the results of the default query.

[2017-11-22 17:19] alrra commented on #309
Go for it.

[2017-11-22 17:28] laukstein commented on #309
It still lists outdated browsers and with 0% usage. Why not simply `> 1%`?

[2017-11-22 18:38] molant commented on #309
`> 1%` will remove modern browsers that haven't been made to the stats like Chrome 62:
![image](https://user-images.githubusercontent.com/606594/33144086-c3396088-cf70-11e7-99e2-387b6559234e.png) and most of the conditional code we have is for old versions of desktop IE.

[2017-11-22 19:30] laukstein commented on #309
@molant then you want to use [`> 1%, last 1 version`](http://browserl.ist/?q=%3E+1%25%2C+last+1+version)

Here is `> 1%, last 1 version` vs `> 1%, last 2 versions, Firefox ESR, not ie < 11` difference:

- Chrome for Android 62 (27.78% global usage)
- UC Browser for Android 11.4 (8.10% global usage)
- Chrome 62 (0.89% global usage)
- Chrome 61 (22.19% global usage)
- Chrome 60 (1.15% global usage)

[2017-11-22 21:03] molant commented on #309
That could be an option. Not a huge fan of tweaking the `browserlist` defaults but...

We need to add a section with the online configuration (and link to it), preferably in a place where it can be edited without commits so people know what we are testing for. Maybe a gist we link from the scanner page? @alrra, @sarvaje, @ststimac ?

[2017-11-22 23:40] #310 closed

[2017-11-23 20:31] alrra opened #312 "Style blockquotes"
See:

  * sonarwhal.com: https://sonarwhal.com/docs/user-guide/rules/meta-viewport/#whyisthisimportant
  * GitHub: https://github.com/sonarwhal/sonarwhal/blob/master/docs/user-guide/rules/meta-viewport.md#why-is-this-important

[2017-11-23 20:34] alrra commented on #312
* [GitHub](https://github.com/sonarwhal/sonarwhal/blob/eec1298cd79e28a575bbc7912802b4f9d35c696e/docs/user-guide/rules/meta-viewport.md#why-is-this-important)

  ![](https://user-images.githubusercontent.com/1223565/33187958-9912265c-d04a-11e7-9b14-698d04e5e81c.png)

* [sonarwhal.com](https://sonarwhal.com/docs/user-guide/rules/meta-viewport/#whyisthisimportant)

   ![](https://user-images.githubus

[2017-11-28 02:17] molant commented on #309
Another thing we could update is the [Apple Touch icon `error` to `warning`](https://github.com/sonarwhal/sonarwhal/issues/661#issuecomment-347179970)

[2017-11-28 17:07] sarvaje commented on #309
@molant just to be sure, the changes are:
* [ ] Change apple touch rule severity to `warning`
* [ ] Change browserlist to `> 1%, last 2 versions, Firefox ESR, not ie < 11`

[2017-11-28 17:38] laukstein commented on #309
@sarvaje see my above comment. I think we need to use `> 1%, last 1 version`.

[2017-11-28 18:34] molant commented on #309
It should be
* [ ] Change apple touch rule severity to `warning`
* [ ] Change browserlist to `> 1%, last 1 version`

as @laukstein says. @poshaughnessy, @sonarwhal/core any other changes we should do?

[2017-11-28 18:52] sarvaje commented on #309
ok!

[2017-11-28 21:55] sarvaje commented on #309
Changes done!

[2017-11-28 21:58] alrra commented on #309
We should also publish the configs somewhere on GitHub? Maybe the `README.md` of this repository? (Cc @sonarwhal/core)

[2017-11-28 22:16] molant opened #313 "Close icon in details button is too close compared to open"
Open:
![image](https://user-images.githubusercontent.com/606594/33347121-a7d3aae4-d446-11e7-8bcd-16853748dd33.png)

Close:
![image](https://user-images.githubusercontent.com/606594/33347098-93d352b0-d446-11e7-9be1-494f5624b3fb.png)

[2017-11-28 22:24] ststimac commented on #313
What browser is this?

[2017-11-28 22:26] molant commented on #313
Happening with Chrome and Edge on Windows. I think that also Safari on iOS IIRC.

[2017-11-29 00:25] ststimac opened #315 "Add scan input back to homepage"
Re-add scan input to homepage, will probably need to move a few things around as the homepage content evolved a considerable amount since when I first designed it and it had the scan input in there.

[2017-11-29 00:29] ststimac opened #316 "Design 'scan complete' UI notification"
Design UI to sign up for notifications when the scan is completed.

@molant do we also need to design the actual notification? How is the notification being sent?

[2017-11-29 00:32] #313 closed

[2017-11-29 00:34] molant commented on #316
It will use the system notifications so we will just need an image.

[2017-11-29 00:57] molant opened #317 "List of rules is cut with the footer"
![image](https://user-images.githubusercontent.com/606594/33352311-1efe4f5a-d45d-11e7-8d19-d12c7a1901a6.png)

Happens on Edge and Chrome.  Example URL: https://sonarwhal.com/docs/user-guide/rules/no-vulnerable-javascript-libraries/

[2017-11-29 16:48] ststimac commented on #317
Only happening on Windows in all browsers. Displaying fine on Mac. I'm running all the same browser versions.

[2017-11-29 18:51] laukstein commented on #309
@sarvaje this change has been released without uprising the version. Now I see the same version 0.16.0 old scan result with `x-ua-compatible` warning and new scan without it...

[2017-11-29 19:00] laukstein opened #318 "CloudFlare's mandatory __cfduid cookie should not penalize site"
Fallow Mozilla steps https://github.com/mozilla/http-observatory/issues/121 and skip validation fort CloudFlare's `__cfduid` cookie

![grabilla em7172](https://user-images.githubusercontent.com/183966/33393385-b6e2f8c6-d547-11e7-94cf-f37613d95bfc.png)

[2017-11-29 19:11] molant commented on #309
Because the sonarwhal version the online scanner is using hasn't change, just the configuration.

That's part of why we should publish the used configuration somewhere that we've been mentioning in this thread. Maybe we should have something next to the version in the results that points to it and use the config id? Thoughts @ststimac?

@sarvaje what about enabling a new endpoint /scanner/config/c

[2017-11-29 19:17] sarvaje commented on #309
I like the idea.

[2017-11-29 19:22] gregwhitworth commented on #317
I'm able to repro this in Safari on MacOS:
![image](https://user-images.githubusercontent.com/865244/33394574-9eee911c-d4f7-11e7-9ead-4d15546930fe.png)

[2017-11-29 19:34] molant commented on #317
So it looks like a problem with the screen resolution then @ststimac

[2017-11-29 19:36] ststimac commented on #317
Thanks Greg. I'm looking into this today.

[2017-11-29 19:37] molant commented on #309
I've quickly chat with @sarvaje about this. Plan is:
- new endpoint to expose the used config for that run. We are storing that directly in the results. This is good because we will not have to do anything in the future for custom configs 😊
- add a link in the results to see this configuration. @ststimac we'll need your help to make it pretty

[2017-11-29 20:09] ststimac commented on #317
Yup, I think it's something with the floats. Makes my job easier :)

[2017-11-29 20:58] alrra commented on #318
@laukstein Care to open this issue in the [`sonarwhal`](https://github.com/sonarwhal/sonarwhal ) repository? Thanks!

---

Note: This repository is for site specific problems.

[2017-11-29 20:58] #318 closed

[2017-11-29 21:11] molant commented on #318
But this will go into the ignored urls config for the online scanner so it should go here?

[2017-11-29 21:41] alrra commented on #318
Ignoring URLs won't solve much here, as this is about cookies. If we decided to go with this, we need to make some changes to the [`validate-set-cookie-header`](https://github.com/sonarwhal/sonarwhal/blob/8f97e557a1783ba47b56360b3a61d107f63feb5e/src/lib/rules/validate-set-cookie-header/validate-set-cookie-header.ts) rule.

[2017-11-29 22:31] laukstein commented on #318
Is moved to https://github.com/sonarwhal/sonarwhal/issues/681

[2017-11-29 22:34] alrra commented on #318
Thanks, @laukstein!

[2017-11-29 22:58] #317 closed

[2017-11-30 14:26] staabm opened #320 "UX: Make connection between "Documentation" and the actual errors more clear"
origin issue: https://github.com/sonarwhal/sonarwhal/issues/682#issuecomment-348187171

[2017-11-30 14:28] staabm commented on #320
ohh wow, its such a huge button and my brain wasnt able to get the connection between each error below and this button... I guess this means we should do something about it.

Proposal:
![grafik](https://user-images.githubusercontent.com/120441/33435650-01db083c-d5e3-11e7-9d32-8721b623775e.png)

I guess things would be easier when the "docu" symbol would appear when hovering with the mouse over a e

[2017-11-30 14:30] staabm commented on #320
especially for error messages which are far more away from the "Documentation" button, the benefit is getting obvious

![grafik](https://user-images.githubusercontent.com/120441/33435801-6a2e7e6e-d5e3-11e7-8634-482c1caf55d2.png)

[2017-11-30 21:15] ststimac opened #321 "Scanner input CSS classes on scanner page is using unnecessary home styles"
It looks like the original code for the scanner input that was on the homepage is being used on the /scanner page. A number of the CSS classes used in that form are obsolete since home.css is only being used on the home page.

[2017-11-30 22:29] ststimac commented on #315
@molant @alrra does this look ok? The label for the search input is throwing me off.

<img width="1423" alt="screen shot 2017-11-30 at 2 28 10 pm" src="https://user-images.githubusercontent.com/18073131/33458389-d49428ac-d5da-11e7-89d8-84a36766d35a.png">

[2017-12-01 17:18] alrra commented on #320
@ststimac @sonarwhal/core Thoughts?

[2017-12-01 18:21] ststimac commented on #320
I don't think we should add an icon to every error. Some people have 200+ errors and that will just be a bit redundant.

We can try making the rules themself a link, but there was also a suggestion to add another call to action to take users to the documentation at the bottom of the results, which I think would be helpful for when some rules have a long list of errors and the documentation button

[2017-12-01 18:59] alrra commented on #320
I agree.

:+1:

Just so that there is no confusion, we are referring to also making the following parts point to the documentation:

![](https://user-images.githubusercontent.com/1223565/33498289-9f268506-d685-11e7-9dca-626009377ba5.png)

----

@staabm Thoughts? Do you think that would make it more clear / easy for new users such as yourself?

[2017-12-02 00:05] staabm commented on #320
Depends on the styles applied to this headline I guess

[2017-12-02 01:35] #315 closed

[2017-12-05 10:37] mixrich commented on #210
Hi. I had the same bug with Edge in my project.
I can't find any approvement that it's the Edge problem and will or was in solved or not by Microsoft, but I found solution for IE and Edge.

You can add style
`list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=);` for your list items. It's a 1x1 transparent PNG ima

[2017-12-06 05:22] FremyCompany commented on #210
@mixrich

So, to be more precise, the issue was not fixed in latest release, and was actually made worse (as in: more frequent) by a regression in the page load algorithm. Because this problem became even more prominent in the latest release (Edge16) a decision has been taken to service a fix for this issue for that version as soon as we have a fix for it (currently, we still do not, but I'm perso

[2017-12-07 21:56] molant opened #323 "Grammar errors on waiting page"
![image](https://user-images.githubusercontent.com/606594/33740686-569c515a-db56-11e7-8ab1-555fdc544b7d.png)

sonarwhal didn’t return the result fast enough, please try again later. If the problem continues, please contact us.

[2017-12-07 21:59] molant commented on #323
Thanks to @tysonmatanich for reporting this :)

[2017-12-07 22:10] #323 closed

[2017-12-08 17:59] molant commented on #309
Updated the title of the issue and assigned it to @sarvaje and @ststimac.

@ststimac if you have questions we can talk on Monday.

[2017-12-11 17:12] ststimac commented on #309
@molant yeah, let's chat today.

[2017-12-11 18:17] molant commented on #309
Done, @ststimac will add a link to the new endpoint in the results page that will say "Used configuration" or something similar.

[2017-12-11 23:33] #309 closed

[2017-12-11 23:53] alrra commented on #309
That change is now live (for example, see: https://sonarwhal.com/scanner/7a2b2978-b84f-4620-85fb-11f78fb3a45).

![](https://user-images.githubusercontent.com/1223565/33859971-5a95b0e8-de8b-11e7-8c16-62a88c278dc3.png)

[2017-12-11 23:57] ststimac commented on #309
@alrra one of the lines of CSS isn't being updated. Is that due to service worker? (the update to flex-start)

[2017-12-11 23:58] ststimac commented on #309
@alrra ignore that comment, the wrong line of CSS got updated.

[2017-12-12 18:14] laukstein commented on #309
@alrra https://sonarwhal.com/scanner/7a2b2978-b84f-4620-85fb-11f78fb3a45 show error page

![grabilla g11760](https://user-images.githubusercontent.com/183966/33900993-103721b4-df79-11e7-85fc-fb969d325e85.png)

[2017-12-12 18:22] alrra commented on #309
Yes, the URL was missing a digit, sorry about that, here is the correct link:

https://sonarwhal.com/scanner/7a2b2978-b84f-4620-85fb-11f78fb3a453

[2017-12-12 19:29] laukstein commented on #309
@alrra Can you apply pretty-print formatting for JSON files?
The JSON file has Array with 3 Objects containing bunch of properties like `rules` and `browserslist`, etc. Why?
I think we stil don't have an option to add a custom configuration, before running scan, right?

[2017-12-13 00:22] qzhou1607 opened #326 "Arrow bumped to the next line in treeview"
The arrow gets bumped to the next line:

![arrow](https://user-images.githubusercontent.com/20218531/33915468-61b0122e-df58-11e7-8805-e6833d2e2d44.PNG)

[2017-12-13 00:31] molant commented on #326
It will also be nice if we could avoid the `-`. The folder has that name, haven't tried without it though...

[2017-12-13 23:55] ststimac opened #327 "Re-design home page"
The original home page design no longer suits our needs and has drastically changed content-wise since the original mock up.

Below are 3 different options I landed on. @molant @alrra @qzhou1607 @sarvaje any feedback or preferences are welcome.

![home_121317-04](https://user-images.githubusercontent.com/18073131/33968642-e6250454-e01d-11e7-984b-f5648955cbb9.png)

![home_121317-05](https://user-im

[2017-12-14 00:52] qzhou1607 commented on #327
@ststimac The scan input boxes with icon seem more eye-catching, definitely my favorites. And I really like the change of `search documentation` instead of `search...`. Occasionally I see people dropping urls in the documentation search bar, I kept wanting to open an issue about it but kept forgetting. Glad it's addressed now 😄

[2017-12-14 16:10] alrra opened #328 "Improve caching"
Ref: https://sonarwhal.com/scanner/344e9976-81f0-4a1a-a497-cf15255f6b39#http-cache

⚠️ This depends on having some cache busting strategy in place.

[2017-12-14 17:20] molant commented on #328
Part of #83

[2017-12-14 18:20] sarvaje commented on #327
I think I would like a mix of all of them.
I like the header in 2 (Including the narwhal), but with the `search documentation` in 3 and the scan and install section in 1.
I also like the narwhal in the footer, but if it is already in the header, then it is too much hehehehe.

Also, I don't know if it is intentional or not, but `changelog` is missing in 2 and 3, and I think users should have access

[2017-12-14 18:27] ststimac commented on #327
@sarvaje re: changelog, yes sorry, that's from an old header, I forgot to delete it, it's still in the menu under About.

[2017-12-14 18:29] molant commented on #327
Some thoughts about the content for the homepage:

* Now that we have the online version maybe the CLI instructions don't need to take that much space
* We need to better promote what it does, maybe bumping up the 4 concepts?
* Maybe we can change the instructions to the shortest possible command: `npx sonarwhal https://example.com`, and say something like "Try it on your machine".
* I think we sh

[2017-12-15 22:38] ststimac commented on #327
Updated home page design: yay or nay? I'd like to start building this out Monday.

[2017-12-15 22:38] ststimac commented on #327
Oh I suppose I should share the mockup :P

![home_121517](https://user-images.githubusercontent.com/18073131/34063237-a8701412-e1a5-11e7-8f1f-7c9e535d6b1b.png)

[2017-12-18 04:18] molant commented on #327
That's probably a good idea 🙄

I like it. What about a version with the icebergs in the bottom like option 3?

[2017-12-18 10:03] poshaughnessy commented on #327
Hope you don't mind me popping up and asking, but: what's the thought behind removing the `npm install ...` lines from the homepage?

[2017-12-18 16:53] ststimac commented on #327
@molant I want to keep Nellie at the top so you're not just hit with all copy.

@poshaughnessy I may have misinterpreted @molant's feedback but the focus on the homepage is to get people to use the online scanner but direct them to the CLI documentation if that's the route they'd like to take. We can add the `npx sonarwhal` line back in though.

[2017-12-18 21:15] ststimac commented on #327
I guess we're putting the homepage design on hold until folks agree on the design.

[2017-12-18 22:34] ststimac opened #332 "Hide label on home page scan input"
Until we pick a homepage direction, I want to visually hide the label for the scanner input since it feels weird aligned to the left.

It will still be available for screen readers.

[2017-12-18 23:37] #332 closed

[2017-12-19 03:58] molant commented on #327
Yes, with some people OOF I think it's best to wait until new years if we don't have a full agreement.

Thanks!

[2017-12-19 20:03] #326 closed

[2017-12-21 17:40] sarvaje opened #335 "Support rules without documentation in the scanner result"
If for some reason we have a rule without documentation we shouldn't show the documentation button.

[2017-12-22 00:31] #335 closed

[2017-12-27 00:07] #291 closed

[2017-12-27 18:03] #280 closed

[2017-12-27 23:35] Ygnis commented on #210
I found a solution which  works for me,
it will remove the space and make list-item markers transparent :
ul{ padding: 0; margin:0; color: rgba(255, 255, 255, 0);}
Since the fourth number is 0, you could choose the color you want the result will be the same.
Sorry if I made some mistakes, English is not my first language.

[2017-12-28 00:26] Ygnis commented on #210
I found a simple solution which works for me ; it will remove the space and make the list-item markers transparent: ul{ padding: 0; margin: 0; color: rgba(255, 255, 255, 0); }. The fourth number of rgba must be 0 for the complete  transparency of markers.
Sorry for my English.

[2017-12-28 21:48] #223 closed

[2018-01-02 21:53] ststimac opened #342 "Add User Guide LP and Contributor Guide LP to their respective ToC sidebar navigation"
Right now the only way to get back to the User and Contributor guide landing pages is through the main navigation or bread crumbs. We should add it to the sidebar with the rest of the section navigation.

It will be taken care of on mobile/smaller screens as I re-do the mobile experience for the sidebar navigation. Will need to add it to the main/larger screen view because I'm planning on using a

[2018-01-02 23:10] ststimac commented on #198
Proposed change for mobile/smaller screens only, add a dropdown nav at the top of the page. We should probably add a 'back to top' button too.

![mobile-toc-01](https://user-images.githubusercontent.com/18073131/34503678-9fc4d62c-efce-11e7-876f-f6c2d862819b.png)

![mobile-toc-02](https://user-images.githubusercontent.com/18073131/34503679-9fdb1d1a-efce-11e7-9b1c-09081cf267f2.png)

cc: @molant

[2018-01-02 23:34] molant commented on #198
Yes, the documentation pages can be long.

LGTM!

[2018-01-02 23:37] ststimac commented on #198
I'll open an issue for the back to top button if we don't have one already.

[2018-01-02 23:39] ststimac opened #343 "Add 'back to top' button on documentation pages"
Pages can be long, especially on mobile. Design & implement a back to top button.

[2018-01-03 17:24] ststimac opened #344 "Add time that scan was started to scan results page"
Show the time the scan was started on the scan results page

[2018-01-05 18:52] #198 closed

[2018-01-08 19:26] ststimac commented on #343
back to top button mock ups:

![back to top button_artboard 2](https://user-images.githubusercontent.com/18073131/34688359-b3ad74a4-f466-11e7-8085-9e645eeb6a1e.png)
![back to top button-01](https://user-images.githubusercontent.com/18073131/34688360-b3d59f42-f466-11e7-825b-e85e2ae18c9d.png)

[2018-01-08 19:29] molant commented on #343
There's code in Edgeportal we can reuse for the JS part if needed.

[2018-01-08 19:30] ststimac commented on #343
oh excellent. yes, we will probably need that, as we'll want this to appear once the user is so far down the page.

[2018-01-08 23:24] ststimac commented on #343
I am going to need someone to make a slight edit to the javascript I think. The back to top button disappears on smaller screens/mobile.

[2018-01-09 21:11] molant opened #348 "Refactor code organization"
The folder structure in the project is a bit messy and it's not clear what things do

* `/src/hexo/source` is the markdown from the CLI
* `/src/hexo/themes/sonarwhal/source` contains the css, images and js under multiple folders (`components`, `core`, `images`, `js`)
* `/src/hexo/themes/sonarwhal/scripts` are actually utils for `hexo`
* `/src/hexo/themes/sonarwhal/templates` has a JS file template

[2018-01-09 22:23] ststimac commented on #254
I'm gleaning from this that @alrra you want an expand all button for each category of results correct? Not just one at the top that opens everything?

[2018-01-09 22:25] alrra commented on #254
Yes.

[2018-01-09 23:33] ststimac commented on #254
<img width="927" alt="screen shot 2018-01-09 at 3 32 55 pm" src="https://user-images.githubusercontent.com/18073131/34748638-67498890-f552-11e7-8182-7f1429c4a585.png">

<img width="936" alt="screen shot 2018-01-09 at 3 30 51 pm" src="https://user-images.githubusercontent.com/18073131/34748581-2172aac2-f552-11e7-903b-8879935425d4.png">

I'm thinking a button either with a light background or a whit

[2018-01-09 23:36] alrra commented on #254
I personally think the light background (first option) makes it more visible, and thus is better.

[2018-01-10 05:01] molant commented on #265
The status indicator is really tiny, especially when side by side with other favicons:

![image](https://user-images.githubusercontent.com/606594/34756493-1b500f12-f580-11e7-9112-0374ad956b36.png)

Maybe we could make Nellie change colors to make it more obivous (or just make the indicator bigger)?

[2018-01-10 05:07] molant opened #349 "Links to http-cache and http-compression in rules list page point to .md"
In https://sonarwhal.com/docs/user-guide/rules/

https://sonarwhal.com/docs/user-guide/rules/http-cache.md
https://sonarwhal.com/docs/user-guide/rules/http-compression.md

Other rules seem to point to the right url.

@qzhou1607 can you take a look tomorrow morning? I have a doctors appointment in the AM.

[2018-01-10 17:46] #349 closed

[2018-01-11 19:26] #343 closed

[2018-01-11 21:50] ststimac commented on #265
Favicon status icons are still really small. So we should probably do something like the following:
![screen shot 2018-01-11 at 1 50 38 pm](https://user-images.githubusercontent.com/18073131/34849195-6e4bf058-f6d6-11e7-9875-4ecdd0bcf8fc.png)

[2018-01-11 22:04] ststimac commented on #265
Or here is a muted down version

![screen shot 2018-01-11 at 2 01 58 pm](https://user-images.githubusercontent.com/18073131/34849717-40dd1c3a-f6d8-11e7-9c9d-2574c0bf5914.png)

[2018-01-11 22:41] ststimac commented on #265
@molant @alrra

[2018-01-11 23:00] molant commented on #265
What about the first option without the dots? If they are going to be of the same color isn't it redundant (and at the favicon resolution will look really tiny)

[2018-01-11 23:08] ststimac commented on #265
Yup, we can do that without the dots.

[2018-01-13 10:16] Acidic9 commented on #210
I also have this issue, even going to developer tools and unchecking and rechecking the `list-item-type` property (disable then enable) makes the list style dots disappear...

[2018-01-13 14:43] molant commented on #210
For those interested [here is a Twitter thread explaining a bit more the situation](https://twitter.com/fremycompany/status/950856311083683840)

[2018-01-16 18:47] #83 closed

[2018-01-16 18:47] #348 closed

[2018-01-16 23:34] ststimac commented on #327
Notes from a quick sync on the homepage messaging:

- Explain what sonarwhal is & place it so that a user doesn't have to scroll to reach that information
- Online scanner will be focus but we'll still have CLI on homepage
- Keep the 4 columns about why you should use sonarwhal but cut down copy length
- Add a gif to accompany CLI info
- More space/separation between sections
- Better integrate do

[2018-01-17 14:02] alrra opened #356 "Scanner's `Open details` buttons do not work with gulp build system"

[2018-01-17 14:08] alrra opened #357 "Menus are not displayed correctly using the gulp build system"
![](https://user-images.githubusercontent.com/1223565/35046768-d143e646-fb4c-11e7-9f16-3f1c41f6b3fd.png)

[2018-01-17 14:12] alrra commented on #356
@molant I've reverted back for now, and moved the gulp code into the [gulp](https://github.com/sonarwhal/sonarwhal.com/tree/gulp) branch.

[2018-01-18 21:42] ststimac opened #358 "Paginate changelog"
The changelog page is getting pretty long. We should implement pagination.

Also pondering if we should add a filter/dropdown to show changes from a specific month/year but not sure if that really makes sense at the moment.

I believe we've already got the component code for pagination so this should be straightforward.

[2018-01-18 23:02] ststimac commented on #327
Here's a new mockup of the home page.

![home_011718_v1](https://user-images.githubusercontent.com/18073131/35125995-89c034ae-fc60-11e7-8dbb-eac3bf476362.png)

[2018-01-18 23:07] ststimac commented on #327
Also, not all the copy is updated/complete yet. Placeholders in spots right now.

[2018-01-18 23:17] molant commented on #327
I would swap the `cli` and `why use sonarwhal` sections.

I like the red button we had in the previous mockups. Any reason why we can't have it back?

@sonarwhal/contributors thoughts?

I'll think about the copy for some of the sections.

[2018-01-18 23:23] ststimac commented on #327
The red button was really contrasting with the brighter blue. I can find a red/brighter color that works though.

[2018-01-18 23:24] alrra commented on #327
:+1:

---

Also, I think the content of the sections should be more aligned one with each other:

![](https://user-images.githubusercontent.com/1223565/35126715-8d4f043a-fc63-11e7-861e-243057053d6e.png)

[2018-01-18 23:56] ststimac commented on #327
@alrra I think most of that will line up, this was a fairly quick mockup so it's not 100% polished.

[2018-01-19 00:02] alrra commented on #327
Ok. 👍

[2018-01-19 00:19] molant opened #360 "Add better documentation on how to build and/or develop for the site"
Need to document:

* `Watch` mode
* How to develop for the dynamic part (`express`)

[2018-01-19 00:21] molant opened #361 "Precompile partials when doing interpolation in JS"
Right now we are replacing the mentions to partials in JS with the actual content of the partial. It will be great to precompile those partials and have them in separate files so they can be properly rev'd.

[2018-01-19 00:23] molant opened #362 "Cache busting of service worker + cache-control"
Because the service worker is in the root right now we are not cache busting it nor adding the right `cache-control` header. We should find a way to do this.

[2018-01-19 00:47] alrra opened #363 "Fix lint issues"
- [ ] Fix lint issues.
- [ ] Change `test` script back to: `"npm run lint && npm run build"`.

[2018-01-19 00:49] alrra commented on #363
- [ ] Fix lint issues.
- [ ] Change `test` script back to: `"npm run lint && npm run build"`.

[2018-01-19 18:09] alrra opened #364 "`<details>` is not displayed correctly on the site"
How it is displayed on:

* [GitHub](https://github.com/sonarwhal/sonarwhal/blob/88922a3edabaad0cb0b52fb2f75fe821a8d7b123/docs/user-guide/rules/http-compression.md#how-to-configure-the-server-to-pass-this-rule)

  <img width="942" src="https://user-images.githubusercontent.com/1223565/35164693-4c87aba8-fd00-11e7-925b-fff17274346e.png">

* [site](https://sonarwhal.com/docs/user-guide/rules/http-comp

[2018-01-19 18:55] alrra commented on #364
This has something to do with converting `markdown` to `html`.

[2018-01-19 19:28] #254 closed

[2018-01-22 14:44] toptalo opened #365 "Advanced features and settings that can be used during analysis requests."
I think it will be helpful to add some settings before scan like:
- HTTP Authentication (Username/Password)
- URL Whitelist
- URL Blacklist
- Cookies

[2018-01-22 16:24] poshaughnessy commented on #327
Just to say that @diekus and I like the new design too!

- Lighter backgrounds :+1:
- Call to action with URL bar closer to the top of the page :+1:
- Keeps the developer instructions :+1:
- Cute Nellie! :+1:

[2018-01-22 18:35] alrra commented on #365
@toptalo See: https://sonarwhal.com/docs/user-guide/further-configuration/website-authentication/#page-heading.

If that is not what you were looking for can you [open this issue in the main repository](https://github.com/sonarwhal/sonarwhal/issues/new) (this repository is for website related problems), and provide more details about your use cases. Thanks!

[2018-01-22 19:01] molant commented on #327
Here goes some options for the copy for your feedback. Please let me know what you think and if you have other ideas please share them!

# Scan your website for errors with sonarwhal

**Comments**:
* Make the `Run scan` button more obvious. I like the contrast from the previous mock ups with the red

**Title:**

*Scan your website for errors with sonarwhal (current)
* See what you can do to make y

[2018-01-22 19:21] ststimac commented on #327
I was thinking of changing that to Changelog because we'll have links to the rules in an above section.

[2018-01-22 19:35] molant commented on #327
The section above only talks about creating custom rules, not the current list of supported rules.
It could also change depending on the new sections we put in there that might be an option.

[2018-01-22 22:50] #364 closed

[2018-01-23 01:59] alrra opened #367 "`<details>`'s non-code content is not displayed correctly on the site"
| [GitHub](https://github.com/sonarwhal/sonarwhal/blob/437f5d8a484e1ee2e62fae059fb38a03f33fae0f/docs/user-guide/rules/http-compression.md#how-to-configure-the-server-to-pass-this-rule) | [Site](https://sonarwhal.com/docs/user-guide/rules/http-compression/#howtoconfiguretheservertopassthisrule) |
|:---:|:---:|
|  ![](https://user-images.githubusercontent.com/1223565/35254117-bb5ed0fc-ff9d-11e7-86c5

[2018-01-23 02:01] alrra commented on #367
Note: I'm referring to the non-code content

[2018-01-23 07:54] toptalo commented on #365
This issue about website.
I want to add some like this:

![image](https://user-images.githubusercontent.com/2378757/35263910-b94db0e2-002b-11e8-8c15-041a76c54f15.png)

[2018-01-23 17:01] molant commented on #365
@toptalo what you are proposing is part of https://github.com/sonarwhal/sonarwhal.com/issues/31
We want to allow users to upload their configuration files as if it they were using the CLI but we have a few other things we need to implement first. If you want to try to implement this for the online scanner let us know so we can open an issue with more information to help you in the process.

In the

[2018-01-24 00:16] molant commented on #327
@sonarwhal/core, @ststimac, @poshaughnessy, @qzhou1607 what do you think of the copy proposed so far in https://github.com/sonarwhal/sonarwhal.com/issues/327#issuecomment-359528934 ?

[2018-01-24 00:29] ststimac commented on #327
@molant I had a change or two but haven't gone through it all. I was mostly just adjusting some wording. Will look through everything tomorrow.

[2018-01-24 00:33] molant commented on #327
OK, just saying because I proposed a few things for titles, etc. and I wanted to have others people opinion.

[2018-01-24 04:44] molant opened #369 "Top button link doesn't have enought contrast when it's already visited"
1. Go to any documentation page
1. Scroll enough to show the "Top" button
1. Click on the button
1. Scroll again

You will see something like the following:

![image](https://user-images.githubusercontent.com/606594/35314910-19e80748-007e-11e8-820f-0c8b6b230a3b.png)

For reference, the non-visited version looks like:

![image](https://user-images.githubusercontent.com/606594/35314946-586cb7de-007e

[2018-01-24 04:58] molant opened #370 "details/summary not working on Edge"
Need to see if the polyfill is running correctly.

[2018-01-24 05:04] molant opened #371 "Add more space between details/summary?"
This is how it looks like now [link](https://sonarwhal.com/docs/user-guide/rules/http-compression/#how-to-configure-the-server-to-pass-this-rule):

![image](https://user-images.githubusercontent.com/606594/35315354-cda65cd8-0080-11e8-9be5-b272a2b4298b.png)

Other sections look like this:

![image](https://user-images.githubusercontent.com/606594/35315368-e53afa3e-0080-11e8-9ced-a8101dcddf60.png)

[2018-01-24 17:54] ststimac commented on #369
Yup, definitely not supposed to be doing that. Must be pulling in some <a> styling from another stylesheet.

[2018-01-24 18:35] alrra opened #372 "Make URL hashes more readable?"
Currently we have URLs such as: https://sonarwhal.com/docs/user-guide/rules/http-compression/#howtoconfiguretheservertopassthisrule,

The hash part (i.e.: `#howtoconfiguretheservertopassthisrule`) of those types of URLs is hard to read (two times this week it happened to me that I copied the URL and when editing the markdown I accidentally removed a letter, and didn't even notice).

Also, since Gi

[2018-01-24 19:37] molant commented on #367
If we enable the `breaks` option of marked we get a slightly better result:

| Live version| breaks enabled |
|:---:|:---:|
| ![image](https://user-images.githubusercontent.com/606594/35352997-9e3866a6-00fa-11e8-8240-0c25f9b2b01c.png) | ![image](https://user-images.githubusercontent.com/606594/35353067-d9b41888-00fa-11e8-84bf-85ca8678b5f8.png) |

[2018-01-24 22:49] molant commented on #367
I've been hacking `hexo-rendered-marked` to use `remarkable` instead of marked and things seem to work ok. Unless we want to figure out what's going on with `marked` I think this is our best bet.

Also we might have to write the `html` parts in a particular way. E.g.:

[code]

[2018-01-25 00:44] #363 closed

[2018-01-25 00:44] #367 closed

[2018-01-25 00:44] #370 closed

[2018-01-25 00:44] #372 closed

[2018-01-26 00:09] ststimac commented on #327
### Current Title: Scan your website for errors with sonarwhal (current)
Proposed: Use sonarwhal to improve your website

Description: No change

### Current Title: Install the sonarwhal CLI on your machine
Proposed: Run sonarwhal from your CLI

Description (Proposed): If you want to disable specific rules, further configure others, ignore domains, or more, run sonarwhal from your CLI

### Why Use

[2018-01-26 20:44] ststimac commented on #327
I also just realized that if we change the messaging for "Why use sonarwhal", it will probably affect the illustration I'm about to do for the "fully customizable" column.

@molant @alrra thoughts?

[2018-01-26 21:02] molant commented on #327
Fully customizable or something similar to that will still be there so I would worry too much. I might actually add more bullets so that section's design might have to change a bit.

[2018-01-26 23:34] molant commented on #328
This is actually fixed 🎉

[2018-01-26 23:34] #328 closed

[2018-01-29 23:58] molant commented on #327
@kborchers we are redesigning the homepage. Do you want us to add something about the JS Foundation in the footer?  I remember talking about this a while ago but I can't remember the output.

[2018-01-30 05:25] kborchers commented on #327
@molant We actually have a couple of things we ask projects to add to their sites before they can graduate from mentorship so adding them now would get that out of the way. You can see an example of both items on appium.io where there is a JSF project logo header and the copyright and trademark statement in the footer.

[2018-01-30 09:46] alrra commented on #327
From a discussion with @ststimac and @molant: we should also move and make the GitHub link to this repository more evident on the main page.

[2018-01-30 17:43] molant opened #375 "GitHub edit links in user guide are broken (404)"
@paulschreiber officially reported it in https://github.com/sonarwhal/sonarwhal/issues/788

This applies mainly to rules. Other sections seem to be OK (like landing page for that section).

[2018-01-30 18:46] #375 closed

[2018-01-30 18:46] molant commented on #375
I've pushed a fix. It will take a few minutes to be deployed.

[2018-01-30 22:53] alrra opened #376 "Make links in error messages actual links"
e.g.:

![](https://user-images.githubusercontent.com/1223565/35595928-22ffe298-05cd-11e8-811d-83a16fa30a11.png)
 ![](https://user-images.githubusercontent.com/1223565/35595929-2321421c-05cd-11e8-983d-f50d5b6db860.png)

[2018-01-31 00:43] ststimac commented on #327
@alrra @molant would something like the following work for the social icons? (I don't have the medium icon handy but it would be up there too, also this is not to scale, just a quick mockup):

<img width="935" alt="screen shot 2018-01-30 at 4 40 41 pm" src="https://user-images.githubusercontent.com/18073131/35599208-80a8a8a8-05dc-11e8-958c-9051094e2445.png">

In the main mockup, I also added an ad

[2018-01-31 01:53] alrra commented on #376
This is actually a duplicate of #295.

[2018-01-31 01:53] #376 closed

[2018-01-31 03:54] molant opened #377 "Images in markdown files are note cache busted"
The images that come from the documentation are not optimized during the build process nor placed in `/static/`images`.

We can probably solve this by copying the images to that folder early in the `gulp` task.

[2018-01-31 14:28] xpding commented on #210
@Ygnis

Your solution remove the bullet in front of the list, but the line height still not right so there is gap around the list item. Not ideal but better than having the bullet and the gap...

[2018-01-31 16:20] molant commented on #327
I'm not sure about the double header.
Maybe remove the Twitter logo and put GitHub/Source code in the top menu?

[2018-01-31 16:59] kborchers commented on #327
@molant @ststimac IMO the double header works and we could create a light version of the logo for the JSF header I mentioned earlier to use that could fit on the left side of that header if that helps balance it

[2018-01-31 17:58] ststimac commented on #327
@kborchers I'm open to trying that. Do you have a light version handy?

[2018-01-31 18:05] kborchers commented on #327
@ststimac https://js.foundation/wp-content/uploads/sites/33/2018/01/JS-Foundation-Project-Tagline-white.png

[2018-01-31 19:35] ststimac commented on #327
Quick screenshot:

![screen shot 2018-01-31 at 11 33 32 am](https://user-images.githubusercontent.com/18073131/35643266-9e8808b6-067a-11e8-8648-f11f88380ac2.png)

I think the addition of the JSF logo definitely helps to balance it out.

[2018-02-01 18:32] molant commented on #265
This has been fixed

[2018-02-01 18:32] #265 closed

[2018-02-01 20:15] #377 closed

[2018-02-05 07:35] alrra commented on #327
@kborchers Do you have a SVG version of that? Thanks!

[2018-02-05 17:17] kborchers commented on #327
@alrra https://js.foundation/wp-content/uploads/sites/33/2018/02/JS_Foundation_Project_Tagline_White.svg

[2018-02-05 18:33] qzhou1607 commented on #362
@molant The `cache-control` header is set to `no-cache` in the `sonarwhal-worker`. What's the "right" cache-control header value that it should be changed to? It doesn't seem right to me to set a `max-age` for the service worker since the content is mutable.

[2018-02-05 18:39] molant commented on #362
I think that if you move the scripts to `/static/scripts` the gulp task should take care of updating the file names and the html that points to it.

[2018-02-05 18:59] ststimac commented on #371
@molant just a heads up, when I clicked the link above, it didn't take me to the section, it just took me to the top of the page despite having #howtoconfiguretheservertopassthisrule at the end of the hyperlink.

[2018-02-05 19:29] molant commented on #371
We updated the way the ids are generated and this one was using the old format. I've updated my comment and it should take you to the right place now.

[2018-02-06 01:06] ststimac commented on #371
This is a bit lengthy but I have a few questions due to the way the documentation pages are output into HTML.

How often do you think the `details` element will be used in the documentation? Will there also be multiple instances of it on one page, under different subheadings? Would `details` only every appear below `h2` subheadings? or could it be below an `h3` or `p` element?

I'm trying to gauge

[2018-02-06 04:06] molant commented on #371
@seaotta there are a few rules that have details/summary.

Right now there are only 2 entries but we hope to add more in the future (e.g.: "how to nginx").

I don't think we will use them in another context, at least for now, and I'd like to avoid writing any html in the markdown.
Hope that helps!

[2018-02-06 17:48] ststimac commented on #371
OK, I will target with a few different CSS selectors. Also, I don't know how you tagged my separate github account but seaotta isn't my main github username.

[2018-02-06 20:05] #371 closed

[2018-02-06 21:33] #369 closed

[2018-02-06 22:02] #295 closed

[2018-02-07 01:54] alrra opened #386 "Improve what URLs are or aren't made real links in the scanner's error messages"
<img width="666" alt="screen shot 2018-02-06 at 5 08 07 pm" src="https://user-images.githubusercontent.com/1223565/35893012-db854e8c-0b60-11e8-969a-e143ed7d3827.png">

1) Should we also make protocol relative URLs real link?
2) Should we try not to make position links real links?

[2018-02-07 17:47] qzhou1607 commented on #386
I think the position links should stay as real links, because the user might want to click to visit the page even though it doesn't point to the exact location. Alternatively, we can try to exclude the position numbers (`:17:103`) from the link and only have the url part clickable. Thoughts?

[2018-02-07 19:03] molant commented on #386
I think what @alrra was saying is to not make `:17:103` clickable so I think we are OK with that :)

[2018-02-07 19:24] alrra commented on #386
I personally don't find that very useful.

I'm ok with doing that.

[2018-02-19 10:23] alrra opened #391 "Discuss the future of https://sonarwhal.com/docs/user-guide/rules/"
Now that the rules are no longer included in `sonarwhal`, I think https://sonarwhal.com/docs/user-guide/rules/ should be automatically generated, instead of having it in `packages/sonarwhal/docs/user-guide/rules/index.md` (see also: https://github.com/sonarwhal/sonarwhal/pull/822).

[2018-02-19 10:32] alrra opened #392 "Update changelog's design"
Now that the rules (and soon formatters and parses) are no longer included in `sonarwhal`, and each of them will have it's own changelog, we should start a discussion about what should be display on the https://sonarwhal.com/about/changelog/ page.

[2018-02-19 11:41] alrra opened #393 "Fix redirects for URLs without a tailing `/`"
Currently if the rule URL does not contain a tailing `/` it ends up in a 404

e.g.: https://sonarwhal.com/docs/user-guide/rules/rule-meta-viewport => 404

[2018-02-19 12:42] alrra opened #394 "Fix broken links from https://sonarwhal.com/docs/user-guide/rules/"
* `html-checker` => https://sonarwhal.com/rule-html-checker/README.md
* `http-cache` => https://sonarwhal.com/rule-http-cache/README.md
* `ssllabs` => https://sonarwhal.com/rule-ssllabs/README.md

---

@qzhou1607 Maybe this issue is similar to https://github.com/sonarwhal/sonarwhal.com/issues/349?

[2018-02-19 15:03] molant commented on #391
Was thinking the same. We probably need to rethink the layout of the page.

[2018-02-19 23:26] qzhou1607 commented on #391
Maybe we can use this https://hexo.io/api/generator.html#Archive-Page from Hexo. We will need to keep the category information somewhere, maybe in the frontmatter of each rule doc, or in `_config.yml`.

[2018-02-20 02:01] #394 closed

[2018-02-20 23:54] ststimac commented on #307
This is the next item on my list. The 5 mentioned metrics above, is that all we have at the moment or do we have other metrics to show.

For item #3 "Graphs with the status of the queues over time", what exactly is the data around that? What are the different queue statuses?

[2018-02-21 16:47] molant commented on #307
We are storing everything so if you can come up with some other useful metric feel free to add it.

We have a queue to start a scan (pending jobs), and another one to update the database. @sarvaje did I miss any?
The most relevant one is the one of pending jobs, no need to show the other one.

[2018-02-21 16:53] sarvaje commented on #307
No, those are the queue we use in the scanner. And as you say, the important is the pending jobs one.

[2018-02-21 17:06] ststimac commented on #307
Sounds good. If I come up with any other ideas for metrics I'll let you know.

[2018-02-22 16:33] alrra opened #397 "Documentation links on scanner page are broken"
Ref: https://github.com/sonarwhal/sonarwhal/issues/836

[2018-02-22 16:43] #397 closed

[2018-02-22 17:25] alrra opened #398 "Search result links are broken"
I just ran the `cron` job, but probably some other things need to be updated.

[2018-02-22 21:24] ststimac opened #399 "Scan status favicons are not consistent"
When my scan was placed into the queue I got the yellow Nellie favicon but upon completion of the scan, I got the purple Nellie with a small X. Shouldn't it be the green Nellie?

<img width="250" alt="screen shot 2018-02-22 at 1 17 58 pm" src="https://user-images.githubusercontent.com/18073131/36564764-4149f9c4-17d3-11e8-9c98-2dfbf18702b2.png">

Also, I would expect the favicon to be green even if

[2018-02-22 23:17] ststimac commented on #307
**For the number of workers working metric:**

1) do the same amount of workers work on each scan? if not then
2) is there a max amount of workers working on one scan?

**Let me know if these make sense for break-out metrics:**

Daily average # of workers working across all scans
Highest # of workers working at one time all scans

(Only applies if item 1 above isn't true) Average # of workers work

[2018-02-27 09:08] chipitsine opened #400 "please fix your own errors"
https://sonarwhal.com/scanner/a33d0a1f-8219-418b-b595-f38c91a1709a

it's a report for your own site. it is not perfect.
looks like you do not use your own tools

[2018-02-27 17:00] molant commented on #400
I was aware of the `Vary` errors and the issues with the SW file (#362), but not the ones about the favicon.
[We are compressing them using zopfli and brotli](https://github.com/sonarwhal/sonarwhal.com/tree/website/dist/static/images) so I imagine this is something related to the `web.config` file?

Thanks!

[2018-02-27 17:22] chipitsine commented on #400
well, good UX pattern is so called "call for action".
e.g.  "here's the issue ... and here is what we want you to do: ..."

I think your tool would do its best if it would advice what to do. not "is it somewhat related to web.config ?", but "here's what you can do with your web.config"

such a way would be more helpful to users.

[2018-02-27 17:28] molant commented on #400
This was a comment to know where to start looking for the person that will take this issue. I'm almost sure it's a problem in our `web.config` file.

I agree, and that's what we do with some of the rules already as [we announced in this blogpost](https://medium.com/sonarwhal/improving-the-developer-experience-with-configurations-for-apache-and-iis-a2729c8eb801) 😊

[2018-02-28 17:15] ststimac commented on #327
@molant @alrra for the CLI gif, what should that show? All the way through a scan?

[2018-02-28 18:19] molant commented on #327
Or maybe just the installation and creation of the config file.
We are changing a few parts of the process [this PR](https://github.com/sonarwhal/sonarwhal/pull/844), that why we haven't done one yet.

If you have any ideas of place holders for now go for it.

[2018-02-28 18:20] molant commented on #327
Also it should be a video with no sound and not autoplay to make it accessible.

[2018-03-02 18:22] molant commented on #391
Adding @ststimac to the conversation. This is something we need to address sooner rather than later.
We are going to have probably a new category `development` (or similar) with all the typescript, webpack, etc. rules and there are going to be in @TheLarkInn's words "hundreds of them" 🙄

[2018-03-02 18:27] ststimac commented on #391
Are you talking about updating the individual rule pages or the overview page with all the categories?

We should probably redo the side table of contents if there are going to be "hundreds" of new rules.

[2018-03-02 21:33] ststimac commented on #391
I've got an idea for the layout. I'll do a quick mockup for this on Monday.

[2018-03-02 22:30] molant commented on #400
Current errors:

*  [x] `Vary` header has incorrect content. Should be `Accept-Encoding` and not `Content-Encoding`. This was also a problem in the documentation (https://github.com/sonarwhal/sonarwhal/commit/5825dea3391461a42df740a0b009938f27449510, https://github.com/sonarwhal/sonarwhal.com/commit/9c8a1a33ff8ba5f72e4424650f21b8cfa0b052a7)
* [ ] `favico` is not server compressed
* [ ] `sw` cache

[2018-03-02 22:40] molant commented on #400
* [x] `favico` is not server compressed, it comes compressed don't know why it was failing

[2018-03-02 23:46] alrra commented on #392
Note: GitHub provides a [feed for releases](https://github.com/sonarwhal/sonarwhal/releases.atom).

[2018-03-05 18:32] molant commented on #399
Don't know why you are still getting the old style, but I think the current output is the right one:

* yellow --> Scanning
* red --> site has errors
* green --> site doesn't have any errors

This is what I see on my laptop:

![image](https://user-images.githubusercontent.com/606594/36992658-750219c8-2060-11e8-895b-5dd2aa5af30d.png)

[2018-03-05 18:32] #399 closed

[2018-03-05 19:10] iDigress commented on #210
Been having the same issue, but with ul in navbar.  FremyCompany gave me an idea that worked well.  Basically he said it's because it's hiding them first then decides there's no need to provide any further formating.  I already had my list-style-type: none; before the display: none; so what I did was this:

​#navBar ul ul {
    list-style-type: none;
}
#navBar ul ul {
    display: none;
    positi

[2018-03-05 20:48] ststimac opened #402 "Design icon for "Development" rules"
@molant if the name of this category of rules changes let me know, this is for the new category discussed in #391 that will have lots of rules.

[2018-03-05 21:35] ststimac commented on #391
Proposal for the rules landing page:

![screen shot 2018-03-05 at 1 34 03 pm](https://user-images.githubusercontent.com/18073131/37001002-f7c8ddf6-2079-11e8-928b-aaed73d2e2a4.png)

Show first 5 rules under each category and then any one that has more than that can be expanded to show the rest for a category.

[2018-03-05 21:39] ststimac opened #403 "Documentation: Rule Menu/TOC grouping"
We should update the table of contents for the rules so that there is a sub-category, i.e. a11y, and then the grouping for those rules under than sub category.

If you're in the documentation looking at rules it's not a good user experience if you only want to be exploring a certain category but the menu of rules in the sidebar isn't group by category/doesn't explicitly state what category the rul

[2018-03-05 22:27] molant commented on #391
Can we have somewhere how many rules for each category we have?
For the navigation on the left, is it going to be blank, have a list with all the rules, list the categories?

I'm not convinced that not listing all the rules directly is the best idea. Maybe we could have a landing for categories and then a landing for each category?

[2018-03-05 22:28] molant commented on #391
In this page we will have the description of each category, how many rules we have for each one, and link to the category (don't think we need more space than the one you've allocated already), and in the category landing page something similar to what we have right now?

[2018-03-05 22:29] molant commented on #391
And I just saw https://github.com/sonarwhal/sonarwhal.com/issues/403 re the navigation on the left side

[2018-03-05 22:31] molant commented on #400
Latest scan: https://sonarwhal.com/scanner/f8c35810-b101-4889-97a4-25472a1885f1

[2018-03-07 19:28] ststimac commented on #391
Two other options:
![rules-lp-03052018-01](https://user-images.githubusercontent.com/18073131/37113602-adb115e4-21fa-11e8-87d4-552df3f3dc23.png)

![rules-lp-03052018-02](https://user-images.githubusercontent.com/18073131/37113603-add42fde-21fa-11e8-81a0-02096a76af5e.png)

[2018-03-08 05:48] molant commented on #391
I like the titles of the first option (the one with the icon inline with the name of the category) mixed with the second option that has the count of rules and view all in the same line.

[2018-03-08 17:19] molant opened #404 "Table format doesn't look right"
Go to https://sonarwhal.com/docs/user-guide/rules/rule-performance-budget/#can-the-rule-be-configured

This is how it looks in Edge:

![image](https://user-images.githubusercontent.com/606594/37165571-d549dc1e-22b1-11e8-9a83-a4dd1512edbc.png)

[2018-03-08 18:10] ststimac commented on #404
Looks like there are styles missing from the CSS.

[2018-03-08 23:32] ststimac commented on #391
new mockup
![screen shot 2018-03-08 at 3 28 20 pm](https://user-images.githubusercontent.com/18073131/37182320-8c27a4c4-22e5-11e8-883e-19c5b9d6b547.png)

[2018-03-09 00:18] molant commented on #391
Ship it!

[2018-03-09 20:26] molant commented on #391
Maybe not hundreds, but there could be quite a few for a given category (a few tens).

[2018-03-09 22:30] ststimac commented on #391
![screen shot 2018-03-09 at 2 28 33 pm](https://user-images.githubusercontent.com/18073131/37232992-42147bac-23a6-11e8-8e73-6be4a9d9ca75.png)

Well depending on how many rules we start accumulating, if the list gets long enough, it should probably overflow into a multi-column layout, but we're probably not there yet. I will set it up though so that if we reach so many lines of rules, it will overf

[2018-03-09 23:09] molant commented on #391
👍

[2018-03-11 11:49] #303 closed

[2018-03-11 11:49] #327 closed

[2018-03-12 20:22] ststimac opened #405 "Logo sizing bug in Firefox"
Firefox: super small
<img width="710" alt="screen shot 2018-03-12 at 1 20 13 pm" src="https://user-images.githubusercontent.com/18073131/37307488-6059eada-25f8-11e8-8faf-c0048ec825b0.png">

Chrome: normal size
<img width="676" alt="screen shot 2018-03-12 at 1 20 22 pm" src="https://user-images.githubusercontent.com/18073131/37307479-5948c4aa-25f8-11e8-84cb-ce1ce50fe1f2.png">

I checked Edge and Sa

[2018-03-14 03:37] molant opened #407 "Breadcrumbs links are not always correct"
For example, in https://sonarwhal.com/docs/contributor-guide/getting-started/events/

if you click in "Documentation" it will actually take you to the "Contributor Guide":

![image](https://user-images.githubusercontent.com/606594/37382141-5a7cb7da-26fe-11e8-833b-6757e5207101.png)

[2018-03-14 23:31] molant commented on #392
We need to take into account that we point the user to that url when there's a new version:

![image](https://user-images.githubusercontent.com/606594/37436435-312aec1a-27a5-11e8-8cea-eb9af5f621d0.png)

[2018-03-15 17:07] #407 closed

[2018-03-15 17:31] ststimac commented on #391
So from a responsive standpoint, the two column layout works better. At smaller browser widths, the 3 column layout gets messy because the rule category titles are mostly pretty long, and end up being longer than the column and breaking onto a new line. It just doesn't flow well. I will be going with the following layout. Also the icons are missing because none of the images are loading when I run

[2018-03-15 20:53] alrra opened #409 "Integrade `sonarwhal` into out build step"

[2018-03-21 16:37] mikerg87 opened #411 "content-type: errors are flagging false postive when type is just specified after src attribute"
script tags with type specified after src is being flagged as non-compliant.
understanding is that tag attributes can be in any order

example site: https://zebu.io

"<script src="js/scrolling-nav.js" type="text/javascript"></script>"

[2018-03-21 17:00] alrra commented on #411
@mikerg87 The errors are related to the media type of the response (HTTP headers).

See: https://sonarwhal.com/docs/user-guide/rules/rule-content-type/

e.g.:

![](https://user-images.githubusercontent.com/1223565/37724711-9dc925e6-2cee-11e8-803a-d45b2eacae73.png)

[2018-03-21 17:00] #411 closed

[2018-03-21 20:44] ststimac commented on #402
Preferences for the icon for the "Development" rules? @molant @alrra @sarvaje

![dev-icons_dev 1](https://user-images.githubusercontent.com/18073131/37736332-e55c8762-2d0d-11e8-8946-7a36054823a2.png)
![dev-icons_dev 2](https://user-images.githubusercontent.com/18073131/37736333-e577c040-2d0d-11e8-8dc4-8784dd24f400.png)

[2018-03-21 23:09] FritzTGreen commented on #210
As the Twitter thread supplied by @molant explains, Edge is building the page layout before the CSS styles are loaded. Apparently, because the lists are hidden, Edge thinks it is done setting the state of the bullet markers and does not reconsider their state when the CSS styles are eventually applied. At that point, for reasons beyond my comprehension, the markers are already part of the layout a

[2018-03-22 04:30] molant commented on #402
I can't decide 🤔
We can probably ask around the office see what they think.

[2018-03-22 15:15] alrra opened #413 "Add ability to link to a certain error"
When there are a lot of errors, I often find myself linking to the scan page, but also copy pasting the error, which is not ideal.

We should have a ![](https://user-images.githubusercontent.com/1223565/37779213-18a95104-2da9-11e8-9526-dbe8dacdc40d.png) for all of these:

![](https://user-images.githubusercontent.com/1223565/37779124-dc420a30-2da8-11e8-8954-709f432da3b9.png)

[2018-03-22 15:30] molant commented on #413
Any proposal on how the link should look like?

[2018-03-22 16:42] alrra commented on #413
Maybe just add the link icon on hover?

![](https://user-images.githubusercontent.com/1223565/37784327-be91b9fc-2db4-11e8-9b79-4d236fcc348a.png)

(e.g.: see heading [here](https://remysharp.com/2018/02/01/how-to-cross-post-to-medium))

[2018-03-22 16:55] molant commented on #413
Sorry, I meant the url of the link. I guess something like `#rule-name-error-number` would work

[2018-03-22 17:29] alrra commented on #413
`#<rule-name>-error-<number>` works for me!

[2018-03-22 17:58] sarvaje opened #414 "Getting started guide has wrong path to summary formatter image"
The html generated has the link `./concepts//static/images/summary-output-3e8d086067.png`
and it should be `/static/images/summary-output-3e8d086067.png`

[2018-03-27 22:30] molant opened #415 "Edit button in documentation takes to broken link"
![image](https://user-images.githubusercontent.com/606594/37998482-9fbfbc4a-31d3-11e8-9546-30e12a9ffe65.png)

https://github.com/sonarwhal/sonarwhal/blob/master/docs/user-guide/rules/rule-content-type.md

should take to

https://github.com/sonarwhal/sonarwhal/blob/master/packages/rule-content-type/README.md

[2018-03-27 22:31] molant commented on #415
There might be some issues because not all the documentation pages are in the same place (nor are they all `README.md`)

[2018-03-28 00:25] #415 closed

[2018-04-01 19:23] anzolo commented on #210
I find nice work-around on https://stackoverflow.com/questions/20356311/internet-explorer-11-ignores-list-stylenone-on-the-first-load
It works for me.

[2018-04-09 18:05] sarvaje commented on #402
I prefer the first one, is like more development. The second one for my is more like settings.

[2018-04-09 22:16] #391 closed

[2018-04-10 15:27] molant commented on #195
It's showing up now!

![image](https://user-images.githubusercontent.com/606594/38566647-053c4f0a-3c99-11e8-9747-6b1443d31ee6.png)

[2018-04-10 15:27] #195 closed

[2018-04-10 15:38] molant commented on #402
This was closed via https://github.com/sonarwhal/sonarwhal.com/commit/6e967f65ba6b92577cdf4d12446ef7ca5959ae5c

[2018-04-10 15:38] #402 closed

[2018-04-10 15:48] molant commented on #160
The new design doesn't have a gradient. Closing.

[2018-04-10 15:48] #160 closed

[2018-04-10 16:02] molant commented on #414
@sarvaje didn't you fixed this?

[2018-04-10 18:26] #414 closed, assigned to nobody

[2018-04-10 21:52] alrra opened #416 "Sidebar rule menu items are not rendered consistently"
We now have 3 different ways of displaying things:

<img width="318" src="https://user-images.githubusercontent.com/1223565/38585439-bcc93ae0-3cce-11e8-9042-f61f7595510e.png">

[2018-04-10 22:23] molant opened #418 "Make list of rules wider in details of category"
In https://sonarwhal.com/docs/user-guide/rules/Development/ :

![image](https://user-images.githubusercontent.com/606594/38586553-0a0a7068-3cd3-11e8-9296-a21aaf464b47.png)

[2018-04-10 22:48] sarvaje commented on #418
ok!

[2018-04-10 23:12] #418 closed

[2018-04-11 01:27] alrra commented on #393
I reverted the change from https://github.com/sonarwhal/sonarwhal.com/pull/420, as made the site do weird things (such as redirect [this url](https://sonarwhal.com/scanner/1b94783c-02dd-4ffb-a57e-0ee408d18340/) to [this one](https://sonarwhal.com/scanner/1b94783c-02dd-4ffb-a57e-0ee408d18340/1b94783c-02dd-4ffb-a57e-0ee408d18340/)).

[2018-04-11 02:12] molant commented on #393
Where there any other issues or just the scanner results?

[2018-04-11 02:43] alrra commented on #393
Mostly recursive redirects such as the one from the above example.

[2018-04-11 10:05] alrra commented on #393
@molant I reverted the changes again as the same problem appeared. :(

[2018-04-11 13:58] molant commented on #393
Was it failing with the scan results or another url?

[2018-04-11 15:47] alrra commented on #393
With the scan result.

[2018-04-11 16:49] #393 closed

[2018-04-12 17:19] alrra opened #422 "Images are not displayed on the site"
GitHub: https://github.com/sonarwhal/sonarwhal/tree/5277826d1dec02bccf55be1971af98ac40d0772b/packages/rule-meta-theme-color#why-is-this-important

Site: https://sonarwhal.com/docs/user-guide/rules/rule-meta-theme-color/#why-is-this-important

[2018-04-12 18:19] sarvaje commented on #422
Is not just the images, the `why is this important section` is completely different :s

[2018-04-12 18:26] sarvaje commented on #422
Orrrrr maybe I was watching a cached version of the documentation, because I can see the errors now :)

[2018-04-12 18:32] sarvaje commented on #422
I'm going to take a look to this

[2018-04-16 16:34] sarvaje opened #424 "Scanner not works propertly with IE11"
Expected: When I scan an URL, the interface should update with the results.

Actual: I just see the results at the point I load the site, but then it is not updated anymore.

[2018-04-17 17:24] sarvaje commented on #422
This is now fixed. Closing!

[2018-04-17 17:24] #422 closed

[2018-04-19 07:49] Ashish-Dwi commented on #210
I have found the solution for this issue with two steps.

1. For liist style problem use
ul li{list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);}

2. For spacing use
ul li{float:left; width:100%;}
ul li a{float:left; width:100%;}

[2018-04-20 09:43] WolfieZero commented on #210
I had this exact issue and tried doing the basic fixes suggested with CSS to no avail. @FritzTGreen's JS solution did work for me perfectly.

[2018-04-24 19:30] molant opened #427 "Need banner telling people we use cookies"
Text:

And we will initialize GA if the user closes the banner, navigates, or clicks somewhere.

@ststimac I'll start working on something and I'll let you review the styles once the logic is done.

[2018-04-25 13:56] #427 closed

[2018-04-25 14:35] alrra opened #429 "`x` button from cookies banner is a bit off"
e.g.:

Firefox:

![screen shot 2018-04-25 at 5 31 37 pm](https://user-images.githubusercontent.com/1223565/39252671-d534bfbe-48ae-11e8-8dd5-cbcd2f35a7e3.png)

Chrome:

![screen shot 2018-04-25 at 5 31 33 pm](https://user-images.githubusercontent.com/1223565/39252729-f8015b4c-48ae-11e8-98a7-3cca6ff5ea10.png)

[2018-04-25 15:57] molant commented on #429
I might remove the circle entirely and call it a day.

[2018-04-25 16:01] ststimac commented on #429
@molant sounds good to me.

[2018-04-25 16:24] #429 closed

[2018-04-25 18:18] molant opened #431 "Links with GA campaigns get an infinite redirect loop"
Something like the following will end up in an infinite loop https://sonarwhal.com/?utm_source=CSS-Weekly&utm_campaign=Issue-290&utm_medium=RSS

[2018-04-26 09:50] MaartenW commented on #210
Thanks @FritzTGreen! I made your solution work on any and all hidden lists. Doing a detach and append works as well.

    // Mitigate IE/Edge bug showing bullets on lists which are hidden when loading the page
    $(document).ready(function(){
        if (document.documentMode || /Edge/.test(navigator.userAgent)) {
            $('ul:hidden').each(function(){
                $(this).parent().append

[2018-04-26 13:59] FritzTGreen commented on #210
@MaartenW That is a clean, beautiful piece of code. I had tried to do the clone and append in the same line, but it wouldn't work. I didn't think of using detach. Thanks!

[2018-05-01 20:47] cmckinnonfb commented on #210
@Ashish-Dwi, thank you for your solution, it worked.

Its 2018, I CANNOT believe we still have to jump through hoops like this to deal with Microsoft ineptitude.

[2018-05-01 20:55] FritzTGreen commented on #210
I'm surprised that the CSS fixes work for some people and not others (like me). I would be curious to know what is different.
I am not surprised that we still have to jump through Microsoft hoops, though.

[2018-05-06 18:47] clslgrnc opened #434 "sonarwhal scanner reports 35 errors on https://sonarwhal.com/scanner"
As already mentioned in #400, your tool finds a few issues on your website:
https://sonarwhal.com/scanner/6d4b238b-d596-40fb-a366-ddbf31069612

Moreover, your pull request template has two dead links and a typo:
- https://sonarwhal.com/docs/contributor-guide/contributing/pull-requests.html
- https://sonarwhal.com/docs/contributor-guide/contributing/pull-requests/#commitmessages
- relavant -> relev

[2018-05-07 16:10] molant commented on #434
@clslgrnc thanks!

There are a few that I was already aware of (cloudflare errors)  but some others I'm surprised (web.manifest for example).

[2018-05-09 20:25] molant commented on #434
The new results are in https://sonarwhal.com/scanner/bd5bd893-fb87-4c63-a63d-ea3987d98d7c (8 errors)

There's something weird going on with the manifest because sonarwhal reports no compression and no caching when it's not true. If we access https://sonarwhal.com/static/site-b1a71cb190.webmanifest with the dev tools open I can see `br` compression. Maybe an issue with the jsdom connector?

Also no

[2018-05-09 23:18] #361 closed

[2018-05-09 23:26] molant opened #441 "Titles in documentation could take more space"
They break really soon on wide screens even though the content goes further:

![image](https://user-images.githubusercontent.com/606594/39844587-b6d40744-53a5-11e8-965e-6220ccd93669.png)

[2018-05-10 20:41] ststimac opened #442 "Mobile TOC subcategories are all lowercase"
![screen shot 2018-05-10 at 1 38 27 pm](https://user-images.githubusercontent.com/18073131/39893083-8b7b3e20-5457-11e8-9eca-3b1e4e8538e8.png)

Concepts, rules, further configuration should all start with a capital letter.

It's been a while so I'm not sure where the ToC is being pulled in from.

[2018-05-10 20:42] ststimac commented on #442
Same thing under the contributor guide:

![screen shot 2018-05-10 at 1 41 54 pm](https://user-images.githubusercontent.com/18073131/39893222-f09aaab6-5457-11e8-9379-fcf59d1df12d.png)

[2018-05-10 21:07] molant commented on #442
Code is in [`sub-age.hbs`](https://github.com/sonarwhal/sonarwhal.com/blob/59b21956cd610a7b263420d8a2633bb88d84fd73/src/sonarwhal-theme/layout/partials/sub-page.hbs#L51). You can probably add a `capitalize` to `{{title}}` or `{{this}}` (or maybe both?) and that should fix it

[2018-05-11 02:18] kshyju opened #443 "sw.js is unminified in the live site"
I ran sonarwhal on `https://sonarwhal.com/` and the new `js-minify-check` rule reports that we have an unminified js file in the page

<img width="416" alt="screen shot 2018-05-10 at 7 04 21 pm" src="https://user-images.githubusercontent.com/144469/39903076-37c04b2a-5486-11e8-8d0b-ee4aa25b71e1.png">

Is there a reason why we are not minifying it ?
https://sonarwhal.com/sw-reg.js

[2018-05-11 03:39] molant commented on #443
Can't remember the specific reason. Maybe because it's from another project and we needed to keep the license? We need to review all the SW strategy (it's not minified nor cached), I'm not sure it is working correctly (I want online first but I seem to get old values, also I'm seeing issues with SRI from time to time). This is another thing to review.

Glad to see your rule works nicely!

[2018-05-11 22:35] ststimac commented on #442
Edit: some other things seem to not be rendering correctly either so it may just be my machine. I am investigating.

[2018-05-14 21:48] sarvaje commented on #416
This is something that needs to be fix in sonarwhal. I have already opened the issue [here](https://github.com/sonarwhal/sonarwhal/issues/1062)

[2018-05-14 23:01] molant commented on #416
Closed via https://github.com/sonarwhal/sonarwhal/commit/7ad6b606886a9db0bd1c6501fc59fc8053a85802

[2018-05-14 23:01] #416 closed

[2018-05-15 21:10] ststimac commented on #442
@molant I've got that weird thing happening when I run everything locally, the menu & some styles aren't rendering again. This was happening two months ago or so. It's happening on both machines with everything from the repo updated.

Maybe next week you or @alrra can look at my machine? I'll be heads down on other work until then.

[2018-05-21 23:56] sarvaje commented on #293
I think this is already done in `sonarwhal.com`, I'm going to fix a link in the sonarwhal documentation.

[2018-05-21 23:59] molant commented on #293
In the analytics I can still see a few instances of `/scanner/` thought. It could be just people hitting that url directly from links so maybe we should have a redirect in place for it as well.

[2018-05-22 04:29] molant commented on #442
@ststimac the latest version of the site should have the `watch` task working correctly thanks to @sarvaje

[2018-05-22 16:28] #293 closed

[2018-05-22 16:38] ststimac commented on #442
@molant cool, thanks @sarvaje!

I probably won't have time to start back up on this until next week. Some last minute things popped up for Jason & there are some smaller tasks I'd like to get out of the way.

[2018-05-28 20:36] alrra opened #448 "Installing `node-zopfli` doesn't currently work [1]"
I've [switch to `node` LTS on `Travis CI`](https://github.com/sonarwhal/sonarwhal.com/commit/651c52e3ca6b28ecbe696664e1d5e417f09104bc) so that we can at least [build it (that also fails on latest node)](https://travis-ci.org/sonarwhal/sonarwhal.com/builds/384890645).

Ref: https://github.com/pierreinglebert/node-zopfli/issues/93

[2018-05-29 13:03] Simply007 opened #449 "https://sonarwhal.com/scanner/ returns 500 result"
Bug report:

 After accessing https://sonarwhal.com/scanner I am getting 500 http status error:
* The page cannot be displayed because an internal server error has occurred.

**General headers:**
Request URL: https://sonarwhal.com/scanner/
Request Method: GET
Status Code: 500 Internal Server Error
Remote Address: 52.184.193.104:443
Referrer Policy: no-referrer-when-downgrade
**Reposnse headers**
C

[2018-05-29 13:08] alrra commented on #449
@sarvaje ⬆️

[2018-05-29 13:19] molant commented on #449
It looks like there's a problem with Azure. Some packages are not found and it fails to start. Trying to figure out why it broke and if it's in our side or Azure's side.

[2018-05-29 13:59] molant commented on #449
This is fixed now. There was a problem with the configured node version and a missing dependency (`request`) that for whatever reason was installed automatically previously

[2018-05-29 13:59] #449 closed

[2018-06-06 16:43] #442 closed

[2018-06-06 22:05] ststimac opened #453 "Details/summary in documentation body isn't behaving as expected with tabbing & opening"
This feature we have in the docs content has two issues:
![not-accessible](https://user-images.githubusercontent.com/18073131/41067306-ec74fb06-6999-11e8-87e7-622c35b5bb56.PNG)

1. The cursor when hovered over it is a text cursor, not a pointer. Needs to be a pointer for the visual cue that this is something that can be clicked on.

2. It currently can't be tabbed into via the keyboard and won't o

[2018-06-06 22:09] ststimac opened #454 "Ensure we have styled focus states"
While tabbing through the documentation page to test something else, I noticed the subheadings that have element id tags for linking to that specific section are being focused on but there are no focus styles for those headings or the link button next to them.

Need to add focus styles for those & do an audit of other pages on the site to make sure everything that needs a focus state has the appro

[2018-06-06 22:34] ststimac opened #455 "Documentation layout refresh"
- [ ] Increase body width to 74rem
- [ ] proposed: move the actions div into a third column and position sticky so they're accessible as user scrolls.

Working on mockup now.

[2018-06-06 22:38] molant commented on #453
Except Edge all the other browsers support details/summary so we shouldn't have to do anything to make it accessible 🤔

[2018-06-06 22:40] ststimac commented on #453
Something is happening on our page then with the implementation because you can't tab into it and open it via the keyboard right now.

[2018-06-06 22:42] ststimac commented on #453
That's what I mean by accessible, something isn't working correctly and I don't know what yet. For reference, I checked tabbing on edgeportal's status page and hitting enter to expand the details and it worked fine. Doesn't work on our page, and I'm in Edge for both of those. Will have to do some debugging.

[2018-06-06 22:57] ststimac commented on #455
@molant something like this. "Have a suggestion" box is stickied to the page on desktop but on mobile we can keep the current implementation with the buttons below the title. Though on mobile it might make more sense to have them at the bottom of the article. Thoughts?

![documentation-refresh](https://user-images.githubusercontent.com/18073131/41069277-088e0e24-69a2-11e8-8ba3-b135814d88ea.PNG)

[2018-06-07 17:18] molant commented on #455
This looks like a good starting point. Some comments:

* We should probably use another icon for "Signal Issue" so it's a bit more balanced with the GitHub one.
* The gray background looks a bit out compare with the rest of the design. Don't know if it should be  a different color, transparent or what.

Re about shrinking the header I was thinking of the following:

![image](https://user-images.gi

[2018-06-07 17:57] ststimac commented on #455
When you're talking about the header you're referring to the menu/nav blue bars correct?
Because the rest of the site & CSS for layout is all based around the current width and reducing that width is going to cause issues elsewhere trying to resize things and re-align to fit a smaller width.

[2018-06-07 19:56] molant commented on #455
Most of the pages we have are documentation or have content to the left only (governance, faq, etc.). The ones that are more unique are the homepage and the scanner (and we have to review the scanner anyways).

Here's what other projects do (2 and 3 column examples) to take inspiration:

[webpack](https://webpack.js.org/concepts/)
![image](https://user-images.githubusercontent.com/606594/41122701-

[2018-06-07 21:08] ststimac opened #456 "Lists aren't indenting properly"
On FAQ page:

![lists-aren t-indenting](https://user-images.githubusercontent.com/18073131/41126382-2b9a1c2c-6a5c-11e8-9b78-42ef87d03a3f.PNG)

Bullets are outside the container.

[2018-06-07 22:12] ststimac commented on #455
I like what MS does. Especially with the "in this article" which could be useful for documentation since some pages have many subsections.

[2018-06-07 22:28] ststimac commented on #455
I like what MS does. Especially with the "in this article" which could be useful for documentation since some pages have many subsections.

I don't want to shrink the width of overall container of the site body. I get that most of our pages are documentation pages, but the ones that aren't will suffer from a lack of space and the changes will domino effect down to changing font sizing and margins

[2018-06-08 03:45] molant commented on #455
Can you propose something for sonarwhal?

[2018-06-11 21:45] ststimac opened #458 "CSS Code Cleanup"
Go through the CSS files and make some updates, check comments, re-order some code.

Noticing in base.css there is a comment about styles being there that should be moved. Want to make sure there aren't other bits of CSS that are in the wrong files.

[2018-06-12 03:32] #404 closed

[2018-06-12 23:27] #441 closed

[2018-06-13 21:06] ststimac opened #459 "Rule categories page, sections missing arrows"
![missing-arrow](https://user-images.githubusercontent.com/18073131/41378023-b1a8f0a8-6f12-11e8-9c7b-8a987c4da342.PNG)

"View all" should have an arrow after it. The code is there, but the arrow is not rendering.

[2018-06-13 22:29] ststimac commented on #455
For reference: what the body copy of the page should look like compared to the screenshots/mockups in this issue posted earlier:
![docs](https://user-images.githubusercontent.com/18073131/41381883-7dac0a40-6f1e-11e8-8bbc-1bf22bb11ac2.PNG)

[2018-06-13 22:34] ststimac commented on #455
Looks like Source Sans Pro was removed at some point from the font list so that would be why it's not loading. I just downloaded it locally which is why it's now rendering properly.

[2018-06-13 22:36] ststimac opened #460 "Re-add Source Sans Pro"
Somehow the code for this font was deleted. Need to re-add it back to the website as the fallback Verdana is far too large in comparison to the headings that are all in Montserrat.

Need to update Verdana to Arial.

[2018-06-13 23:18] molant commented on #460
Now that you are looking into the fonts maybe it's a good time to review if we need all font weights for montserrat?

[2018-06-13 23:20] ststimac commented on #460
Might be able to reduce to 2 from the 3 but I'm not sure. I will have to see which font weights are applied where.

[2018-06-13 23:30] ststimac commented on #460
I mean down to 2 from 4.

[2018-06-14 03:22] molant commented on #460
There are currently 4 weights: `200,300,400,500`

[2018-06-15 19:28] #460 closed

[2018-06-18 18:14] alrra opened #462 "Site deploy is broken"
Ref: https://travis-ci.org/sonarwhal/sonarwhal.com/builds/393747711#L3715

[code]

[2018-06-18 19:37] #462 closed

[2018-06-18 20:26] alrra opened #463 "`Other` rule category needs an icon"
Ref: https://sonarwhal.com/docs/user-guide/rules/

[2018-06-21 18:05] mikelnorth commented on #210
I have the same problem in my application, but it is not always reproduced. When does the problem become popular enough that Microsoft fixes it instead of us having to do hacks around to support them?

[2018-06-24 04:04] waleader opened #465 "every time i use put url in sonarwhal i get this (Uh-oh! There's been an error and the scan could not start.)"
every time i use put url in sonarwhal i get this (Uh-oh! There's been an error and the scan could not start.)

[2018-06-24 04:07] alrra commented on #465
@sarvaje ⬆️

[2018-06-25 16:21] ststimac commented on #210
I believe this has been fixed in one of the recent Windows Insider builds. I'm no longer seeing this issue on the two sites where I was seeing it.

[2018-06-25 18:07] cmckinnonfb commented on #210
@ststimac, thank you for the update.  Hopefully we will see the fix out in the wild soon.

[2018-06-26 02:17] molant commented on #465
@sarvaje has spent most of the day trying to get this working. The problem seems to be in the nginx machine that's completely unresponsive and doesn't respond to anything (not even school key resets from azure, restarts, etc.). The plan at the moment is to nuke it tomorrow and redeploy.

[2018-06-26 22:46] sarvaje commented on #465
I tried yesterday to recover the previous machine, but it was impossible (I couldn't connect to the machine via ssh, even after restart it). Today I have created a regular vm with just ubuntu and I have installed docker manually and configured everything to have it working.

@waleader it should be working now, if you see the error again, please, reopen the issue and let me know. Thanks!!

[2018-06-26 22:46] #465 closed

[2018-07-02 17:29] ststimac opened #466 "Redesign homepage"
Updating home page to reflect CLI & Scanner share equal promotion.

@molant @alrra do either of you have a photo of the whiteboard where we outlined the sections?

[2018-07-02 23:17] molant commented on #466
I thought you took one 😔

IIRC it was:

1. the header with cli and online results
1. Why use our tool. What we have right now with text aligned to the left and another alternative was in 3 rows with the images alternating from one side to the other
1. The input form for the online scanner
1. Cli section
1. Links to documentation similar to what we have now

[2018-07-11 21:07] molant opened #469 "favicon isn't updated correctly when scan ends"
We are updating the favicon file via JavaScript but we don't have the cache busted names so we are just using `images/favicon_XXX.ico` in [`scanner-submit`](https://github.com/webhintio/webhint.io/blob/7ab5019c190b07e6e6fab2fc956ae5f34b8d9c55/src/sonarwhal-theme/source/js/scanner-submit.js#L323)

I'm not sure how to fix this (maybe have the icons commented in the HTML and uncomment them?)

[2018-07-13 17:35] ststimac commented on #466
![screenshot](https://user-images.githubusercontent.com/18073131/42705523-72478dec-8688-11e8-9a37-d07120655e71.png)

currently trying to get a CLI screenshot for the top

[2018-07-13 18:16] molant commented on #466
@ststimac wait until @alrra publishes the new version for the CLI screenshot (hopefully today).

[2018-07-13 18:23] molant commented on #466
@ststimac can you do a quick mock up with the side by side option for the "why use webhint?" section where you have the text in one side and the image in the other alternating?

[2018-07-13 19:19] ststimac commented on #466
![whyusewebhint](https://user-images.githubusercontent.com/18073131/42709908-f331f9de-8696-11e8-9057-006717f1da01.png)

[2018-07-13 22:22] ststimac commented on #466
@molant is there a preference? (see above screenshot)

[2018-07-18 17:03] molant commented on #466
I like where this is going. A few comments:

General
- Some buttons have `>` at the end and others don't
- Some buttons have no rounded corners (scanner), others just a bit the corners (header) and others are more rounded ("why use sonarwhal"). Shouldn't we try to normalize them?
- How do you feel about increasing a bit the regular font size? The computed size seems to be 16px, maybe 17px?
- The l

[2018-07-20 00:42] molant commented on #358
Closing in favor of #392

[2018-07-20 00:42] #358 closed

[2018-07-23 18:29] frvge opened #471 "Add robots.txt"
Currently, the robots.txt gives a 404 page.

Request: create a robots.txt

[2018-08-01 23:57] ststimac commented on #466
@molant here is the updated homepage. If this looks good I will open a PR tomorrow morning.

![sonarwhal-1](https://user-images.githubusercontent.com/18073131/43554862-ca989c16-95ab-11e8-9c6f-ecc16c06ab0c.PNG)

[2018-08-02 00:02] ststimac commented on #466
@molant please ignore the line under the why use webhint illustrations. Photoshop artifact.

[2018-08-02 09:39] molant commented on #466
I think I preferred the alignments of the icons in the hero from the previous version. Other than that it should be OK and I'd rather not wait any longer.

[2018-08-02 17:52] ststimac commented on #466
![s-space-between](https://user-images.githubusercontent.com/18073131/43601371-da83b994-9641-11e8-9dca-b7baa89d3265.PNG)

I tried different values for spacing the icons. Trying to keep the right icon aligned all the way to the right creates a massive gap depending on your screen size. The current code/alignment works out so that the two icons stay spaced evenly no matter the screen size and that l

[2018-08-02 21:40] ststimac commented on #466
It's now centered. I've opened a PR.

[2018-08-03 19:53] #466 closed

[2018-08-06 21:18] molant opened #476 "Lighten links underline on darken backgrounds"
![image](https://user-images.githubusercontent.com/606594/43741510-82a29700-9983-11e8-959a-2628711b447f.png)

[2018-08-08 15:51] alrra opened #479 "404 for the manifest icon"
https://webhint.io/static/images/manifest-icon.png  => 404

Ref: https://github.com/webhintio/hint/issues/1220

[2018-08-08 16:17] ststimac commented on #479
I don't think we ever created a manifest icon so one will need to be added.

[2018-08-08 16:34] molant commented on #479
IIRC we were using the apple touch icon for this. Maybe we are not updating the Manifest content when the file gets optimized and cache busted.

[2018-08-08 16:35] ststimac commented on #479
so not a design issue?

[2018-08-08 17:00] ststimac commented on #463
What happened to the rule/hint categories page? The 'other' category is missing and now the different categories aren't in alphabetical order?

[2018-08-08 17:32] molant commented on #463
We changed the only rule in the "other" category to another one. I don't thing the categories where ever in alphabetical order (or at least not on purpose).

[2018-08-08 17:32] molant commented on #463
That said, we still need an "other" icon.

[2018-08-08 17:40] molant opened #481 "Hide results if there's been a general error analyzing the site"
No point in showing an error for each of the rules.

/cc @alrra

[2018-08-08 17:48] ststimac commented on #476
Also need to add an underline on hover to the two orange buttons at the top to match the other links styled as buttons on the rest of the page.

[2018-08-08 18:00] molant commented on #479
@ststimac nope. I just merged the fix and waiting for deployment.

[2018-08-08 18:05] ststimac commented on #463
We have one. @sarvaje has it.

[2018-08-08 18:14] alrra commented on #463
From: https://github.com/webhintio/hint/blob/77462f93719f57d1662a3839b22a0fc6b263693a/packages/formatter-html/src/assets/images/scan/other-icon.svg

[code]

[2018-08-08 18:15] ststimac commented on #463
We will need to rename it to match the other icon names.

[2018-08-08 18:21] #463 closed, assigned to ststimac

[2018-08-08 19:37] ststimac commented on #405
The latest homepage update fixed this issue.

[2018-08-08 19:37] #405 closed

[2018-08-08 19:51] ststimac commented on #403
I'm not sure how long this issue would take to do & what all needs to be done with the way the TOC currently gets pulled in.

We would be restructuring the table of contents to group hints by their main category. I think the ability to collapse different hint categories in the TOC would be helpful as well so there isn't just a massive list visible.

[2018-08-08 19:53] ststimac commented on #316
What are the size/file requirements for the image for this? I'm thinking we could use the image from the old favicon with a check mark to should scan completed.

[2018-08-08 19:53] alrra commented on #479
@molant The image issue is fixed, but now we have `"/static/site.webmanifest"`.

[2018-08-08 20:33] ststimac commented on #220
@molant do we still need an SEO icon? I see your comment about an "other" or "misc" icon here.

[2018-08-08 20:48] molant commented on #316
Did you end up using an image in https://github.com/MicrosoftEdge/pushnotifications-demo? It should be the same. If not, 192x192 seems to be the standard from the docs I'm reading.

[2018-08-08 20:48] molant commented on #220
We will eventually have that category. If you have cycles might as well do it now.

[2018-08-08 22:54] #321 closed

[2018-08-08 22:54] #456 closed

[2018-08-08 22:54] #459 closed

[2018-08-08 22:54] #476 closed

[2018-08-08 22:54] #243 closed

[2018-08-08 22:54] #251 closed

[2018-08-08 22:59] molant opened #483 "404 pages are served with status code 200"
![image](https://user-images.githubusercontent.com/606594/43868751-fe02b5a0-9b23-11e8-9ed8-3d5c165be7ec.png)

[2018-08-09 18:30] alrra commented on #392
Talking to @molant, we were thinking that maybe we should have some kind of aggregator of all the changelogs, similar to:

https://changelog.travis-ci.com/
https://blog.github.com/changelog/

[2018-08-09 21:14] ststimac commented on #220
![seo-icons_seo-1](https://user-images.githubusercontent.com/18073131/43926230-7b224720-9bde-11e8-8117-a462ec7e7d3e.png)
![seo-icons_seo-2](https://user-images.githubusercontent.com/18073131/43926231-7b3d042a-9bde-11e8-98f0-70904c64d7e4.png)

Two options to choose from.